.image-6-icon6 {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm3,
  .recipe3 {
    margin: 0;
  }
  .recipe-realm3 {
    margin: 0;
    position: relative;
    font-size: 19px;
    line-height: 23px;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .branding,
  .frame-wrapper,
  .image-6-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .branding {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .frame-wrapper,
  .image-6-parent {
    flex-direction: row;
  }
  .image-6-parent {
    gap: var(--gap-3xs);
  }
  .frame-wrapper {
    padding: 0 var(--padding-20xl);
  }
  .about-us4 {
    margin: 0;
    position: relative;
    font-weight: 700;
    font-family: inherit;
  }
  .about-us4 {
    align-self: stretch;
    font-size: 35pxx;
    white-space: nowrap;
    z-index: 2;
  }
  .manifesto {
    flex: 1;
    font-size: inherit;
  }
  .frame-parent1,
  .manifesto-container,
  .sub-navigation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .manifesto-container {
    width: 284px;
    flex-direction: row;
    padding: 0 var(--padding-20xl);
    box-sizing: border-box;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
  }
  .frame-parent1,
  .sub-navigation {
    flex-direction: column;
  }
  .frame-parent1 {
    align-self: stretch;
    gap: 96px;
  }
  .sub-navigation {
    width: 334px;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .about3,
  .home3,
  .recipes4 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .about3,
  .recipes4 {
    min-width: 54px;
  }
  .recipes4 {
    min-width: 63px;
  }
  .header1,
  .navigation-links {
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  .navigation-links {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-200);
    font-family: var(--font-poppins);
  }
  .header1 {
    width: 326px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-7xl) var(--padding-5xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .design-element-child {
    width: 575px;
    height: 575px;
    position: absolute;
    margin: 0 !important;
    top: -300px;
    right: -173px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid var(--color-khaki-100);
    box-sizing: border-box;
  }
  .frame-child14 {
    height: 31px;
    width: 88px;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: none;
  }
  .login4 {
    position: relative;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 36px;
    z-index: 1;
  }
  .rectangle-parent11 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-7xl) var(--padding-7xs);
    background-color: transparent;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
  }
  .frame-child15 {
    height: 31px;
    width: 88px;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .register6 {
    position: relative;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 55px;
    z-index: 1;
  }
  .rectangle-parent12,
  .registration-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent12 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-base) var(--padding-7xs)
      var(--padding-mid);
    background-color: transparent;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    z-index: 1;
  }
  .registration-container {
    align-self: stretch;
    justify-content: flex-end;
    margin-top: -31px;
  }
  .design-element,
  .navigation1 {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .design-element {
    height: 275px;
    width: 402px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-4xl) 100px var(--padding-4xl) 114px;
    position: relative;
  }
  .navigation1 {
    width: 1470px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 var(--padding-xl);
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .background-shape-icon {
    width: 100%;
    height: 241px;
    position: absolute;
    margin: 0 !important;
    top: 95px;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .p1,
  .we-are-passionate {
    margin: 0;
  }
  .we-are-passionate-container {
    margin: 0;
    height: 73px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .passion-statement-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .our-story {
    margin: 0;
    position: relative;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
  }
  .about-us-content,
  .about-us-description {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .about-us-description {
    width: 1309px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
  }
  .about-us-content {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-2xl) var(--padding-xs) var(--padding-xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-lgi);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .our-journey-began {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .origin-story {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-8xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .our-features {
    margin: 0;
    position: relative;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
  }
  .recipe-sharing {
    font-weight: 500;
    font-family: var(--font-poppins);
  }
  .recipe-sharing-upload-and-sha {
    margin: 0;
  }
  .review-and-rating {
    font-weight: 500;
    font-family: var(--font-poppins);
  }
  .review-and-rating-review-and {
    margin: 0;
  }
  .recipe-discovery {
    font-weight: 500;
    font-family: var(--font-poppins);
  }
  .recipe-discovery-explore-a-va {
    margin: 0;
  }
  .recipe-sharing-upload-container {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    display: inline-block;
    max-width: 100%;
    font-family: inherit;
  }
  .feature-list,
  .sharing-feature {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .sharing-feature {
    width: 1280px;
    flex-direction: row;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
  }
  .feature-list {
    align-self: stretch;
    flex-direction: column;
    gap: 17px;
  }
  .we-are-committed1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .feature-description,
  .we-are-committed-to-providing-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .we-are-committed-to-providing-wrapper {
    width: 1267px;
    flex-direction: row;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
  }
  .feature-description {
    width: 1303px;
    flex-direction: column;
    gap: 79px;
  }
  .feature-description-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 27px var(--padding-12xl) var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-lgi);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .promise-content-child {
    align-self: stretch;
    height: 1033px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-powderblue-200);
    border: 0 solid var(--color-powderblue-100);
    box-sizing: border-box;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .our-promise1 {
    margin: 0;
  }
  .blank-line16 {
    margin: 0;
    font-size: var(--font-size-lgi);
  }
  .our-promise,
  .promise-content {
    margin: 0 !important;
    position: absolute;
  }
  .our-promise {
    width: 1334px;
    height: 57px;
    top: 0;
    right: 0;
    display: inline-block;
    z-index: 1;
  }
  .promise-content {
    height: 414px;
    width: 1437px;
    top: -153px;
    left: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 404px 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child16 {
    height: 261px;
    width: 1513px;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .image-7-icon3,
  .youtube-icon3 {
    height: 24px;
    width: 24px;
    position: relative;
    z-index: 1;
  }
  .image-7-icon3 {
    width: 107px;
    height: 107px;
    object-fit: contain;
  }
  .follow-us3 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 65px;
    z-index: 1;
  }
  .follow-us-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 2.1px;
  }
  .facebook-icon3,
  .instagram-instagram-icon3,
  .tiktok-icon3 {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .social-media-labels {
    align-self: stretch;
    flex-direction: row;
    gap: 19.9px;
  }
  .social-media-icons,
  .social-media-label-container,
  .social-media-labels {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .social-media-label-container {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .social-media-icons {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 18.9px;
  }
  .facebook-link {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
  }
  .facebook-link,
  .social-media-links,
  .youtube-link {
    display: flex;
    justify-content: flex-start;
  }
  .youtube-link {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: 1px;
  }
  .social-media-links {
    width: 155.7px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us5,
  .all-rights-reserved3,
  .blank-line17,
  .blank-line18,
  .blank-line19,
  .blank-line20,
  .blank-line21,
  .community-guidelines5,
  .contact-us5,
  .privacy-policy5 {
    margin: 0;
  }
  .about-us-privacy-container3 {
    width: 278px;
    position: relative;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child17,
  .frame-child18,
  .frame-child19,
  .frame-child20 {
    height: 30px;
    width: 107px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child18,
  .frame-child19,
  .frame-child20 {
    height: 27px;
    width: 115px;
  }
  .frame-child19,
  .frame-child20 {
    height: 26px;
    width: 174px;
  }
  .frame-child20 {
    height: 37px;
    width: 107px;
  }
  .rectangle-parent13 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 36px 122px var(--padding-12xl) 124px;
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    z-index: 1;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
    background-color: #EFCD69;
  }
  .about-us3,
  .promise-content-parent {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  .promise-content-parent {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .about-us3 {
    width: 100%;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1125px) {
    .navigation1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1025px) {
    .our-features,
    .our-story {
      font-size: var(--font-size-5xl);
    }
    .rectangle-parent13 {
      padding-left: 62px;
      padding-right: var(--padding-42xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .feature-description {
      gap: 39px;
    }
    .rectangle-parent13 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media screen and (max-width: 450px) {
    .frame-parent1 {
      gap: var(--gap-29xl);
    }
    .design-element {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .our-features,
    .our-story {
      font-size: var(--font-size-lg);
    }
    .feature-description {
      gap: var(--gap-xl);
    }
    .rectangle-parent13 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
 .about-us-privacy-container3 a{
  text-decoration: none;
  color: white;
 }
 body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-2xs: 11px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-smi: 13px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-darkseagreen: #6fb088;
  --color-gray-100: #848484;
  --color-gray-200: #777;
  --color-gray-300: #767676;
  --color-khaki-100: rgba(255, 228, 149, 0.22);
  --color-whitesmoke: #ececec;
  --color-dimgray: #545454;
  --color-powderblue-100: #b7d9c4;
  --color-black: #000;

  /* Gaps */
  --gap-base: 16px;
  --gap-29xl: 48px;
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-6xs: 7px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-lg: 18px;
  --padding-14xl: 33px;
  --padding-15xl: 34px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;
  --padding-7xs: 6px;
  --padding-18xl: 37px;
  --padding-3xl: 22px;
  --padding-9xs: 4px;
  --padding-19xl: 38px;
  --padding-9xl: 28px;
  --padding-10xs: 3px;
  --padding-mini: 15px;
  --padding-11xs: 2px;
  --padding-base: 16px;
  --padding-12xs: 1px;
  --padding-sm: 14px;
  --padding-8xs: 5px;
  --padding-xs: 12px;
  --padding-mid: 17px;
  --padding-42xl: 61px;
  --padding-4xl: 23px;
  --padding-smi: 13px;
  --padding-29xl: 48px;
  --padding-12xl: 31px;
  --padding-7xl: 26px;
  --padding-20xl: 39px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-4xs: 9px;
  --br-9xs: 4px;
  --br-xl: 20px;
}
