.community-guidelines-child,
.policy-shape {
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
}
.policy-shape {
  top: 806px;
  left: -454px;
  background-color: var(--color-powderblue-200);
  border: 0 solid var(--color-powderblue-100);
  width: 1033px;
  height: 1033px;
}
.community-guidelines-child {
  top: -300px;
  left: 1110px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 228, 149, 0.4)
  );
  border: 0 solid var(--color-khaki-100);
  width: 575px;
  height: 575px;
}
.community-guidelines-item {
  position: absolute;
  top: 95px;
  left: 0;
  width: 1512px;
  height: 241px;
  object-fit: cover;
}
.community-guidelines4 {
  margin: 0;
  position: absolute;
  top: 183px;
  left: 62px;
  font-size: var(--font-size-45xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-white);
  display: inline-block;
  width: 846px;
  height: 96px;
}
.our-mission1 {
  margin: 0;
}
.our-mission {
  margin: 0;
  position: absolute;
  top: 375px;
  left: 66px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 260px;
  height: 45px;
}
.be-relevant1 {
  margin: 0;
}
.be-relevant {
  margin: 0;
  position: absolute;
  top: 900px;
  left: 66px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 260px;
  height: 45px;
}
.be-constructive1 {
  margin: 0;
}
.be-constructive,
.we-are-committed1 {
  position: absolute;
  display: inline-block;
}
.be-constructive {
  margin: 0;
  top: 1090px;
  left: 66px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  width: 331px;
  height: 45px;
}
.we-are-committed1 {
  top: 432px;
  left: calc(50% - 690px);
  font-size: var(--font-size-lgi);
  width: 1390px;
  height: 56px;
}
.be-authentic,
.be-respectful {
  margin: 0;
  position: absolute;
  top: 515px;
  left: 66px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 231px;
  height: 45px;
}
.be-authentic {
  top: 704px;
}
.avoid-personal-attacks,
.respect-the-privacy,
.treat-others-with {
  margin: 0;
}
.treat-others-with-container {
  position: absolute;
  top: 579px;
  left: 66px;
  font-size: var(--font-size-lgi);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1390px;
  height: 84px;
}
.do-not-impersonate,
.represent-yourself-honestly,
.share-your-own {
  margin: 0;
}
.represent-yourself-honestly-container {
  position: absolute;
  top: 768px;
  left: 66px;
  font-size: var(--font-size-lgi);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1390px;
  height: 106px;
}
.avoid-spamming-or,
.post-content-that,
.use-appropriate-tags {
  margin: 0;
}
.post-content-that-container {
  position: absolute;
  top: 960px;
  left: 66px;
  font-size: var(--font-size-lgi);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1390px;
  height: 84px;
}
.avoid-negative-or,
.focus-on-sharing,
.provide-constructive-feedback {
  margin: 0;
}
.provide-constructive-feedback-container {
  position: absolute;
  top: 1147px;
  left: 66px;
  font-size: var(--font-size-lgi);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1390px;
  height: 84px;
}
.be-mindful-of1 {
  margin: 0;
}
.be-mindful-of-container1,
.consequences-of-violation {
  margin: 0;
  position: absolute;
  top: 1263px;
  left: 66px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 416px;
  height: 45px;
}
.consequences-of-violation {
  top: 1453px;
  width: 536px;
}
.only-share-recipes,
.respect-the-intellectual {
  margin: 0;
}
.only-share-recipes-container {
  position: absolute;
  top: 1331px;
  left: 66px;
  font-size: var(--font-size-lgi);
  display: inline-block;
  width: 1390px;
  height: 56px;
}
.permanent-ban-from,
.suspension-of-account,
.violations-of-these {
  margin: 0;
}
.violations-of-these-container {
  position: absolute;
  top: 1523px;
  left: 66px;
  font-size: var(--font-size-lgi);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1390px;
  height: 84px;
}
.frame-child18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  width: 100%;
  height: 100%;
  display: none;
}
.register6 {
  position: absolute;
  top: 5px;
  left: 17px;
  font-size: var(--font-size-smi);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 55px;
}
.frame-child19,
.rectangle-parent11 {
  position: absolute;
  border-radius: var(--br-9xs);
}
.rectangle-parent11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 23px;
  left: 1324px;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  width: 88px;
  height: 31px;
}
.frame-child19 {
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  width: 100%;
  height: 100%;
  display: none;
}
.login4 {
  position: absolute;
  top: 5px;
  left: 26px;
  font-size: var(--font-size-smi);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 36px;
}
.rectangle-parent12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 23px;
  left: 1224px;
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  width: 88px;
  height: 31px;
}
.frame-child20 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  width: 100%;
  height: 100%;
  display: none;
}
.image-7-icon3 {
  position: absolute;
  top: 37px;
  left: 149px;
  width: 107px;
  height: 107px;
  object-fit: cover;
}
.follow-us3 {
  position: absolute;
  top: 173px;
  left: 170px;
  font-weight: 500;
  display: inline-block;
  width: 65px;
  height: 15px;
  min-width: 65px;
}
.facebook-icon3,
.tiktok-icon3 {
  position: absolute;
  top: 0;
  left: 43.9px;
  width: 24px;
  height: 24px;
}
.tiktok-icon3 {
  left: 131.7px;
}
.facebook-container,
.instagram-instagram-icon3,
.youtube-icon3 {
  position: absolute;
  top: 0;
  left: 87.8px;
  width: 24px;
  height: 24px;
}
.facebook-container,
.youtube-icon3 {
  left: 0;
}
.facebook-container {
  top: 206px;
  left: 124px;
  width: 155.7px;
}
.about-us5,
.all-rights-reserved3,
.blank-line17,
.blank-line18,
.blank-line19,
.blank-line20,
.blank-line21,
.community-guidelines5,
.contact-us5,
.privacy-policy5 {
  margin: 0;
}
.about-us-privacy-container3 {
  position: absolute;
  top: 36px;
  left: 1113px;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: inline-block;
  width: 278px;
  height: 181px;
}
.rectangle-parent13 {
  position: absolute;
  top: 1691px;
  left: -1px;
  width: 100%;
  height: 261px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inter);
  background-color: #EFCD69;
}
.home3,
.recipes4 {
  position: absolute;
  top: 26px;
  left: 590px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-gray-200);
  display: inline-block;
  min-width: 47px;
  cursor: pointer;
}
.recipes4 {
  left: 845px;
  min-width: 63px;
}
.realm3,
.recipe3 {
  margin: 0;
}
.recipe-realm3 {
  top: 27px;
  left: 185px;
  font-size: 19px;
  line-height: 23px;
  font-weight: 600;
  background: linear-gradient(180deg, #b7d9c4, #d5a74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about3,
.image-6-icon6,
.recipe-realm3 {
  position: absolute;
  cursor: pointer;
}
.image-6-icon6 {
  top: 13px;
  left: 101px;
  width: 74px;
  height: 74px;
  object-fit: cover;
}
.about3 {
  top: 26px;
  left: 714px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-gray-200);
  display: inline-block;
  min-width: 54px;
}
.community-guidelines3 {
  width: 100%;
  height: 1952px;
  position: relative;
  background: linear-gradient(180deg, #fefefe, #eff3f2);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 767px) {
  .community-guidelines4 {
    font-size: var(--font-size-32xl);
  }
  .be-authentic,
  .be-constructive,
  .be-mindful-of-container1,
  .be-relevant,
  .be-respectful,
  .consequences-of-violation,
  .our-mission {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 450px) {
  .community-guidelines4 {
    font-size: var(--font-size-19xl);
  }
  .be-authentic,
  .be-constructive,
  .be-mindful-of-container1,
  .be-relevant,
  .be-respectful,
  .consequences-of-violation,
  .our-mission {
    font-size: var(--font-size-lg);
  }
  .recipe-realm3 {
    font-size: var(--font-size-base);
    line-height: 18px;
  }
}
.about-us-privacy-container3 a {
  text-decoration: none;
  color: white;
}
body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-2xs: 11px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-smi: 13px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-darkseagreen: #6fb088;
  --color-gray-100: #848484;
  --color-gray-200: #777;
  --color-gray-300: #767676;
  --color-khaki-100: rgba(255, 228, 149, 0.22);
  --color-whitesmoke: #ececec;
  --color-dimgray: #545454;
  --color-powderblue-100: #b7d9c4;
  --color-black: #000;

  /* Gaps */
  --gap-base: 16px;
  --gap-29xl: 48px;
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-6xs: 7px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-lg: 18px;
  --padding-14xl: 33px;
  --padding-15xl: 34px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;
  --padding-7xs: 6px;
  --padding-18xl: 37px;
  --padding-3xl: 22px;
  --padding-9xs: 4px;
  --padding-19xl: 38px;
  --padding-9xl: 28px;
  --padding-10xs: 3px;
  --padding-mini: 15px;
  --padding-11xs: 2px;
  --padding-base: 16px;
  --padding-12xs: 1px;
  --padding-sm: 14px;
  --padding-8xs: 5px;
  --padding-xs: 12px;
  --padding-mid: 17px;
  --padding-42xl: 61px;
  --padding-4xl: 23px;
  --padding-smi: 13px;
  --padding-29xl: 48px;
  --padding-12xl: 31px;
  --padding-7xl: 26px;
  --padding-20xl: 39px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-4xs: 9px;
  --br-9xs: 4px;
  --br-xl: 20px;
}
