.function-tree {
    width: 1033px;
    height: 1033px;
    position: absolute;
    margin: 0 !important;
    bottom: 91px;
    left: -676px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.4),
      rgba(131, 173, 147, 0)
    );
    border: 0 solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .healthy-options-child,
  .healthy-options-child1,
  .healthy-options-inner,
  .healthy-options-item {
    width: 187px;
    height: 113px;
    position: relative;
    border-radius: var(--br-xs);
    object-fit: cover;
    display: none;
    z-index: 1;
  }
  .healthy-options-child1,
  .healthy-options-inner,
  .healthy-options-item {
    z-index: 2;
  }
  .healthy-options-child1,
  .healthy-options-inner {
    z-index: 3;
  }
  .healthy-options-child1 {
    z-index: 4;
  }
  .image-6-icon9 {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm7,
  .recipe7 {
    margin: 0;
  }
  .recipe-realm7 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 23px;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .logic-gateway,
  .output-producer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .output-producer {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .logic-gateway {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .about7,
  .home7,
  .recipes9 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .about7,
  .recipes9 {
    min-width: 54px;
  }
  .recipes9 {
    min-width: 63px;
  }
  .comparison-point {
    margin: 0;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .comparison-point-wrapper {
    margin: 0;
    width: 318px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
  }
  .image-assembler,
  .image-assembler-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .image-assembler {
    width: 807px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .image-assembler-wrapper {
    align-self: stretch;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-size-xl);
    font-family: var(--font-poppins);
  }
  .search-recipe2 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .value-transformer-child {
    height: 50px;
    width: 539px;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .example-salad2 {
    width: 95px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    background-color: transparent;
    height: 18px;
    position: relative;
    color: var(--color-gray-200);
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 1;
  }
  .value-transformer {
    flex: 1;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-5xl);
    min-width: 95px;
    max-width: 100%;
  }
  .value-transformer-item {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    right: -144px;
    bottom: -50px;
    left: 144px;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .search2 {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 50px;
    z-index: 1;
  }
  .value-transformer1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mini) var(--padding-27xl) var(--padding-sm);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .iteration-manager,
  .link-connector,
  .variable-holder {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .variable-holder {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-2xs);
  }
  .iteration-manager,
  .link-connector {
    width: 694px;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .link-connector {
    width: 1016px;
    align-items: flex-end;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-12xl);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-darkslategray);
    font-family: var(--font-poppins);
  }
  .healthy-options-child2 {
    width: 187px;
    height: 113px;
    object-fit: cover;
    display: none;
    z-index: 6;
  }
  .frame-child119,
  .frame-child120,
  .healthy-options-child2 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child119 {
    width: 202px;
    height: 183px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child120 {
    align-self: stretch;
    height: 115.5px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-fajitas {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .variable-assigner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .timer-manager-child {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor7 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .error-handler1,
  .timer-manager {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .timer-manager {
    flex: 1;
    position: relative;
  }
  .error-handler1 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-child121,
  .rectangle-parent44 {
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent44 {
    flex: 0.9307;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xl);
    gap: var(--gap-12xs);
    min-width: 201px;
    max-width: 202px;
  }
  .frame-child121 {
    width: 202px;
    height: 183px;
    position: relative;
    display: none;
  }
  .cobb-salad,
  .frame-child122 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child122 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .signal-modifier {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .data-processor-child {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor8 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .data-processor {
    flex: 1;
    flex-direction: row;
    position: relative;
  }
  .calculator,
  .data-processor,
  .rectangle-parent45,
  .timing-controller {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .timing-controller {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .calculator,
  .rectangle-parent45 {
    flex-direction: column;
    box-sizing: border-box;
  }
  .rectangle-parent45 {
    align-self: stretch;
    height: 183px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-8xs-1) var(--padding-7xs) var(--padding-9xl-6);
    gap: var(--gap-12xs);
  }
  .calculator {
    flex: 0.9854;
    padding: 0 var(--padding-10xs) 0 0;
    min-width: 201px;
    max-width: 205px;
  }
  .logic-gate-icon {
    height: 12px;
    width: 14px;
    position: absolute;
    margin: 0 !important;
    right: 15px;
    bottom: 11.8px;
  }
  .input-collector-child {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .input-collector-item {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .honey-garlic-shrimp {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .error-handler2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .condition-handler-child,
  .condition-handler-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .condition-handler-item {
    z-index: 3;
  }
  .condition-handler {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor9 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 4;
  }
  .parallel-processor {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .input-collector {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .connection-manager,
  .geometry-handler,
  .input-collector {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .connection-manager {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .geometry-handler {
    flex: 0.9854;
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 205px;
  }
  .constant-provider-child {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .constant-provider-item {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .splitter {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .map-function-child {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef20 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .map-function {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill4 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .constant-provider,
  .variable-holder1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .constant-provider {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .variable-holder1 {
    flex: 0.9573;
    padding: 0 var(--padding-4xs) 0 0;
    min-width: 207px;
    max-width: 211px;
  }
  .phheart-fill5 {
    margin: 0 !important;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child123,
  .frame-child124 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child123 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child124 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .zucchini-pasta {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .signal-modulator {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .timing-manager-child {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 2;
  }
  .this-guinness-beef21 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 3;
  }
  .timing-manager {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent46 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .value-receiver {
    width: 575px;
    height: 575px;
    position: absolute;
    margin: 0 !important;
    top: -300px;
    right: -173px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid var(--color-khaki-100);
    box-sizing: border-box;
  }
  .frame-child125 {
    height: 31px;
    width: 88px;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .register10 {
    position: relative;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 55px;
    z-index: 1;
  }
  .output-collector,
  .rectangle-parent47 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent47 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-base) var(--padding-7xs)
      var(--padding-mid);
    background-color: transparent;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    z-index: 1;
  }
  .output-collector {
    align-self: stretch;
    justify-content: flex-end;
  }
  .frame-child126 {
    height: 31px;
    width: 88px;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: none;
  }
  .login8 {
    position: relative;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 36px;
    z-index: 1;
  }
  .rectangle-parent48 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-7xl) var(--padding-7xs);
    background-color: transparent;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
    margin-top: -31px;
  }
  .condition-sorter {
    height: 275px;
    width: 402px;
    margin: 0 !important;
    position: absolute;
    top: -254px;
    right: -233px;
    flex-direction: column;
    padding: var(--padding-4xl) var(--padding-81xl) var(--padding-4xl)
      var(--padding-95xl);
    box-sizing: border-box;
  }
  .condition-sorter,
  .phheart-fill-group,
  .timer-trigger-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .phheart-fill-group {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .timer-trigger-inner {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 202px;
  }
  .error-handler,
  .timer-trigger {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .timer-trigger {
    flex: 1;
    justify-content: center;
    gap: var(--gap-2xs);
  }
  .error-handler {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-11xs);
    box-sizing: border-box;
  }
  .frame-child127,
  .frame-child128 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child127 {
    width: 202px;
    height: 183px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child128 {
    align-self: stretch;
    height: 115.5px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-fajitas1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .comparator {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .collator-child {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor10 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .collator,
  .sorter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .collator {
    flex: 1;
    position: relative;
  }
  .sorter {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-child129,
  .rectangle-parent49 {
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent49 {
    flex: 0.9307;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xl);
    gap: var(--gap-12xs);
    min-width: 201px;
    max-width: 202px;
    z-index: 1;
  }
  .frame-child129 {
    width: 202px;
    height: 183px;
    position: relative;
    display: none;
  }
  .cobb-salad1,
  .frame-child130 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child130 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad1 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .analyzer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .checkerboard-child {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor11 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .checkerboard {
    flex: 1;
    flex-direction: row;
    position: relative;
  }
  .checkerboard,
  .converter,
  .rectangle-parent50,
  .verifier {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .verifier {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .converter,
  .rectangle-parent50 {
    flex-direction: column;
    box-sizing: border-box;
  }
  .rectangle-parent50 {
    align-self: stretch;
    height: 183px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-8xs-1) var(--padding-7xs) var(--padding-9xl-6);
    gap: var(--gap-12xs);
  }
  .converter {
    flex: 0.9854;
    padding: 0 var(--padding-10xs) 0 0;
    min-width: 201px;
    max-width: 205px;
  }
  .fault-finder-icon {
    height: 12px;
    width: 14px;
    position: absolute;
    margin: 0 !important;
    right: 15px;
    bottom: 11.8px;
  }
  .exception-handler-child {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .exception-handler-item {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .honey-garlic-shrimp1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .troubleshooter {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child131,
  .frame-child132 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .frame-child132 {
    z-index: 3;
  }
  .frame-parent38 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor12 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 4;
  }
  .fault-tolerant {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .exception-handler {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .error-report,
  .exception-handler,
  .fraud-detector {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .error-report {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .fraud-detector {
    flex: 0.9854;
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 205px;
  }
  .output-merge-child,
  .output-merge-item {
    position: relative;
    border-radius: var(--br-xs);
  }
  .output-merge-child {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .output-merge-item {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .teriyaki-chicken-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .data-transformer-child {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef22 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .data-transformer {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill6 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .input-filter,
  .output-merge {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .output-merge {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .input-filter {
    flex: 0.9573;
    padding: 0 var(--padding-4xs) 0 0;
    min-width: 207px;
    max-width: 211px;
  }
  .phheart-fill7 {
    margin: 0 !important;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .value-calculator-child {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .value-calculator-item {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .zucchini-pasta1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .image-cropping {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .error-reporting-child {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 2;
  }
  .this-guinness-beef23 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 3;
  }
  .error-reporting {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .row-selector,
  .value-calculator {
    align-self: stretch;
    justify-content: flex-start;
  }
  .value-calculator {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .row-selector {
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .format-conversion,
  .row-selector,
  .transformer {
    display: flex;
    align-items: flex-start;
  }
  .format-conversion {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 202px;
  }
  .transformer {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-2xs);
  }
  .frame-child133,
  .frame-child134 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child133 {
    width: 202px;
    height: 183px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child134 {
    align-self: stretch;
    height: 115.5px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-fajitas2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-fajitas-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child135 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor13 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent39,
  .frame-wrapper33 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent39 {
    flex: 1;
    position: relative;
  }
  .frame-wrapper33 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-child136,
  .rectangle-parent51 {
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent51 {
    flex: 0.9307;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xl);
    gap: var(--gap-12xs);
    min-width: 201px;
    max-width: 202px;
    z-index: 1;
  }
  .frame-child136 {
    width: 202px;
    height: 183px;
    position: relative;
    display: none;
  }
  .cobb-salad2,
  .frame-child137 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child137 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad2 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .cobb-salad-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child138 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor14 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent40 {
    flex: 1;
    flex-direction: row;
    position: relative;
  }
  .frame-parent40,
  .frame-wrapper34,
  .rectangle-parent52,
  .transformer-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper34 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent52,
  .transformer-inner {
    flex-direction: column;
    box-sizing: border-box;
  }
  .rectangle-parent52 {
    align-self: stretch;
    height: 183px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-8xs-1) var(--padding-7xs) var(--padding-9xl-6);
    gap: var(--gap-12xs);
  }
  .transformer-inner {
    flex: 0.9854;
    padding: 0 var(--padding-10xs) 0 0;
    min-width: 201px;
    max-width: 205px;
  }
  .vector-icon {
    height: 12px;
    width: 14px;
    position: absolute;
    margin: 0 !important;
    right: 15px;
    bottom: 11.8px;
  }
  .frame-child139,
  .frame-child140 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child139 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child140 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .honey-garlic-shrimp2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .honey-garlic-shrimp-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child141,
  .frame-child142 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .frame-child142 {
    z-index: 3;
  }
  .frame-parent42 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor15 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 4;
  }
  .frame-parent41 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent53 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .rectangle-parent53,
  .transformer-child,
  .vector-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-parent {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .transformer-child {
    flex: 0.9854;
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 205px;
  }
  .frame-child143,
  .frame-child144 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child143 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child144 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .teriyaki-chicken-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child145 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef24 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent43 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent54,
  .transformer-inner1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent54 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .transformer-inner1 {
    flex: 0.9573;
    padding: 0 var(--padding-4xs) 0 0;
    min-width: 207px;
    max-width: 211px;
  }
  .phheart-fill8 {
    margin: 0 !important;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child146,
  .frame-child147 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child146 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child147 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .zucchini-pasta2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .zucchini-pasta-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child148 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 2;
  }
  .this-guinness-beef25 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent44 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill-container,
  .rectangle-parent55 {
    align-self: stretch;
    justify-content: flex-start;
  }
  .rectangle-parent55 {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .phheart-fill-container {
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .phheart-fill-container,
  .transformer-inner2,
  .transformer1 {
    display: flex;
    align-items: flex-start;
  }
  .transformer-inner2 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 202px;
  }
  .transformer1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-2xs);
  }
  .frame-child149,
  .frame-child150 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child149 {
    width: 202px;
    height: 183px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child150 {
    align-self: stretch;
    height: 115.5px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-fajitas3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-fajitas-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child151 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor16 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent45,
  .frame-wrapper35 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent45 {
    flex: 1;
    position: relative;
  }
  .frame-wrapper35 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill9 {
    width: 16px;
    height: 16.4px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-child152,
  .rectangle-parent56 {
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent56 {
    flex: 0.9307;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xl);
    gap: var(--gap-12xs);
    min-width: 201px;
    max-width: 202px;
    z-index: 1;
  }
  .frame-child152 {
    width: 202px;
    height: 183px;
    position: relative;
    display: none;
  }
  .cobb-salad3,
  .frame-child153 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child153 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad3 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .cobb-salad-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child154 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor17 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent46 {
    flex: 1;
    flex-direction: row;
    position: relative;
  }
  .frame-parent46,
  .frame-wrapper36,
  .rectangle-parent57,
  .transformer-inner3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper36 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent57,
  .transformer-inner3 {
    flex-direction: column;
    box-sizing: border-box;
  }
  .rectangle-parent57 {
    align-self: stretch;
    height: 183px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-8xs-1) var(--padding-7xs) var(--padding-9xl-6);
    gap: var(--gap-12xs);
  }
  .transformer-inner3 {
    flex: 0.9854;
    padding: 0 var(--padding-10xs) 0 0;
    min-width: 201px;
    max-width: 205px;
  }
  .vector-icon1 {
    height: 12px;
    width: 14px;
    position: absolute;
    margin: 0 !important;
    right: 15px;
    bottom: 11.8px;
  }
  .frame-child155,
  .frame-child156 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child155 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child156 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .honey-garlic-shrimp3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .honey-garlic-shrimp-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child157,
  .frame-child158 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .frame-child158 {
    z-index: 3;
  }
  .frame-parent48 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor18 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 4;
  }
  .frame-parent47 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent58 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .rectangle-parent58,
  .transformer-inner4,
  .vector-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-group {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .transformer-inner4 {
    flex: 0.9854;
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 205px;
  }
  .frame-child159,
  .frame-child160 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child159 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child160 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .teriyaki-chicken-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child161 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef26 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent49 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent59,
  .transformer-inner5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent59 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .transformer-inner5 {
    flex: 0.9573;
    padding: 0 var(--padding-4xs) 0 0;
    min-width: 207px;
    max-width: 211px;
  }
  .phheart-fill10 {
    margin: 0 !important;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child162,
  .frame-child163 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child162 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child163 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .zucchini-pasta3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .zucchini-pasta-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child164 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 2;
  }
  .this-guinness-beef27 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent50 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill-parent1,
  .rectangle-parent60 {
    align-self: stretch;
    justify-content: flex-start;
  }
  .rectangle-parent60 {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .phheart-fill-parent1 {
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .phheart-fill-parent1,
  .transformer-inner6,
  .transformer2 {
    display: flex;
    align-items: flex-start;
  }
  .transformer-inner6 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 202px;
  }
  .transformer2 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-2xs);
  }
  .frame-child165,
  .frame-child166 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child165 {
    width: 202px;
    height: 183px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child166 {
    align-self: stretch;
    height: 115.5px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-fajitas4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-fajitas-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child167 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor19 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent51,
  .frame-wrapper37 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent51 {
    flex: 1;
    position: relative;
  }
  .frame-wrapper37 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill11 {
    width: 16px;
    height: 16.4px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-child168,
  .rectangle-parent61 {
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent61 {
    flex: 0.9307;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xl);
    gap: var(--gap-12xs);
    min-width: 201px;
    max-width: 202px;
    z-index: 1;
  }
  .frame-child168 {
    width: 202px;
    height: 183px;
    position: relative;
    display: none;
  }
  .cobb-salad4,
  .frame-child169 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child169 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad4 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .cobb-salad-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child170 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor20 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent52 {
    flex: 1;
    flex-direction: row;
    position: relative;
  }
  .frame-parent52,
  .frame-wrapper38,
  .rectangle-parent62,
  .transformer-inner7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper38 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent62,
  .transformer-inner7 {
    flex-direction: column;
    box-sizing: border-box;
  }
  .rectangle-parent62 {
    align-self: stretch;
    height: 183px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-8xs-1) var(--padding-7xs) var(--padding-9xl-6);
    gap: var(--gap-12xs);
  }
  .transformer-inner7 {
    flex: 0.9854;
    padding: 0 var(--padding-10xs) 0 0;
    min-width: 201px;
    max-width: 205px;
  }
  .vector-icon2 {
    height: 12px;
    width: 14px;
    position: absolute;
    margin: 0 !important;
    right: 15px;
    bottom: 11.8px;
  }
  .frame-child171,
  .frame-child172 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child171 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child172 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .honey-garlic-shrimp4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .honey-garlic-shrimp-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child173,
  .frame-child174 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .frame-child174 {
    z-index: 3;
  }
  .frame-parent54 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor21 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 4;
  }
  .frame-parent53 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent63 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .rectangle-parent63,
  .transformer-inner8,
  .vector-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-container {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .transformer-inner8 {
    flex: 0.9854;
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 205px;
  }
  .frame-child175,
  .frame-child176 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child175 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child176 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .teriyaki-chicken-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child177 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef28 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent55 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent64,
  .transformer-inner9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent64 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .transformer-inner9 {
    flex: 0.9573;
    padding: 0 var(--padding-4xs) 0 0;
    min-width: 207px;
    max-width: 211px;
  }
  .phheart-fill12 {
    margin: 0 !important;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child178,
  .frame-child179 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child178 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child179 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .zucchini-pasta4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .zucchini-pasta-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child180 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 2;
  }
  .this-guinness-beef29 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent56 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent65 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .phheart-fill-parent2,
  .rectangle-parent65,
  .transformer-inner10 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .phheart-fill-parent2 {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .transformer-inner10 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 202px;
  }
  .reducer,
  .transformer3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-2xs);
  }
  .reducer {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-mini);
  }
  .receiver-station,
  .signal-emitter {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .receiver-station {
    width: 1071px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
  }
  .signal-emitter {
    width: 1285px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .load-more1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 76px;
  }
  .row-processing {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-9xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child181 {
    height: 261px;
    width: 1513px;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .image-7-icon8,
  .youtube-icon7 {
    height: 24px;
    width: 24px;
    position: relative;
    z-index: 1;
  }
  .image-7-icon8 {
    width: 107px;
    height: 107px;
    object-fit: contain;
  }
  .follow-us7 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 65px;
    z-index: 1;
  }
  .value-parser {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
  }
  .facebook-icon7,
  .instagram-instagram-icon7,
  .tiktok-icon7 {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .column-processing,
  .image-segmentation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .image-segmentation {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-lgi-9);
  }
  .column-processing {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .row-transformer {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 var(--padding-lg-9);
  }
  .error-handling-chain,
  .image-resizing,
  .row-transformer {
    display: flex;
    justify-content: flex-start;
  }
  .error-handling-chain {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-10xl);
    
  }
  .image-resizing {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-12xs);
  }
  .image-resizing-wrapper {
    width: 155.7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us9,
  .all-rights-reserved7,
  .blank-line38,
  .blank-line39,
  .blank-line40,
  .blank-line41,
  .blank-line42,
  .community-guidelines9,
  .contact-us9,
  .privacy-policy9 {
    margin: 0;
  }
  .about-us-privacy-container7 {
    margin: 0;
    width: 278px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child182,
  .frame-child183,
  .frame-child184,
  .frame-child185 {
    height: 30px;
    width: 107px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child183,
  .frame-child184,
  .frame-child185 {
    height: 27px;
    width: 115px;
  }
  .frame-child184,
  .frame-child185 {
    height: 26px;
    width: 174px;
  }
  .frame-child185 {
    height: 37px;
    width: 107px;
  }
  .healthy-options,
  .rectangle-parent66 {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent66 {
    margin-left: -102px;
    width: 1513px;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
      var(--padding-105xl);
    max-width: 107%;
    flex-shrink: 0;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
    background-color: #EFCD69;
  }
  .healthy-options {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0 var(--padding-82xl);
    gap: var(--gap-19xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 1200px) {
    .healthy-options {
      padding-left: var(--padding-31xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .timer-trigger,
    .transformer,
    .transformer1,
    .transformer2,
    .transformer3 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .comparison-point-wrapper {
      display: none;
    }
    .image-assembler {
      width: 489px;
    }
    .link-connector {
      gap: var(--gap-mini);
    }
    .rectangle-parent66 {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: var(--padding-43xl);
      padding-right: var(--padding-42xl);
      box-sizing: border-box;
    }
    .healthy-options {
      gap: var(--gap-lgi);
      padding-left: var(--padding-6xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .search-recipe2 {
      font-size: var(--font-size-lgi);
    }
    .calculator,
    .converter,
    .fraud-detector,
    .geometry-handler,
    .input-filter,
    .rectangle-parent44,
    .rectangle-parent49,
    .rectangle-parent51,
    .rectangle-parent56,
    .rectangle-parent61,
    .transformer-child,
    .transformer-inner,
    .transformer-inner1,
    .transformer-inner3,
    .transformer-inner4,
    .transformer-inner5,
    .transformer-inner7,
    .transformer-inner8,
    .transformer-inner9,
    .variable-holder1 {
      flex: 1;
    }
    .rectangle-parent66 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  .about-us-privacy-container7 a{
    text-decoration: none;
    color: white;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-3xs: 10px;
    --font-size-base: 16px;
    --font-size-2xs: 11px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-smi: 13px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
    --font-size-45xl: 64px;
    --font-size-19xl: 38px;
    --font-size-32xl: 51px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-7xs: 6px;
    --font-size-mini: 15px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkseagreen: #6fb088;
    --color-gray-100: #898989;
    --color-gray-200: #848484;
    --color-gray-300: #777;
    --color-gray-400: #767676;
    --color-khaki-100: #ffe495;
    --color-khaki-200: rgba(255, 228, 149, 0.22);
    --color-whitesmoke: #ececec;
    --color-dimgray: #545454;
    --color-powderblue-100: #b7d9c4;
    --color-powderblue-200: rgba(183, 217, 196, 0.4);
    --color-black: #000;
    --color-darkslategray: #3c3c3c;
  
    /* Gaps */
    --gap-base: 16px;
    --gap-29xl: 48px;
    --gap-xl: 20px;
    --gap-lg: 18px;
    --gap-6xs: 7px;
    --gap-3xs: 10px;
    --gap-2xs: 11px;
    --gap-12xs: 1px;
    --gap-10xl: 29px;
    --gap-lgi-9: 19.9px;
    --gap-19xl: 38px;
    --gap-lgi: 19px;
    --gap-4xs: 9px;
    --gap-12xl: 31px;
    --gap-mini: 15px;
    --gap-5xs: 8px;
    --gap-3xl: 22px;
  
    /* Paddings */
    --padding-139xl: 158px;
    --padding-xl: 20px;
    --padding-2xl: 21px;
    --padding-lg: 18px;
    --padding-14xl: 33px;
    --padding-5xl: 24px;
    --padding-15xl: 34px;
    --padding-4xs: 9px;
    --padding-5xs: 8px;
    --padding-6xs: 7px;
    --padding-3xs: 10px;
    --padding-7xs: 6px;
    --padding-18xl: 37px;
    --padding-3xl: 22px;
    --padding-9xs: 4px;
    --padding-19xl: 38px;
    --padding-9xl: 28px;
    --padding-10xs: 3px;
    --padding-mini: 15px;
    --padding-11xs: 2px;
    --padding-base: 16px;
    --padding-12xs: 1px;
    --padding-sm: 14px;
    --padding-8xs: 5px;
    --padding-xs: 12px;
    --padding-mid: 17px;
    --padding-42xl: 61px;
    --padding-4xl: 23px;
    --padding-smi: 13px;
    --padding-29xl: 48px;
    --padding-27xl: 46px;
    --padding-17xl: 36px;
    --padding-103xl: 122px;
    --padding-12xl: 31px;
    --padding-105xl: 124px;
    --padding-43xl: 62px;
    --padding-lg-9: 18.9px;
    --padding-10xs-1: 2.1px;
    --padding-8xl: 27px;
    --padding-81xl: 100px;
    --padding-95xl: 114px;
    --padding-7xl: 26px;
    --padding-20xl: 39px;
    --padding-82xl: 101px;
    --padding-31xl: 50px;
    --padding-6xl: 25px;
    --padding-2xs: 11px;
    --padding-8xs-1: 4.1px;
    --padding-9xl-6: 28.6px;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-4xs: 9px;
    --br-9xs: 4px;
    --br-xl: 20px;
  }
  