.new-recipes {
    margin: 0 !important;
    position: absolute;
    bottom: 760px;
    left: 205px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    z-index: 2;
  }
  .exciting-new-recipes {
    width: 214px;
    height: 72px;
    bottom: 673px;
    left: 205px;
    font-size: var(--font-size-xs);
    font-weight: 400;
    color: var(--color-gray-200);
    display: inline-block;
  }
  .exciting-new-recipes,
  .healthy-options-nutrient-rich,
  .healthy-options1,
  .see-more {
    margin: 0 !important;
    position: absolute;
    font-family: inherit;
    z-index: 2;
  }
  .see-more {
    right: 205px;
    bottom: 615px;
    font-size: var(--font-size-sm);
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    display: inline-block;
    min-width: 67px;
  }
  .healthy-options-nutrient-rich,
  .healthy-options1 {
    left: 205px;
  }
  .healthy-options-nutrient-rich {
    width: 214px;
    bottom: 432px;
    font-size: var(--font-size-xs);
    font-weight: 400;
    color: var(--color-gray-200);
    display: inline-block;
  }
  .healthy-options1 {
    bottom: 519px;
    font-size: inherit;
    font-weight: 700;
  }
  .image-6-icon10 {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm8,
  .recipe8 {
    margin: 0;
  }
  .recipe-realm8 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 23px;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    z-index: 1;
  }
  .recipe-realm-container {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .frame-wrapper38,
  .image-6-container,
  .recipe-realm-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .image-6-container {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .frame-wrapper38 {
    flex-direction: column;
    padding: var(--padding-smi) 0 0;
  }
  .home-link {
    width: 100%;
    height: 575px;
    position: absolute;
    margin: 0 !important;
    top: -287px;
    right: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid var(--color-khaki-100);
    box-sizing: border-box;
    z-index: 1;
  }
  .about8,
  .home8 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
    z-index: 2;
  }
  .about8 {
    min-width: 54px;
  }
  .about-wrapper {
    width: 302px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    margin-top: -24px;
  }
  .recipes10 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 63px;
    cursor: pointer;
    z-index: 2;
  }
  .recipes-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: -24px;
  }
  .home-link-parent {
    height: 288px;
    width: 575px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xl) 120px var(--padding-7xl) 137px;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    font-size: var(--font-size-base);
  }
  .frame-child186 {
    height: 31px;
    width: 88px;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: none;
  }
  .login9 {
    position: relative;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 36px;
    z-index: 1;
  }
  .rectangle-parent69 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-7xl) var(--padding-7xs);
    background-color: transparent;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
  }
  .frame-child187 {
    height: 31px;
    width: 88px;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .register11 {
    position: relative;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 55px;
    z-index: 1;
  }
  .frame-parent61,
  .rectangle-parent70 {
    flex-direction: row;
    justify-content: flex-start;
  }
  .rectangle-parent70 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-base) var(--padding-7xs)
      var(--padding-mid);
    background-color: transparent;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: flex;
    align-items: flex-start;
  }
  .frame-parent61 {
    gap: var(--gap-xs);
  }
  .frame-parent60,
  .frame-parent61,
  .frame-wrapper39 {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper39 {
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-4xl) 0 0;
  }
  .frame-parent60 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .component-child {
    width: 84px;
    height: 19px;
    position: absolute;
    margin: 0 !important;
    right: -33px;
    bottom: 63px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .frame-wrapper40 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .image-5-icon {
    position: absolute;
    top: 77px;
    left: 281px;
    width: 453px;
    height: 466px;
    object-fit: contain;
    z-index: 2;
  }
  .component-parent {
    height: 1033px;
    width: 1033px;
    position: absolute;
    margin: 0 !important;
    top: -765px;
    left: -860px;
  }
  .frame-child188 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa5,
  .frame-child189 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child189 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa5 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-wrapper3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child190 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef30 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent62 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .featured-recipe,
  .rectangle-parent71 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent71 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 2;
  }
  .featured-recipe {
    width: 202px;
    height: 179px;
    margin: 0 !important;
    position: absolute;
    top: 490px;
    left: 870px;
    flex-direction: row;
  }
  .frame-child191 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child192,
  .zucchini-pasta5 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child192 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .zucchini-pasta5 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .zucchini-pasta-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child193 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef31 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent63 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill11 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .rectangle-parent72,
  .similarlogicasabove {
    position: absolute;
    margin: 0 !important;
    box-sizing: border-box;
  }
  .rectangle-parent72 {
    width: 202px;
    height: 179px;
    right: 4px;
    bottom: 96px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 2;
  }
  .similarlogicasabove {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.4),
      rgba(131, 173, 147, 0)
    );
    border: 0 solid var(--color-powderblue-100);
    z-index: 1;
  }
  .search-recipe3 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    white-space: nowrap;
    z-index: 2;
  }
  .search-input-child {
    height: 50px;
    width: 539px;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .example-salad3 {
    width: 95px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    background-color: transparent;
    height: 18px;
    position: relative;
    color: var(--color-gray-200);
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    z-index: 3;
  }
  .search-input,
  .search-input-item {
    border-radius: var(--br-4xs);
    z-index: 2;
  }
  .search-input {
    flex: 1;
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-5xl);
    max-width: 100%;
  }
  .search-input-item {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    right: -144px;
    bottom: -50px;
    left: 144px;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .search3 {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 50px;
    z-index: 3;
  }
  .search-input-parent,
  .search-input1,
  .search-recipe-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .search-input1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mini) var(--padding-27xl) var(--padding-sm);
    background-color: transparent;
    position: relative;
  }
  .search-input-parent,
  .search-recipe-container {
    align-self: stretch;
    gap: var(--gap-2xs);
    max-width: 100%;
  }
  .search-recipe-container {
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .frame-child194 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew6,
  .frame-child195 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child195 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew6 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .beef-stew-wrapper3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child196 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef32 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent64 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent73 {
    height: 179px;
    width: 202px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    cursor: pointer;
    z-index: 2;
  }
  .phheart-fill-icon2 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-child197 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child198,
  .frame-child199 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child198 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child199 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken5 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .korean-fried-chicken-wrapper3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child200,
  .frame-child201 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .frame-child201 {
    z-index: 2;
  }
  .frame-parent66 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor22 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent65 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-child202,
  .phheart-fill-parent3 {
    width: 202px;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .phheart-fill-parent3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 3;
  }
  .frame-child202 {
    position: relative;
    display: none;
  }
  .chicken-salad5,
  .frame-child203 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child203 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad5 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-wrapper3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child204 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef33 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent67 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-child205,
  .rectangle-parent74 {
    width: 202px;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent74 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 2;
  }
  .frame-child205 {
    position: relative;
    display: none;
  }
  .cobb-salad5,
  .frame-child206 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child206 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad5 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .cobb-salad-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child207 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .lorem-ipsum-dolor23 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent68 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent75 {
    height: 179px;
    width: 202px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 2;
  }
  .phheart-fill-icon3 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-child208 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child209,
  .frame-child210 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child209 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child210 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .honey-garlic-shrimp5 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .honey-garlic-shrimp-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child211,
  .frame-child212 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .frame-child212 {
    z-index: 2;
  }
  .frame-parent70 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor24 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent69 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill-parent4 {
    height: 179px;
    width: 202px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 3;
  }
  .frame-child213,
  .frame-child214 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child213 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child214 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken5 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .teriyaki-chicken-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child215 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef34 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent71 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .recommendations-grid,
  .rectangle-parent76 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent76 {
    height: 179px;
    width: 202px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 2;
  }
  .recommendations-grid {
    width: 633px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 89px 11.5px;
    min-height: 447px;
    max-width: 100%;
  }
  .recommendations-grid-wrapper,
  .similarlogicasabove-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-6xs);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-3xs);
    color: var(--color-black);
  }
  .similarlogicasabove-parent {
    width: 1033px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 280px 176px var(--padding-81xl) 163px;
    position: relative;
    gap: 112px;
    font-size: var(--font-size-5xl);
    color: var(--color-darkslategray);
  }
  .see-more1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 67px;
    z-index: 2;
  }
  .more-button {
    margin: 0 !important;
    position: absolute;
    right: 0;
    bottom: 65px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-4xs) var(--padding-7xs)
      var(--padding-3xs);
    cursor: pointer;
    z-index: 3;
    text-align: right;
    font-size: var(--font-size-sm);
  }
  .content-grid,
  .content-grid-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .content-grid {
    width: 1076px;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }
  .content-grid-wrapper {
    width: 1268px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent59 {
    width: 1311px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .logout-state-inner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child216 {
    height: 261px;
    width: 1513px;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .image-7-icon8,
  .youtube-icon7 {
    height: 24px;
    width: 24px;
    position: relative;
    z-index: 1;
  }
  .image-7-icon8 {
    width: 107px;
    height: 107px;
    object-fit: contain;
  }
  .follow-us7 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 65px;
    z-index: 1;
  }
  .follow-us-wrapper1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
  }
  .facebook-icon7,
  .instagram-instagram-icon7,
  .tiktok-icon7 {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .facebook-parent2 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-xl);
  }
  .facebook-parent2,
  .frame-parent72,
  .frame-wrapper42 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent72 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .frame-wrapper42 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-lg-9);
  }
  .image-7-group {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-10xl);
  }
  .frame-wrapper41,
  .image-7-group,
  .youtube-group {
    display: flex;
    justify-content: flex-start;
  }
  .youtube-group {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-12xs);
  }
  .frame-wrapper41 {
    width: 155.9px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us9,
  .all-rights-reserved7,
  .blank-line41,
  .blank-line42,
  .blank-line43,
  .blank-line44,
  .blank-line45,
  .community-guidelines9,
  .contact-us9,
  .privacy-policy9 {
    margin: 0;
  }
  .about-us-privacy-container7 {
    margin: 0;
    width: 278px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child217,
  .frame-child218,
  .frame-child219,
  .frame-child220 {
    height: 30px;
    width: 107px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child218,
  .frame-child219,
  .frame-child220 {
    height: 27px;
    width: 115px;
  }
  .frame-child219,
  .frame-child220 {
    height: 26px;
    width: 174px;
  }
  .frame-child220 {
    height: 37px;
    width: 107px;
  }
  .rectangle-parent77 {
    align-self: stretch;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
      var(--padding-105xl);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .logout-state {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-mini);
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-darkslategray);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 1025px) {
    .frame-parent60 {
      flex-wrap: wrap;
    }
    .similarlogicasabove-parent {
      gap: 56px;
      padding: 182px 88px 65px 81px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 975px) {
    .rectangle-parent77 {
      padding-left: var(--padding-43xl);
      padding-right: var(--padding-42xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 725px) {
    .home-link-parent {
      padding-left: 68px;
      padding-right: 60px;
      box-sizing: border-box;
    }
    .search-input-parent {
      display: none;
    }
    .similarlogicasabove-parent {
      gap: 28px;
      padding: 118px 44px var(--padding-23xl) 40px;
      box-sizing: border-box;
    }
    .rectangle-parent77 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media screen and (max-width: 450px) {
    .healthy-options1,
    .new-recipes {
      font-size: var(--font-size-lgi);
    }
    .home-link-parent {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .search-recipe3 {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent77,
    .similarlogicasabove-parent {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .rectangle-parent77 {
      padding-left: var(--padding-xl);
    }
  }
  .rectangle-parent69{
    margin-right: 40px;
  }
  .about-us-privacy-container7 a{
    text-decoration: none;
    color: white;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-3xs: 10px;
    --font-size-base: 16px;
    --font-size-2xs: 11px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-smi: 13px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
    --font-size-45xl: 64px;
    --font-size-19xl: 38px;
    --font-size-32xl: 51px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-7xs: 6px;
    --font-size-mini: 15px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkseagreen: #6fb088;
    --color-gray-100: #898989;
    --color-gray-200: #848484;
    --color-gray-300: #777;
    --color-gray-400: #767676;
    --color-khaki-100: #ffe495;
    --color-khaki-200: rgba(255, 228, 149, 0.22);
    --color-whitesmoke: #ececec;
    --color-dimgray: #545454;
    --color-powderblue-100: #b7d9c4;
    --color-powderblue-200: rgba(183, 217, 196, 0.4);
    --color-black: #000;
    --color-darkslategray: #3c3c3c;
  
    /* Gaps */
    --gap-base: 16px;
    --gap-29xl: 48px;
    --gap-xl: 20px;
    --gap-lg: 18px;
    --gap-2xl: 21px;
    --gap-6xs: 7px;
    --gap-3xs: 10px;
    --gap-2xs: 11px;
    --gap-12xs: 1px;
    --gap-10xl: 29px;
    --gap-lgi-9: 19.9px;
    --gap-19xl: 38px;
    --gap-lgi: 19px;
    --gap-6xl: 25px;
    --gap-mini: 15px;
    --gap-12xl: 31px;
    --gap-5xs: 8px;
    --gap-4xs: 9px;
    --gap-3xl: 22px;
  
    /* Paddings */
    --padding-139xl: 158px;
    --padding-xl: 20px;
    --padding-2xl: 21px;
    --padding-lg: 18px;
    --padding-14xl: 33px;
    --padding-5xl: 24px;
    --padding-15xl: 34px;
    --padding-4xs: 9px;
    --padding-5xs: 8px;
    --padding-6xs: 7px;
    --padding-3xs: 10px;
    --padding-7xs: 6px;
    --padding-18xl: 37px;
    --padding-3xl: 22px;
    --padding-9xs: 4px;
    --padding-19xl: 38px;
    --padding-9xl: 28px;
    --padding-10xs: 3px;
    --padding-mini: 15px;
    --padding-11xs: 2px;
    --padding-base: 16px;
    --padding-12xs: 1px;
    --padding-sm: 14px;
    --padding-8xs: 5px;
    --padding-xs: 12px;
    --padding-mid: 17px;
    --padding-42xl: 61px;
    --padding-4xl: 23px;
    --padding-smi: 13px;
    --padding-29xl: 48px;
    --padding-27xl: 46px;
    --padding-17xl: 36px;
    --padding-103xl: 122px;
    --padding-12xl: 31px;
    --padding-105xl: 124px;
    --padding-43xl: 62px;
    --padding-lg-9: 18.9px;
    --padding-10xs-1: 2.1px;
    --padding-8xl: 27px;
    --padding-81xl: 100px;
    --padding-95xl: 114px;
    --padding-7xl: 26px;
    --padding-20xl: 39px;
    --padding-82xl: 101px;
    --padding-31xl: 50px;
    --padding-6xl: 25px;
    --padding-8xs-1: 4.1px;
    --padding-9xl-6: 28.6px;
    --padding-2xs: 11px;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-4xs: 9px;
    --br-9xs: 4px;
    --br-xl: 20px;
  }
  