.privacy-policy-child {
    position: absolute;
    top: -300px;
    left: 1110px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid var(--color-khaki-100);
    box-sizing: border-box;
    width: 575px;
    height: 575px;
  }
  .home2,
  .recipes3 {
    position: absolute;
    top: 26px;
    left: 590px;
    font-size: var(--font-size-base);
    font-weight: 500;
    color: var(--color-gray-200);
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .recipes3 {
    left: 845px;
    min-width: 63px;
  }
  .privacy-policy-item {
    position: absolute;
    top: 806px;
    left: -454px;
    border-radius: 50%;
    background-color: var(--color-powderblue-200);
    border: 0 solid var(--color-powderblue-100);
    box-sizing: border-box;
    width: 1033px;
    height: 1033px;
  }
  .realm2,
  .recipe2 {
    margin: 0;
  }
  .image-6-icon5,
  .recipe-realm2 {
    position: absolute;
    cursor: pointer;
  }
  .recipe-realm2 {
    top: 27px;
    left: 185px;
    font-size: var(--font-size-xl);
    line-height: 23px;
    font-weight: 600;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .image-6-icon5 {
    top: 13px;
    left: 101px;
    width: 74px;
    height: 74px;
    object-fit: cover;
  }
  .privacy-policy-inner {
    position: absolute;
    top: 95px;
    left: 0;
    width: 1512px;
    height: 241px;
    object-fit: cover;
  }
  .privacy-policy3 {
    margin: 0;
    position: absolute;
    top: 183px;
    left: 62px;
    font-size: 35px;
    font-weight: 700;
    font-family: inherit;
    color: var(--color-white);
    display: inline-block;
    width: 846px;
    height: 96px;
  }
  .data-usage1 {
    margin: 0;
  }
  .data-usage {
    margin: 0;
    position: absolute;
    top: 700px;
    left: 62px;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    width: 260px;
    height: 45px;
  }
  .data-security1 {
    margin: 0;
  }
  .data-security,
  .welcome-to-our {
    position: absolute;
    display: inline-block;
  }
  .data-security {
    margin: 0;
    top: 845px;
    left: 62px;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
    width: 331px;
    height: 45px;
  }
  .welcome-to-our {
    top: 359px;
    left: calc(50% - 694px);
    width: 1410px;
    height: 56px;
  }
  .how-information-is,
  .purpose-of-collection {
    margin: 0;
    position: absolute;
    top: 430px;
    left: 62px;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    width: 494px;
    height: 45px;
  }
  .purpose-of-collection {
    top: 570px;
    left: 66px;
    width: 485px;
  }
  .we-collect-information {
    position: absolute;
    top: 494px;
    left: 62px;
    display: inline-block;
    width: 1409px;
    height: 28px;
  }
  .span {
    font-size: 26px;
  }
  .we-collect-data-to-allow-you-t {
    margin: 0;
  }
  .we-collect-data-container {
    position: absolute;
    top: 622px;
    left: 62px;
    display: inline-block;
    width: 1406px;
    height: 39px;
  }
  .we-do-not,
  .your-uploaded-recipes {
    margin: 0;
  }
  .we-take-steps,
  .your-uploaded-recipes-container {
    position: absolute;
    top: 764px;
    left: 62px;
    display: inline-block;
    width: 1406px;
    height: 78px;
  }
  .we-take-steps {
    top: 905px;
    height: 29px;
  }
  .be-mindful-of1 {
    margin: 0;
  }
  .be-mindful-of-container1 {
    margin: 0;
    position: absolute;
    top: 979px;
    left: 62px;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    width: 416px;
    height: 45px;
  }
  .user-rights1 {
    margin: 0;
  }
  .policy-changes,
  .user-rights {
    margin: 0;
    position: absolute;
    top: 1109px;
    left: 62px;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    width: 416px;
    height: 45px;
  }
  .policy-changes {
    top: 1362px;
    width: 536px;
  }
  .please-contact-us,
  .you-have-the {
    margin: 0;
  }
  .you-have-the-container {
    position: absolute;
    top: 1037px;
    left: 66px;
    display: inline-block;
    width: 1406px;
    height: 58px;
  }
  .please-contact-us1,
  .you-have-the1 {
    margin: 0;
  }
  .you-have-the-container1 {
    position: absolute;
    top: 1165px;
    left: 66px;
    display: inline-block;
    width: 1406px;
    height: 58px;
  }
  .any-changes-to,
  .the-updated-policy {
    margin: 0;
  }
  .any-changes-to-container,
  .cookies-and-tracking {
    position: absolute;
    top: 1432px;
    left: 66px;
    display: inline-block;
    width: 1406px;
    height: 58px;
  }
  .cookies-and-tracking {
    margin: 0;
    top: 1235px;
    left: 62px;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
    width: 416px;
    height: 45px;
  }
  .blank-line11,
  .we-use-cookies {
    margin: 0;
  }
  .frame-child15,
  .we-use-cookies-container {
    position: absolute;
    top: 1298px;
    left: 62px;
    display: inline-block;
    width: 1410px;
    height: 58px;
  }
  .frame-child15 {
    top: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    width: 100%;
    height: 100%;
    display: none;
  }
  .register5 {
    position: absolute;
    top: 5px;
    left: 17px;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 55px;
  }
  .frame-child16,
  .rectangle-parent9 {
    position: absolute;
    border-radius: var(--br-9xs);
  }
  .rectangle-parent9 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 23px;
    left: 1324px;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    width: 88px;
    height: 31px;
  }
  .frame-child16 {
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    width: 100%;
    height: 100%;
    display: none;
  }
  .login3 {
    position: absolute;
    top: 5px;
    left: 26px;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 36px;
  }
  .rectangle-parent10 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 23px;
    left: 1224px;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    width: 88px;
    height: 31px;
  }
  .frame-child17 {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    width: 100%;
    height: 100%;
    display: none;
  }
  .image-7-icon2 {
    position: absolute;
    top: 37px;
    left: 149px;
    width: 107px;
    height: 107px;
    object-fit: cover;
  }
  .follow-us2 {
    position: absolute;
    top: 173px;
    left: 170px;
    font-weight: 500;
    display: inline-block;
    width: 65px;
    height: 15px;
    min-width: 65px;
  }
  .facebook-icon2,
  .tiktok-icon2 {
    position: absolute;
    top: 0;
    left: 43.9px;
    width: 24px;
    height: 24px;
  }
  .tiktok-icon2 {
    left: 131.7px;
  }
  .facebook-group,
  .instagram-instagram-icon2,
  .youtube-icon2 {
    position: absolute;
    top: 0;
    left: 87.8px;
    width: 24px;
    height: 24px;
  }
  .facebook-group,
  .youtube-icon2 {
    left: 0;
  }
  .facebook-group {
    top: 206px;
    left: 124px;
    width: 155.7px;
  }
  .about-us4,
  .all-rights-reserved2,
  .blank-line12,
  .blank-line13,
  .blank-line14,
  .blank-line15,
  .blank-line16,
  .community-guidelines4,
  .contact-us2,
  .privacy-policy4 {
    margin: 0;
  }
  .about-us-privacy-container2 {
    position: absolute;
    top: 36px;
    left: 1113px;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    width: 278px;
    height: 181px;
  }
  .group-section {
    position: absolute;
    top: 1520px;
    left: 0;
    width: 100%;
    height: 261px;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
    background-color: #EFCD69;
  }
  .privacy-policy-child1,
  .privacy-policy-child2 {
    position: absolute;
    top: 1551px;
    left: 1093px;
    width: 107px;
    height: 30px;
    overflow: hidden;
    display: none;
    cursor: pointer;
  }
  .privacy-policy-child2 {
    top: 1595px;
    left: 1099px;
    width: 115px;
    height: 27px;
  }
  .privacy-policy-child3 {
    top: 1636px;
    left: 1100px;
    width: 174px;
    height: 26px;
    overflow: hidden;
    display: none;
  }
  .about2,
  .privacy-policy-child3,
  .privacy-policy-child4 {
    position: absolute;
    cursor: pointer;
  }
  .privacy-policy-child4 {
    top: 1667px;
    left: 1093px;
    width: 107px;
    height: 37px;
    overflow: hidden;
    display: none;
  }
  .about2 {
    top: 26px;
    left: 714px;
    font-size: var(--font-size-base);
    font-weight: 500;
    color: var(--color-gray-200);
    display: inline-block;
    min-width: 54px;
  }
  .privacy-policy2 {
    width: 100%;
    height: 1781px;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-lgi);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 767px) {
    .privacy-policy3 {
      font-size: var(--font-size-32xl);
    }
    .be-mindful-of-container1,
    .cookies-and-tracking,
    .data-security,
    .data-usage,
    .how-information-is,
    .policy-changes,
    .purpose-of-collection,
    .user-rights {
      font-size: var(--font-size-5xl);
    }
  }
  @media screen and (max-width: 450px) {
    .recipe-realm2 {
      font-size: var(--font-size-base);
      line-height: 18px;
    }
    .privacy-policy3 {
      font-size: var(--font-size-19xl);
    }
    .be-mindful-of-container1,
    .cookies-and-tracking,
    .data-security,
    .data-usage,
    .how-information-is,
    .policy-changes,
    .purpose-of-collection,
    .user-rights {
      font-size: var(--font-size-lg);
    }
  }
  .about-us-privacy-container2 a{
    text-decoration: none;
    color: white;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-base: 16px;
    --font-size-2xs: 11px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-smi: 13px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkseagreen: #6fb088;
    --color-gray-100: #848484;
    --color-gray-200: #777;
    --color-gray-300: #767676;
    --color-khaki-100: rgba(255, 228, 149, 0.22);
    --color-whitesmoke: #ececec;
    --color-dimgray: #545454;
    --color-powderblue-100: #b7d9c4;
    --color-black: #000;
  
    /* Gaps */
    --gap-base: 16px;
    --gap-29xl: 48px;
    --gap-xl: 20px;
    --gap-lg: 18px;
    --gap-6xs: 7px;
    --gap-3xs: 10px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-2xl: 21px;
    --padding-lg: 18px;
    --padding-14xl: 33px;
    --padding-15xl: 34px;
    --padding-4xs: 9px;
    --padding-5xs: 8px;
    --padding-6xs: 7px;
    --padding-3xs: 10px;
    --padding-7xs: 6px;
    --padding-18xl: 37px;
    --padding-3xl: 22px;
    --padding-9xs: 4px;
    --padding-19xl: 38px;
    --padding-9xl: 28px;
    --padding-10xs: 3px;
    --padding-mini: 15px;
    --padding-11xs: 2px;
    --padding-base: 16px;
    --padding-12xs: 1px;
    --padding-sm: 14px;
    --padding-8xs: 5px;
    --padding-xs: 12px;
    --padding-mid: 17px;
    --padding-42xl: 61px;
    --padding-4xl: 23px;
    --padding-smi: 13px;
    --padding-29xl: 48px;
    --padding-12xl: 31px;
    --padding-7xl: 26px;
    --padding-20xl: 39px;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-4xs: 9px;
    --br-9xs: 4px;
    --br-xl: 20px;
  }
  