.recipes-child {
    width: 1033px;
    height: 1033px;
    position: absolute;
    margin: 0 !important;
    bottom: 91px;
    left: -676px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.4),
      rgba(131, 173, 147, 0)
    );
    border: 0 solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .image-6-icon9 {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm7,
  .recipe7 {
    margin: 0;
  }
  .recipe-realm7 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 23px;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .image-6-group,
  .recipe-realm-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .recipe-realm-wrapper {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .image-6-group {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .about7,
  .home7,
  .recipes9 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .about7,
  .recipes9 {
    min-width: 54px;
  }
  .recipes9 {
    min-width: 63px;
  }
  .frame-wrapper11,
  .home-group {
    display: flex;
    align-items: flex-start;
  }
  .home-group {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper11 {
    width: 318px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-base);
  }
  .frame-parent25,
  .frame-wrapper10 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent25 {
    width: 807px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper10 {
    align-self: stretch;
    justify-content: flex-start;
  }
  .search-recipe2 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .frame-child97 {
    height: 50px;
    width: 539px;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .example-salad2 {
    width: 95px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    background-color: transparent;
    height: 18px;
    position: relative;
    color: var(--color-gray-200);
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 1;
  }
  .rectangle-parent39 {
    flex: 1;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-5xl);
    min-width: 95px;
    max-width: 100%;
  }
  .frame-child98 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    right: -144px;
    bottom: -50px;
    left: 144px;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .search2 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 50px;
    z-index: 1;
  }
  .rectangle-parent40 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-27xl) var(--padding-sm);
    position: relative;
  }
  .frame-parent26,
  .frame-section,
  .search-recipe-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent26 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-2xs);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-white);
  }
  .frame-section,
  .search-recipe-parent {
    width: 694px;
    flex-direction: column;
    gap: var(--gap-5xs);
    font-size: var(--font-size-5xl);
    color: var(--color-darkslategray);
  }
  .frame-section {
    width: 1016px;
    align-items: flex-end;
    padding: 0 var(--padding-xl) var(--padding-4xs) 0;
    box-sizing: border-box;
    gap: var(--gap-12xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .frame-child99 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew1,
  .frame-child100 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child100 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew1 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .beef-stew-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child101 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef10 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent29 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper12,
  .rectangle-parent41 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent41 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    cursor: pointer;
  }
  .frame-wrapper12 {
    flex: 0.9806;
    padding: 0 var(--padding-9xs) 0 0;
    min-width: 203px;
    max-width: 206px;
  }
  .phheart-fill-icon,
  .phheart-fill-icon1 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-child102 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child103,
  .frame-child104 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child103 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child104 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .korean-fried-chicken-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child105 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .lorem-ipsum-dolor17 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent30 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper13,
  .phheart-fill-parent2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .phheart-fill-parent2 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 2;
  }
  .frame-wrapper13 {
    flex: 0.9758;
    padding: 0 var(--padding-8xs) 0 0;
    min-width: 203px;
    max-width: 207px;
  }
  .frame-child106 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .chicken-salad,
  .frame-child107 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child107 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child108 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef11 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent31 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper14,
  .rectangle-parent42 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent42 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper14 {
    flex: 0.9484;
    padding: 0 var(--padding-2xs) 0 0;
    min-width: 209px;
    max-width: 213px;
  }
  .frame-child109 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa,
  .frame-child110 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child110 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child111 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef12 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent32 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-header,
  .rectangle-parent43 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent43 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-header {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .frame-child112 {
    width: 575px;
    height: 575px;
    position: absolute;
    margin: 0 !important;
    top: -300px;
    right: -173px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid var(--color-khaki-100);
    box-sizing: border-box;
  }
  .frame-child113 {
    height: 31px;
    width: 88px;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: none;
  }
  .login8 {
    position: relative;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 36px;
    z-index: 1;
  }
  .rectangle-parent44 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-7xl) var(--padding-7xs);
    background-color: transparent;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
  }
  .frame-child114 {
    height: 31px;
    width: 88px;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .register10 {
    position: relative;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 55px;
    z-index: 1;
  }
  .frame-wrapper16,
  .rectangle-parent45 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent45 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-base) var(--padding-7xs)
      var(--padding-mid);
    background-color: transparent;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    z-index: 1;
  }
  .frame-wrapper16 {
    align-self: stretch;
    justify-content: flex-end;
    margin-top: -31px;
  }
  .ellipse-container {
    height: 275px;
    width: 402px;
    margin: 0 !important;
    position: absolute;
    top: -263px;
    right: -238px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xl) var(--padding-81xl) var(--padding-4xl)
      var(--padding-95xl);
    box-sizing: border-box;
  }
  .frame-child115,
  .frame-child116 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child115 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child116 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-stir-fry {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-stir-fry-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child117 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef13 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent34 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-parent33,
  .rectangle-parent46 {
    align-self: stretch;
    justify-content: flex-start;
  }
  .rectangle-parent46 {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-parent33 {
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .frame-parent28,
  .frame-parent33,
  .frame-wrapper15 {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper15 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-parent28 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-4xs);
  }
  .frame-child118 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew2,
  .frame-child119 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child119 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew2 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .beef-stew-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child120 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef14 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent36 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper17,
  .rectangle-parent47 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent47 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-wrapper17 {
    flex: 0.9806;
    padding: 0 var(--padding-9xs) 0 0;
    min-width: 203px;
    max-width: 206px;
  }
  .frame-child121 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child122,
  .frame-child123 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child122 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child123 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .korean-fried-chicken-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child124 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .lorem-ipsum-dolor18 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent37 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper18,
  .rectangle-parent48 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent48 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper18 {
    flex: 0.9758;
    padding: 0 var(--padding-8xs) 0 0;
    min-width: 203px;
    max-width: 207px;
  }
  .frame-child125 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .chicken-salad1,
  .frame-child126 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child126 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad1 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child127 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef15 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent38 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper19,
  .rectangle-parent49 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent49 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper19 {
    flex: 0.9484;
    padding: 0 var(--padding-2xs) 0 0;
    min-width: 209px;
    max-width: 213px;
  }
  .frame-child128 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa1,
  .frame-child129 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child129 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa1 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child130 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef16 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent39 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper20,
  .rectangle-parent50 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent50 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper20 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-child131,
  .frame-child132 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child131 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child132 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-stir-fry1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-stir-fry-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child133 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef17 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent40 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent51 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-parent35,
  .frame-wrapper21,
  .rectangle-parent51 {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper21 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-parent35 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-4xs);
  }
  .frame-child134 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew3,
  .frame-child135 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child135 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew3 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .beef-stew-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child136 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef18 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent42 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper22,
  .rectangle-parent52 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent52 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-wrapper22 {
    flex: 0.9806;
    padding: 0 var(--padding-9xs) 0 0;
    min-width: 203px;
    max-width: 206px;
  }
  .frame-child137 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child138,
  .frame-child139 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child138 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child139 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .korean-fried-chicken-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child140 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .lorem-ipsum-dolor19 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent43 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper23,
  .rectangle-parent53 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent53 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper23 {
    flex: 0.9758;
    padding: 0 var(--padding-8xs) 0 0;
    min-width: 203px;
    max-width: 207px;
  }
  .frame-child141 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .chicken-salad2,
  .frame-child142 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child142 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad2 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child143 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef19 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent44 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper24,
  .rectangle-parent54 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent54 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper24 {
    flex: 0.9484;
    padding: 0 var(--padding-2xs) 0 0;
    min-width: 209px;
    max-width: 213px;
  }
  .frame-child144 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa2,
  .frame-child145 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child145 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa2 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child146 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef20 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent45 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper25,
  .rectangle-parent55 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent55 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper25 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-child147,
  .frame-child148 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child147 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child148 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-stir-fry2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-stir-fry-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child149 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef21 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent46 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent56 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-parent41,
  .frame-wrapper26,
  .rectangle-parent56 {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper26 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-parent41 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-4xs);
  }
  .frame-child150 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew4,
  .frame-child151 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child151 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew4 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .beef-stew-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child152 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef22 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent48 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper27,
  .rectangle-parent57 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent57 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-wrapper27 {
    flex: 0.9806;
    padding: 0 var(--padding-9xs) 0 0;
    min-width: 203px;
    max-width: 206px;
  }
  .frame-child153 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child154,
  .frame-child155 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child154 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child155 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .korean-fried-chicken-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child156 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .lorem-ipsum-dolor20 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent49 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper28,
  .rectangle-parent58 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent58 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper28 {
    flex: 0.9758;
    padding: 0 var(--padding-8xs) 0 0;
    min-width: 203px;
    max-width: 207px;
  }
  .frame-child157 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .chicken-salad3,
  .frame-child158 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child158 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad3 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child159 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef23 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent50 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill9 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-wrapper29,
  .rectangle-parent59 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent59 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper29 {
    flex: 0.9484;
    padding: 0 var(--padding-2xs) 0 0;
    min-width: 209px;
    max-width: 213px;
  }
  .frame-child160 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa3,
  .frame-child161 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child161 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa3 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child162 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef24 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent51 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper30,
  .rectangle-parent60 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent60 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper30 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-child163,
  .frame-child164 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child163 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child164 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-stir-fry3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-stir-fry-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child165 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef25 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent52 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill10 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .rectangle-parent61 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-parent47,
  .frame-wrapper31,
  .rectangle-parent61 {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper31 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-parent47 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-4xs);
  }
  .frame-child166 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew5,
  .frame-child167 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child167 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew5 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .beef-stew-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child168 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef26 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent54 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper32,
  .rectangle-parent62 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent62 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-wrapper32 {
    flex: 0.9806;
    padding: 0 var(--padding-9xs) 0 0;
    min-width: 203px;
    max-width: 206px;
  }
  .frame-child169 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child170,
  .frame-child171 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child170 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child171 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .korean-fried-chicken-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child172 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .lorem-ipsum-dolor21 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent55 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper33,
  .rectangle-parent63 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent63 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper33 {
    flex: 0.9758;
    padding: 0 var(--padding-8xs) 0 0;
    min-width: 203px;
    max-width: 207px;
  }
  .frame-child173 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .chicken-salad4,
  .frame-child174 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child174 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad4 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child175 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef27 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent56 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper34,
  .rectangle-parent64 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent64 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper34 {
    flex: 0.9484;
    padding: 0 var(--padding-2xs) 0 0;
    min-width: 209px;
    max-width: 213px;
  }
  .frame-child176 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa4,
  .frame-child177 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child177 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa4 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child178 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef28 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent57 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper35,
  .rectangle-parent65 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent65 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper35 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-child179,
  .frame-child180 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child179 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child180 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-stir-fry4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-stir-fry-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child181 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef29 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent58 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent66 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-parent53,
  .frame-wrapper36,
  .rectangle-parent66 {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper36 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-parent53 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-4xs);
  }
  .frame-parent27,
  .recipe-displays {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent27 {
    width: 1066px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15.3px;
  }
  .recipe-displays {
    width: 1280px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .load-more1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 76px;
  }
  .amor {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-9xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child182 {
    height: 261px;
    width: 1513px;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .image-7-icon8,
  .youtube-icon7 {
    height: 24px;
    width: 24px;
    position: relative;
    z-index: 1;
  }
  .image-7-icon8 {
    width: 107px;
    height: 107px;
    object-fit: contain;
  }
  .follow-us7 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 65px;
    z-index: 1;
  }
  .follow-us-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
  }
  .facebook-icon7,
  .instagram-instagram-icon7,
  .tiktok-icon7 {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .facebook-parent2 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-lgi-9);
  }
  .facebook-parent2,
  .frame-parent59,
  .frame-wrapper38 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent59 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .frame-wrapper38 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-lg-9);
  }
  .image-7-container {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-10xl);
  }
  .frame-wrapper37,
  .image-7-container,
  .youtube-group {
    display: flex;
    justify-content: flex-start;
  }
  .youtube-group {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-12xs);
  }
  .frame-wrapper37 {
    width: 155.7px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us9,
  .all-rights-reserved7,
  .blank-line38,
  .blank-line39,
  .blank-line40,
  .blank-line41,
  .blank-line42,
  .community-guidelines9,
  .contact-us9,
  .privacy-policy9 {
    margin: 0;
  }
  .about-us-privacy-container7 {
    margin: 0;
    width: 278px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child183,
  .frame-child184,
  .frame-child185,
  .frame-child186 {
    height: 30px;
    width: 107px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child184,
  .frame-child185,
  .frame-child186 {
    height: 27px;
    width: 115px;
  }
  .frame-child185,
  .frame-child186 {
    height: 26px;
    width: 174px;
  }
  .frame-child186 {
    height: 37px;
    width: 107px;
  }
  .recipes8,
  .rectangle-parent67 {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent67 {
    margin-left: -102px;
    width: 1513px;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
      var(--padding-105xl);
    max-width: 108%;
    flex-shrink: 0;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
    background-color: #EFCD69;
  }
  .recipes8 {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0 var(--padding-82xl);
    gap: var(--gap-19xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 1200px) {
    .recipes8 {
      padding-left: var(--padding-31xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .frame-parent28,
    .frame-parent35,
    .frame-parent41,
    .frame-parent47,
    .frame-parent53 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .frame-section {
      gap: var(--gap-mini);
    }
    .rectangle-parent67 {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: var(--padding-43xl);
      padding-right: var(--padding-42xl);
      box-sizing: border-box;
    }
    .recipes8 {
      gap: var(--gap-lgi);
      padding-left: var(--padding-6xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .recipe-realm7 {
      font-size: var(--font-size-base);
      line-height: 18px;
    }
    .search-recipe2 {
      font-size: var(--font-size-lgi);
    }
    .frame-wrapper12,
    .frame-wrapper13,
    .frame-wrapper14,
    .frame-wrapper17,
    .frame-wrapper18,
    .frame-wrapper19,
    .frame-wrapper22,
    .frame-wrapper23,
    .frame-wrapper24,
    .frame-wrapper27,
    .frame-wrapper28,
    .frame-wrapper29,
    .frame-wrapper32,
    .frame-wrapper33,
    .frame-wrapper34 {
      flex: 1;
    }
    .rectangle-parent67 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  .about-us-privacy-container7 a{
    color:white;
    text-decoration: none;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-3xs: 10px;
    --font-size-base: 16px;
    --font-size-2xs: 11px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-smi: 13px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
    --font-size-45xl: 64px;
    --font-size-19xl: 38px;
    --font-size-32xl: 51px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-7xs: 6px;
    --font-size-mini: 15px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkseagreen: #6fb088;
    --color-gray-100: #898989;
    --color-gray-200: #848484;
    --color-gray-300: #777;
    --color-gray-400: #767676;
    --color-khaki-100: #ffe495;
    --color-khaki-200: rgba(255, 228, 149, 0.22);
    --color-whitesmoke: #ececec;
    --color-dimgray: #545454;
    --color-powderblue-100: #b7d9c4;
    --color-powderblue-200: rgba(183, 217, 196, 0.4);
    --color-black: #000;
    --color-darkslategray: #3c3c3c;
  
    /* Gaps */
    --gap-base: 16px;
    --gap-29xl: 48px;
    --gap-xl: 20px;
    --gap-lg: 18px;
    --gap-6xs: 7px;
    --gap-3xs: 10px;
    --gap-2xs: 11px;
    --gap-12xs: 1px;
    --gap-10xl: 29px;
    --gap-lgi-9: 19.9px;
    --gap-19xl: 38px;
    --gap-lgi: 19px;
    --gap-4xs: 9px;
    --gap-12xl: 31px;
    --gap-mini: 15px;
    --gap-5xs: 8px;
    --gap-3xl: 22px;
  
    /* Paddings */
    --padding-139xl: 158px;
    --padding-xl: 20px;
    --padding-2xl: 21px;
    --padding-lg: 18px;
    --padding-14xl: 33px;
    --padding-5xl: 24px;
    --padding-15xl: 34px;
    --padding-4xs: 9px;
    --padding-5xs: 8px;
    --padding-6xs: 7px;
    --padding-3xs: 10px;
    --padding-7xs: 6px;
    --padding-18xl: 37px;
    --padding-3xl: 22px;
    --padding-9xs: 4px;
    --padding-19xl: 38px;
    --padding-9xl: 28px;
    --padding-10xs: 3px;
    --padding-mini: 15px;
    --padding-11xs: 2px;
    --padding-base: 16px;
    --padding-12xs: 1px;
    --padding-sm: 14px;
    --padding-8xs: 5px;
    --padding-xs: 12px;
    --padding-mid: 17px;
    --padding-42xl: 61px;
    --padding-4xl: 23px;
    --padding-smi: 13px;
    --padding-29xl: 48px;
    --padding-27xl: 46px;
    --padding-17xl: 36px;
    --padding-103xl: 122px;
    --padding-12xl: 31px;
    --padding-105xl: 124px;
    --padding-43xl: 62px;
    --padding-lg-9: 18.9px;
    --padding-10xs-1: 2.1px;
    --padding-8xl: 27px;
    --padding-81xl: 100px;
    --padding-95xl: 114px;
    --padding-7xl: 26px;
    --padding-20xl: 39px;
    --padding-82xl: 101px;
    --padding-31xl: 50px;
    --padding-6xl: 25px;
    --padding-2xs: 11px;
    --padding-8xs-1: 4.1px;
    --padding-9xl-6: 28.6px;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-4xs: 9px;
    --br-9xs: 4px;
    --br-xl: 20px;
  }
  