.frame-child211,
.recipesviewer-inner {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  width: 100%;
  height: 100%;
  display: none;
}
.recipesviewer-inner {
  top: 1923px;
  width: 1512px;
  height: 259px;
}
.faba-icon,
.recipesviewer-child {
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
}
.recipesviewer-child {
  top: -300px;
  left: 1110px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 228, 149, 0.4)
  );
  border: 0 solid var(--color-khaki-100);
  width: 575px;
  height: 575px;
}
.faba-icon {
  top: 473px;
  left: -676px;
  background: linear-gradient(
    180deg,
    rgba(183, 217, 196, 0.4),
    rgba(131, 173, 147, 0)
  );
  border: 0 solid var(--color-powderblue-100);
  width: 1033px;
  height: 1033px;
}
.frame-child212,
.search-fields {
  position: absolute;
  border-radius: var(--br-4xs);
  height: 50px;
}
.search-fields {
  top: 44px;
  left: 22px;
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  width: 539px;
}
.frame-child212 {
  top: 94px;
  left: 716px;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  width: 144px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.beef-stew6,
.search-recipe3 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.search-recipe3 {
  position: absolute;
  top: 0;
  left: 22px;
  font-weight: 500;
  display: inline-block;
  width: 728px;
}
.beef-stew6 {
  top: 139px;
  left: 0;
  font-weight: 600;
  min-width: 119px;
}
.beef-stew6,
.example-salad3,
.search3 {
  position: absolute;
  display: inline-block;
}
.example-salad3 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  top: 60px;
  left: 46px;
  color: var(--color-gray-200);
  text-align: left;
  padding: 0;
}
.search3 {
  top: 59px;
  left: 618px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  min-width: 50px;
}
.search-fields-parent {
  position: absolute;
  top: 118px;
  left: 381px;
  width: 750px;
  height: 175px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
.recipesviewer-item {
  position: absolute;
  top: 315px;
  left: 381px;
  border-radius: var(--br-xs);
  width: 750px;
  height: 454px;
  object-fit: cover;
}
.this-classic-french {
  position: absolute;
  top: 799px;
  left: 381px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  display: inline-block;
  width: 750px;
  height: 47px;
}
.ingredients {
  margin: 0;
}
.cup-cold-water,
.cups-water,
.dried-bay-leaf,
.large-unpeeled-potato,
.lb-boneless-beef,
.medium-carrots-cut,
.medium-green-bell,
.medium-stalk-celery,
.small-onion-chopped,
.tablespoon-vegetable-oil,
.teaspoon-pepper,
.teaspoon-salt,
.teaspoon-salt1 {
  margin-bottom: 0;
}
.tablespoon-vegetable-oil-or-sh {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.ingredients-1tablespoon-vegeta-container {
  position: absolute;
  top: 858px;
  left: 381px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  display: inline-block;
  width: 750px;
  height: 348px;
}
.stepsmethods {
  margin: 0;
}
.add-water-12,
.blank-line37,
.blank-line38,
.in-12-inch-skillet {
  margin: 0;
  line-height: 150.1%;
}

.blank-line39,
.in-tightly-covered,
.stir-in-remaining {
  margin: 0;
  line-height: 150.1%;
}
.stepsmethods-in-12-inch-container {
  position: absolute;
  top: 1231px;
  left: 381px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  display: inline-block;
  width: 750px;
  height: 271px;
}
.recipesviewer-child1 {
  position: absolute;
  top: 261px;
  left: 516px;
  width: 100px;
  height: 28px;
}
.ellipse-icon,
.recipe-description-icon {
  position: absolute;
  top: 1548px;
  left: 379px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.ellipse-icon {
  top: 1742px;
}
.john-doe {
  margin: 0;
  position: absolute;
  top: 1548px;
  left: 458px;
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 673px;
  height: 24px;
}
.kamaria,
.lorem-ipsum-dolor23,
.lorem-ipsum-dolor24 {
  position: absolute;
  top: 1627px;
  left: 379px;
  line-height: 153.6%;
  font-weight: 500;
  display: inline-block;
  width: 752px;
  height: 74px;
}
.kamaria,
.lorem-ipsum-dolor24 {
  top: 1823px;
  left: 382px;
  width: 749px;
}
.kamaria {
  margin: 0;
  top: 1742px;
  left: 458px;
  font-size: var(--font-size-xl);
  line-height: 31px;
  font-family: inherit;
  width: 88px;
  height: 31px;
  min-width: 88px;
}
.frame-child213,
.recipesviewer-child2,
.recipesviewer-child3 {
  position: absolute;
  top: 1578px;
  left: 458px;
  width: 100px;
  height: 28px;
}
.frame-child213,
.recipesviewer-child3 {
  top: 1772px;
}
.frame-child213 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  width: 100%;
  height: 100%;
  display: none;
}
.register10 {
  position: absolute;
  top: 5px;
  left: 17px;
  font-size: var(--font-size-smi);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 55px;
}
.frame-child214,
.rectangle-parent75 {
  position: absolute;
  border-radius: var(--br-9xs);
}
.rectangle-parent75 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 23px;
  left: 1324px;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  width: 88px;
  height: 31px;
}
.frame-child214 {
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  width: 100%;
  height: 100%;
  display: none;
}
.login8 {
  position: absolute;
  top: 5px;
  left: 26px;
  font-size: var(--font-size-smi);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 36px;
}
.rectangle-parent76 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 23px;
  left: 1224px;
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  width: 88px;
  height: 31px;
}
.home7,
.recipes9 {
  position: absolute;
  top: 26px;
  left: 590px;
  font-weight: 500;
  color: var(--color-gray-300);
  display: inline-block;
  min-width: 47px;
  cursor: pointer;
}
.recipes9 {
  left: 845px;
  min-width: 63px;
}
.realm7,
.recipe7 {
  margin: 0;
}
.image-6-icon10,
.recipe-realm7 {
  position: absolute;
  cursor: pointer;
}
.recipe-realm7 {
  margin: 0;
  top: 27px;
  left: 185px;
  font-size: var(--font-size-xl);
  line-height: 23px;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #d5a74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image-6-icon10 {
  top: 13px;
  left: 101px;
  width: 74px;
  height: 74px;
  object-fit: cover;
}
.frame-child215 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  width: 100%;
  height: 100%;
  display: none;
}
.register11 {
  position: absolute;
  top: 5px;
  left: 17px;
  font-size: var(--font-size-smi);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 55px;
}
.frame-child216,
.rectangle-parent77 {
  position: absolute;
  border-radius: var(--br-9xs);
}
.rectangle-parent77 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 23px;
  left: 1324px;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  width: 88px;
  height: 31px;
}
.frame-child216 {
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  width: 100%;
  height: 100%;
  display: none;
}
.login9 {
  position: absolute;
  top: 5px;
  left: 26px;
  font-size: var(--font-size-smi);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 36px;
}
.recipes10,
.rectangle-parent78 {
  position: absolute;
  cursor: pointer;
}
.rectangle-parent78 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 23px;
  left: 1224px;
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  width: 88px;
  height: 31px;
}
.recipes10 {
  top: 26px;
  left: 845px;
  font-weight: 500;
  color: var(--color-gray-300);
  display: inline-block;
  min-width: 63px;
}
.realm8,
.recipe8 {
  margin: 0;
}
.recipe-realm8 {
  margin: 0;
  top: 27px;
  left: 185px;
  font-size: var(--font-size-xl);
  line-height: 23px;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #d5a74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about7,
.image-7-icon7,
.recipe-realm8 {
  position: absolute;
  cursor: pointer;
}
.image-7-icon7 {
  top: 13px;
  left: 101px;
  width: 74px;
  height: 74px;
  object-fit: cover;
}
.about7 {
  top: 26px;
  left: 714px;
  font-weight: 500;
  color: var(--color-gray-300);
  display: inline-block;
  min-width: 54px;
}
.image-7-icon8 {
  position: absolute;
  top: 1px;
  left: 25px;
  width: 107px;
  height: 107px;
  object-fit: cover;
}
.follow-us7 {
  position: absolute;
  top: 137px;
  left: 46px;
  font-weight: 500;
  display: inline-block;
  width: 65px;
  height: 15px;
  min-width: 65px;
}
.facebook-icon7,
.tiktok-icon7 {
  position: absolute;
  top: 0;
  left: 43.9px;
  width: 24px;
  height: 24px;
}
.tiktok-icon7 {
  left: 131.7px;
}
.facebook-parent3,
.instagram-instagram-icon7,
.youtube-icon7 {
  position: absolute;
  top: 0;
  left: 87.8px;
  width: 24px;
  height: 24px;
}
.facebook-parent3,
.youtube-icon7 {
  left: 0;
}
.facebook-parent3 {
  top: 170px;
  width: 155.7px;
}
.about-us9,
.all-rights-reserved7,
.blank-line40,
.blank-line41,
.blank-line42,
.blank-line43,
.blank-line44,
.community-guidelines9,
.contact-us9,
.privacy-policy9 {
  margin: 0;
}
.about-us-privacy-container7 {
  position: absolute;
  top: 0;
  left: 989px;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: inline-block;
  margin-top: 30px;
  margin-left: 135px;
}
.image-7-container {
  position: absolute;
  top: 1945px;
  left: 0;
  width: 1560px;
  height: 261px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inter);
  background-color: #EFCD69;
}
.recipesviewer-child4,
.recipesviewer-child5,
.recipesviewer-child6 {
  position: absolute;
  top: 1931px;
  left: 1098px;
  width: 115px;
  height: 27px;
  overflow: hidden;
  display: none;
  cursor: pointer;
}
.recipesviewer-child5,
.recipesviewer-child6 {
  top: 1972px;
  left: 1099px;
  width: 174px;
  height: 26px;
}
.recipesviewer-child6 {
  top: 2003px;
  left: 1092px;
  width: 107px;
  height: 37px;
}
.recipesviewer {
  width: 100%;
  height: 2165px;
  position: relative;
  background: linear-gradient(180deg, #fefefe, #eff3f2);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .beef-stew6,
  .search-recipe3 {
    font-size: var(--font-size-lgi);
  }
  .john-doe {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .kamaria,
  .recipe-realm7,
  .recipe-realm8 {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .recipe-realm7,
  .recipe-realm8 {
    line-height: 18px;
  }
}
body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
 
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-3xs: 10px;
    --font-size-base: 16px;
    --font-size-2xs: 11px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-smi: 13px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
    --font-size-45xl: 64px;
    --font-size-19xl: 38px;
    --font-size-32xl: 51px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-7xs: 6px;
    --font-size-mini: 15px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkseagreen: #6fb088;
    --color-gray-100: #898989;
    --color-gray-200: #848484;
    --color-gray-300: #777;
    --color-gray-400: #767676;
    --color-khaki-100: #ffe495;
    --color-khaki-200: rgba(255, 228, 149, 0.22);
    --color-whitesmoke: #ececec;
    --color-dimgray: #545454;
    --color-powderblue-100: #b7d9c4;
    --color-powderblue-200: rgba(183, 217, 196, 0.4);
    --color-black: #000;
    --color-darkslategray: #3c3c3c;
  
    /* Gaps */
    --gap-base: 16px;
    --gap-29xl: 48px;
    --gap-xl: 20px;
    --gap-lg: 18px;
    --gap-6xs: 7px;
    --gap-3xs: 10px;
    --gap-2xs: 11px;
    --gap-12xs: 1px;
    --gap-10xl: 29px;
    --gap-lgi-9: 19.9px;
    --gap-19xl: 38px;
    --gap-lgi: 19px;
    --gap-mini: 15px;
    --gap-12xl: 31px;
    --gap-5xs: 8px;
    --gap-4xs: 9px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-2xl: 21px;
    --padding-lg: 18px;
    --padding-14xl: 33px;
    --padding-5xl: 24px;
    --padding-15xl: 34px;
    --padding-4xs: 9px;
    --padding-5xs: 8px;
    --padding-6xs: 7px;
    --padding-3xs: 10px;
    --padding-7xs: 6px;
    --padding-18xl: 37px;
    --padding-3xl: 22px;
    --padding-9xs: 4px;
    --padding-19xl: 38px;
    --padding-9xl: 28px;
    --padding-10xs: 3px;
    --padding-mini: 15px;
    --padding-11xs: 2px;
    --padding-base: 16px;
    --padding-12xs: 1px;
    --padding-sm: 14px;
    --padding-8xs: 5px;
    --padding-xs: 12px;
    --padding-mid: 17px;
    --padding-42xl: 61px;
    --padding-4xl: 23px;
    --padding-smi: 13px;
    --padding-23xl: 42px;
    --padding-29xl: 48px;
    --padding-27xl: 46px;
    --padding-17xl: 36px;
    --padding-103xl: 122px;
    --padding-12xl: 31px;
    --padding-105xl: 124px;
    --padding-43xl: 62px;
    --padding-lg-9: 18.9px;
    --padding-10xs-1: 2.1px;
    --padding-8xl: 27px;
    --padding-81xl: 100px;
    --padding-95xl: 114px;
    --padding-7xl: 26px;
    --padding-20xl: 39px;
    --padding-82xl: 101px;
    --padding-31xl: 50px;
    --padding-6xl: 25px;
    --padding-8xs-1: 4.1px;
    --padding-9xl-6: 28.6px;
    --padding-2xs: 11px;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-4xs: 9px;
    --br-9xs: 4px;
    --br-xl: 20px;
  }
  .image-7-icon8,.follow-us7, .facebook-parent3 {
    margin-left: 130px;
    margin-top: 25px;
  }
  .about-us-privacy-container7 a{
    color:white;
    text-decoration: none;
  }