@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h3,h1{
  color: gray;
}
.wrapper {
  width: 380px;
  padding: 40px 30px 20px 30px; /* Adjusted padding */
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.sign-txt {
    font-size: 10px;
}
input {
  width: 100%;
  outline: none;
  font-size: 10px;
  background: none;
  border-radius: 5px;
  border: 1px solid rgba(239, 205, 105, 1);
  border-bottom-width: 2px;
  transition: all 0.2s ease;
  background-color: rgb(252, 252, 252);
  color: rgb(8, 8, 8);
}
.input-area input {
  height: 40px;

}

::selection {
  color: #fff;
  background:rgba(239, 205, 105, 1);
}

form .field {
  width: 100%;
  height: 50%;
 
}
form .field.shake {
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    margin-left: 0px;
  }
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}
form .field .input-area {
  height: 50px;
  width: 100%;
  position: relative;
}
form input {
  width: 100%;
  height: 70%;
  outline: none;
  padding: 0 5px;
  font-size: 14px;
  background: none;
  caret-color: rgba(239, 205, 105, 1);
  border-radius: 5px;
  border: 1px solid rgba(239, 205, 105, 1);
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
form .field input:focus,
form .field.valid input {
  border-color:rgb(157, 119, 5);
}
form .field.shake input,
form .field.error input {
  border-color: #dc3545;
}
form input::placeholder {
  color: #bfbfbf;
  font-size: 14px;
}
form .field .error-txt {
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error {
  display: none;
}
form .field.shake .error,
form .field.error .error {
  display: block;
}
form .pass-txt {
  text-align: left;
  margin-top: -10px;
}
.wrapper a {
  color: rgb(190, 144, 8);
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}
form input[type="submit"]:hover {
  background: rgb(227, 171, 3);
}

form .field .input-area {
  height: 50px; 
  width: 100%;
  position: relative;
}
  
  form .field .error-txt {
    color: #dc3545;
    text-align: left;
    margin-top: 0px; 
    margin-bottom: 10px;
  }
  
  form input[type="submit"] {
    width: 50%;
    height: 40px;
    margin-top: 10px; /* Increase the margin to create more space */
    margin-bottom: 10px; /* Add margin-bottom to create space below */
    color: #fff;
    padding: 0;
    border: none;
    background: rgba(239, 205, 105, 1);
    cursor: pointer;
    border-bottom: 2px solid rgb(138, 116, 52);
    transition: all 0.3s ease;
  }
  .password-field {
    position: relative;
  }
  
  /* Eye icon */
  .toggle-password {
      position: absolute; /* Absolute positioning for the eye icon */
      right: 10px; /* Adjust the right offset as needed */
      top: 35%; /* Position the icon vertically centered */
      transform: translateY(-50%); /* Center the icon vertically */
      cursor: pointer; /* Ensure the icon is above the input field */
  }
  /* Adjust the input field to make space for the eye icon */
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Style for the eye icon when password is shown */
.password-shown + .toggle-password {
    color: #007bff; /* Change color to blue or any color you prefer */
}
.toggle-confirm-password {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Style for the eye icon when confirm password is shown */
.confirm-password-shown + .toggle-confirm-password {
  color: #007bff; /* Change color to blue or any color you prefer */
}
