.image-6-icon {
    position: absolute;
    top: 0;
    left: 4.875rem;
    width: 7.75rem;
    height: 7.75rem;
    object-fit: contain;
  }
  .button-shapes,
  .subtract-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .subtract-icon {
    border-radius: 31px;
    z-index: 1;
  }
  .button-shapes {
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.2),
      rgba(131, 173, 147, 0.2)
    );
  }
  .admin-accounts {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    z-index: 3;
  }
  .menu-container {
    position: absolute;
    top: 7.688rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
    white-space: nowrap;
  }
  .menu-container-child {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    width: 100%;
    height: 100%;
  }
  .registered-users {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    cursor: pointer;
    z-index: 3;
  }
  .menu-container1 {
    position: absolute;
    top: 10.938rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
    white-space: nowrap;
  }
  .menu-container-item {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    width: 100%;
    height: 100%;
  }
  .recipes {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    display: inline-block;
    min-width: 4rem;
    cursor: pointer;
    z-index: 3;
  }
  .menu-container2 {
    position: absolute;
    top: 14.188rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
  }
  .menu-container-inner {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    width: 100%;
    height: 100%;
  }
  .notification,
  .user-icon {
    position: absolute;
    z-index: 3;
  }
  .notification {
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    display: inline-block;
    min-width: 5.813rem;
    cursor: pointer;
  }
  .user-icon {
    top: 1.375rem;
    left: 15.063rem;
    border-radius: 50%;
    background-color: #ff7676;
    width: 0.438rem;
    height: 0.438rem;
  }
  .menu-container3,
  .rectangle-div {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .menu-container3 {
    top: 17.438rem;
    height: 3.25rem;
  }
  .rectangle-div {
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    height: 100%;
  }
  .logout {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 3.438rem;
    cursor: pointer;
    z-index: 3;
  }
  .menu-container4 {
    position: absolute;
    top: 22.438rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
  }
  .navigation-panel {
    position: absolute;
    top: 3.875rem;
    left: 0;
    width: 100%;
    height: 27.563rem;
  }
  .content-wrapper {
    height: 31.438rem;
    width: 17.563rem;
    position: relative;
  }
  .list-of-active {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .frame-child {
    height: 2.188rem;
    width: 12rem;
    position: relative;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    display: none;
  }
  .add-admin {
    position: relative;
    font-size: 0.75rem;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 4.313rem;
    z-index: 1;
  }
  .list-header-inner,
  .rectangle-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent {
    cursor: pointer;
    border: 0;
    padding: 0.562rem 3.812rem 0.5rem;
    background-color: transparent;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    flex-direction: row;
    white-space: nowrap;
  }
  .list-header-inner {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
  }
  .list-header,
  .list-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .list-header {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .list-panel {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 0.375rem 0.812rem var(--padding-13xl);
    box-sizing: border-box;
    font-size: 1.5rem;
  }
  .name {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.063rem;
  }
  .header-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0.75rem 0 0;
  }
  .email {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 2.813rem;
  }
  .header-labels1 {
    width: 9.125rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .action,
  .role {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 2.188rem;
  }
  .action {
    min-width: 3.25rem;
  }
  .admin-table,
  .table-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .table-header {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .admin-table {
    width: 63.625rem;
    justify-content: flex-start;
    padding: 0 var(--padding-13xl);
    box-sizing: border-box;
  }
  .entry-divider {
    width: 100%;
    height: 3.25rem;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.1),
      rgba(131, 173, 147, 0.1)
    );
  }
  .tshering-norbu {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 7.688rem;
    z-index: 1;
  }
  .user-name {
    width: 12.063rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .super-admin,
  .tsheringnorbureciperealmcom {
    position: relative;
    font-weight: 500;
    z-index: 1;
  }
  .tsheringnorbureciperealmcom {
    white-space: nowrap;
  }
  .super-admin {
    display: inline-block;
    min-width: 6.563rem;
  }
  .admin-data,
  .user-data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .user-data {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .admin-data {
    width: 50.625rem;
    justify-content: flex-start;
    padding: 0 1.687rem;
    box-sizing: border-box;
  }
  .admin-entry,
  .entry-separator {
    align-self: stretch;
    box-sizing: border-box;
    position: relative;
  }
  .entry-separator {
    height: 0.063rem;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .admin-entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.875rem 0 0 var(--padding-12xs);
    gap: 0.937rem;
    max-width: 100%;
  }
  .alu-thinley {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.5rem;
  }
  .second-user-name {
    width: 8.188rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .aluthnreciperealmcom {
    position: relative;
    font-weight: 500;
    white-space: nowrap;
  }
  .sub-admin {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.563rem;
  }
  .frame-item {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .rectangle-group {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.187rem 0.937rem 0.125rem;
    text-align: center;
    font-size: 0.688rem;
    color: var(--color-white);
  }
  .second-admin-entry,
  .second-user-data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .second-user-data {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .second-admin-entry {
    width: 64.125rem;
    justify-content: flex-start;
    padding: 0 1.75rem;
  }
  .list-end-separator,
  .list-end-separator-child {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .list-end-separator-child {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .list-end-separator {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .admin-content,
  .admin-list {
    align-self: stretch;
    flex-direction: column;
    max-width: 100%;
  }
  .admin-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.781rem;
    color: var(--color-gray);
  }
  .admin-content {
    gap: 1.625rem;
  }
  .admin-content,
  .admin-panel,
  .main-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .admin-panel {
    flex: 1;
    flex-direction: column;
    padding: 1.062rem 0 0;
    box-sizing: border-box;
    max-width: calc(100% - 298px);
    color: var(--color-dimgray);
  }
  .main-container {
    width: 83.875rem;
    flex-direction: row;
    gap: 1.062rem;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-darkseagreen);
    font-family: var(--font-poppins);
  }
  .alert-icon {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-darkseagreen);
  }
  .removed-successfully {
    position: relative;
    font-size: var(--font-size-base);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
    z-index: 1;
  }
  .alert-icon-parent,
  .success-message-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .alert-icon-parent {
    cursor: pointer;
    border: 0;
    padding: 0.687rem var(--padding-xl);
    background-color: transparent;
    width: 39.063rem;
    box-sizing: border-box;
    position: relative;
  }
  .success-message-panel {
    width: 74.188rem;
  }
  .admin-admin-removed {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 8rem 4.937rem 6.687rem;
    box-sizing: border-box;
    gap: 6.75rem;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 975px) {
    .content-wrapper {
      display: none;
    }
    .admin-panel {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 950px) {
    .user-data {
      flex-wrap: wrap;
    }
    .admin-admin-removed {
      gap: 3.375rem;
      padding-left: var(--padding-20xl);
      padding-right: var(--padding-20xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 700px) {
    .list-header,
    .second-user-data,
    .table-header {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 450px) {
    .list-of-active {
      font-size: 1.188rem;
    }
    .admin-admin-removed {
      gap: 1.688rem;
    }
  }
  