
/* addAdminBox ------------------------------------------------*/

.addAdminBox {
  width: 14.125rem;
  justify-content: flex-end;
  padding: 0 1.062rem;
  box-sizing: border-box;
}

.add-admin-wrapper {
  height: 2.188rem;
  flex: 1;
  border-radius: 9px;
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  display: flex; /* Enable flexbox layout */
  position: relative;
  white-space: nowrap;
}

.add-admin {
  color: #fff;
  font-weight: bold;
  border: none;
  background-color: transparent; /* Transparent background */
  cursor: pointer; /* Change cursor on hover */
  outline: none; /* Remove default button focus */
}

  .logo {
    width: 7.75rem;
    height: 7.75rem;
    position: absolute;
    margin: 0 !important;
    top: 8rem;
    left: 10.563rem;
    object-fit: contain;
  }


/* .navTable ---------------------------------------------------------*/

  .navTable {
    align-self: stretch;
    height: 27.563rem;
    position: relative;
    border-radius: 31px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }

  .backgroundHighlight {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .backgroundHighlight {
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.2),
      rgba(131, 173, 147, 0.2)
    );
    z-index: 3;
  }
  
  .navTableDivider {
    height: calc(100% - 332px);
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 20.75rem;
    left: 0;
  }


  /* adminAccounts and registeredUsers  -------------------------------------*/
  
  .adminAccounts {
    position: relative;
    font-weight: 500;
    cursor: pointer;
    z-index: 4;
  }

  .accountList {
    align-self: stretch;
    height: 24rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-9xl) 19.875rem;
    box-sizing: border-box;
    position: relative;
    margin-top: -19.875rem;
  }
  
  .registeredUsers {
    position: relative;
    font-weight: 500;
    cursor: pointer;
    z-index: 2;
  }

  .registerAlign {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
  }
  
  /* .data-layout {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    z-index: 2;
  } */


  /* recipes   --------------------------------*/

  .recipes {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 4rem;
    cursor: pointer;
    z-index: 3;
  }

  .recipesAlign {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-9xl);
    position: relative;
  }

  /* .data-visualization-child {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    z-index: 2;
  }
   */


  /* notification  --------------------------------------------*/

  .icon-shape,
  .notification {
    position: relative;
    z-index: 3;
  }

  .notification {
    font-weight: 500;
    display: inline-block;
    min-width: 5.813rem;
    cursor: pointer;
  }

  .icon-shape {
    width: 0.438rem;
    height: 0.438rem;
    border-radius: 50%;
    background-color: #ff7676;
  }

  .icon-shape-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem 0 0;
  }

  .notificationAlign {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-sm) 2.062rem var(--padding-sm) var(--padding-9xl);
    position: relative;
    gap: var(--gap-xl);
  }

  .data-visualization-parent,
  .notification-icon-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .notification-icon-parent {
    padding: 0 0 21.625rem;
    gap: 0.875rem;
    margin-top: -19.875rem;
  }
  
  /* .footer-decoration {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    z-index: 2;
  }
   */

  /*  logout ---------------------------------------------------------------*/

  .logout {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 3.438rem;
    cursor: pointer;
    z-index: 3;
  }

  .data-entry,
  .accountManagement,
  .footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-sm) var(--padding-9xl);
    position: relative;
    margin-top: -19.875rem;
  }

  .accountManagement,
  .data-entry {
    flex-direction: column;
  }
  .navTableSize {
    height: 29.75rem;
    width: 17.563rem;
    padding: 2.187rem 0 0;
    box-sizing: border-box;
  }
   /* .accountManagement {
    align-self: stretch;
    flex: 1;
    padding: 0;
  } */


/* listOfActiveAdmins --------------------------------------------------------*/

/* titles 00000000000000000000000000000*/

  .header,
  .name {
    position: relative;
    font-weight: 500;
  }
  
  .header {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .name {
    display: inline-block;
    min-width: 3.063rem;
  }
  .name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.125rem 0 0;
  }

  .email {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 2.813rem;
  }
  .email-wrapper {
    width: 8.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.75rem var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  
  .role {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 2.188rem;
  }
  .role-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.375rem var(--padding-9xs) 0 0;
  }

  .action {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.25rem;
  }
  
  .titles {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-base);
  }
  
  .titlesAlign,
  .list-of-active-admins-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  
  .list-of-active-admins-parent {
    flex: 1;
    flex-direction: column;
    gap: 1.312rem;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .titlesAlign {
    width: 64.625rem;
    flex-direction: row;
    padding: 0 2rem;
    box-sizing: border-box;
  }

  /* activeAdminsDetails -------------------------------------------*/
  
  .record-details-layout {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.1),
      rgba(131, 173, 147, 0.1)
    );
  }

  .tshering-norbu {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 7.688rem;
    z-index: 1;
  }

  .tshering-norbu-wrapper {
    width: 12.063rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .tsheringnorbureciperealmcom {
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    z-index: 1;
  }
  .tsheringnorbureciperealmcom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.187rem 0 0;
  }
  .super-admin {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.563rem;
    z-index: 1;
  }
  .super-admin-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.312rem 0 0;
  }
  .frame-child,
  .record-details-layout-parent {
    position: absolute;
    box-sizing: border-box;
    width: 65.25rem;
  }
  .record-details-layout-parent {
    top: 0;
    left: 0;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-9xl) 0.562rem;
    gap: 5.75rem;
    max-width: 100%;
  }
  /* .frame-child {           line
    top: 3.313rem;
    left: 0.75rem;
    border-top: 1px solid var(--color-whitesmoke);
    height: 0.063rem;
  } */
  .frame-container {
    align-self: stretch;
    height: 3.375rem;
    position: relative;
    max-width: 100%;
  }
  .yeenphen-pema-dhendup,
  .yeenphenpemareciperealmcom {
    position: relative;
    font-weight: 500;
  }
  .yeenphenpemareciperealmcom {
    white-space: nowrap;
  }
  .yeenphen-pema-dhendup-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4.625rem;
    max-width: 100%;
  }
  .sub-admin {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.563rem;
  }
  .sub-admin-wrapper {
    width: 11.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  /* .remove {
    height: 1.063rem;
    width: 2.875rem;
    position: absolute;
    margin: 0 !important;
    right: -84.125rem;
    bottom: 0.125rem;
    font-weight: 600;
    display: inline-block;
  }
  .remove-wrapper {
    height: 1.375rem;
    width: 4.75rem;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    position: relative;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  } */
  
  .remove-wrapper {
    height: 1.375rem;
    width: 4.75rem; /* Keep the width consistent */
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: center; /* Center content horizontally */
    position: relative;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
    overflow: hidden; /* Hide any overflow */
  }
  
  .remove {
    height: 100%; /* Adjust height to match parent */
    width: auto; /* Allow the width to fit content */
    position: relative;
    font-weight: 600;
    display: inline-block;
    padding: 0.25rem 0.5rem; /* Add padding for better appearance */
    cursor: pointer;
  }
  
  
  .frame-div,
  .frame-wrapper,
  .remove-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .frame-div {
    flex: 1;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }

  .admin__container {
    width: 100%;
  }

  .frame-wrapper {
    justify-content: flex-start;
    padding: 0 var(--padding-19xl) 0 var(--padding-9xl);
    width: 100%;
  }
  .frame-item,
  .frame-wrapper,
  .line-wrapper {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-item {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .line-wrapper {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0.625rem 0 0.062rem;
  }
  .alu-thinley {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.5rem;
  }
  .alu-thinley-wrapper {
    width: 7.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .aluthnreciperealmcom {
    position: relative;
    font-weight: 500;
    white-space: nowrap;
  }
  .sub-admin1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.563rem;
  }
  .sub-admin-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1rem 0 0;
  }
  
  /* .remove1 {
    height: 1.063rem;
    width: 2.875rem;
    position: absolute;
    margin: 0 !important;
    right: -84.125rem;
    bottom: 0.125rem;
    font-weight: 600;
    display: inline-block;
  } */

   .remove-container {
    height: 1.375rem;
    width: 4.75rem; /* Keep the width consistent */
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: center; /* Center content horizontally */
    position: relative;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
    overflow: hidden; /* Hide any overflow */
  }
  
  .remove1 {
    height: 100%; /* Adjust height to match parent */
    width: auto; /* Allow the width to fit content */
    position: relative;
    font-weight: 600;
    display: inline-block;
    padding: 0.25rem 0.5rem; /* Add padding for better appearance */
  }

  
  .frame-parent1,
  .remove-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  /* .remove-container {
    height: 1.375rem;
    width: 4.75rem;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    position: relative;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  } */
  .frame-parent1 {
    flex: 1;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .frame-wrapper1,
  .line-div {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-wrapper1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-19xl) 0 var(--padding-9xl);
  }
  .line-div {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .activeAdmins,
  .line-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .line-container {
    align-self: stretch;
    height: 0.063rem;
    flex-direction: row;
    padding: 0 var(--padding-9xs) 0 0.437rem;
    box-sizing: border-box;
    max-width: 100%;
  }
  .activeAdmins {
    flex-direction: column;
  }
  .frame-group {
    align-self: stretch;
    gap: 0.781rem;
    flex-shrink: 0;
    debug_commit: 1de1738;
    max-width: 100%;
    font-size: var(--font-size-base);
    color: var(--color-gray);
  }
  .activeAdmins {
    height: 17.375rem;
    flex: 1;
    padding: 0 0 11.187rem;
    box-sizing: border-box;
    gap: 1.625rem;
    max-width: calc(100% - 329px);
    font-size: 1.5rem;
    color: var(--color-dimgray);
  }
  .admin-list-of-active-admins,
  .main-area {
    display: flex;
    justify-content: flex-start;
    font-family: var(--font-poppins);
  }
  .main-area {
    width: 86.5rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-darkseagreen);
  }
  .admin-list-of-active-admins {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    padding: 5.437rem 2.312rem 16.312rem;
    box-sizing: border-box;
    gap: 2.062rem;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 0.75rem;
    color: var(--color-white);
  }
  
  @media screen and (max-width: 1000px) {
    .frame-div {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 975px) {
    .navTableSize {
      display: none;
    }
    .frame-parent1 {
      flex-wrap: wrap;
    }
    .activeAdmins {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 725px) {
    .notification-icon-parent {
      padding-bottom: 14.063rem;
      box-sizing: border-box;
    }
    .frame-parent {
      flex-wrap: wrap;
    }
    .yeenphen-pema-dhendup-parent {
      flex-wrap: wrap;
      gap: 2.313rem;
    }
    .activeAdmins {
      height: auto;
    }
    .main-area {
      gap: 1.5rem;
    }
    .admin-list-of-active-admins {
      gap: 1rem;
    }
  }
  @media screen and (max-width: 450px) {
    .account-list {
      padding-bottom: 12.938rem;
      box-sizing: border-box;
    }
    .list-of-active {
      font-size: 1.188rem;
    }
    .yeenphen-pema-dhendup-parent {
      gap: 1.125rem;
    }
    .activeAdmins {
      padding-bottom: 7.25rem;
      box-sizing: border-box;
    }
  }
  