body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-sm: 0.875rem;
    --font-size-2xs: 0.688rem;
    --font-size-base: 1rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.188rem;
  
    /* Colors */
    --color-darkslategray: #3f3f3f;
    --color-lightgray: #cdcdcd;
    --color-whitesmoke: #ececec;
    --color-white: #fff;
    --color-gray: #767676;
    --color-dimgray: #545454;
    --color-salmon: #ff7676;
    --color-darkseagreen: #6fb088;
  
    /* Gaps */
    --gap-mid: 1.062rem;
    --gap-7xl-5: 1.656rem;
    --gap-3xs: 0.625rem;
    --gap-xl: 1.25rem;
    --gap-178xl: 12.312rem;
    --gap-79xl: 6.125rem;
    --gap-55xl: 4.625rem;
    --gap-lg: 1.125rem;
    --gap-18xl: 2.312rem;
  
    /* Paddings */
    --padding-76xl: 5.937rem;
    --padding-60xl: 4.937rem;
    --padding-56xl: 4.687rem;
    --padding-72xl: 5.687rem;
    --padding-26xl: 2.812rem;
    --padding-20xl: 2.437rem;
    --padding-xl: 1.25rem;
    --padding-23xl: 2.625rem;
    --padding-4xl: 1.437rem;
    --padding-12xs: 0.062rem;
    --padding-7xs: 0.375rem;
    --padding-2xs: 0.687rem;
    --padding-xs: 0.75rem;
    --padding-3xs: 0.625rem;
    --padding-sm: 0.875rem;
    --padding-9xl: 1.75rem;
    --padding-10xs: 0.187rem;
    --padding-mini: 0.937rem;
    --padding-11xs: 0.125rem;
    --padding-13xl: 2rem;
    --padding-4xs: 0.562rem;
  
    /* Border radiuses */
    --br-9xs: 4px;
    --br-12xl: 31px;
    --br-7xs: 6px;
  }
  