body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-2xs: 0.688rem;
    --font-size-base: 1rem;
  
    /* Colors */
    --color-whitesmoke: #ececec;
    --color-white: #fff;
    --color-gray: #767676;
    --color-dimgray: #545454;
    --color-darkseagreen: #6fb088;
  
    /* Gaps */
    --gap-xl: 1.25rem;
  
    /* Paddings */
    --padding-9xs: 0.25rem;
    --padding-19xl: 2.375rem;
    --padding-9xl: 1.75rem;
    --padding-xl: 1.25rem;
    --padding-sm: 0.875rem;
  
    /* Border radiuses */
    --br-9xs: 4px;
  }
  