body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-sm: 0.875rem;
    --font-size-2xs: 0.688rem;
    --font-size-base: 1rem;
  
    /* Colors */
    --color-darkslategray: #3f3f3f;
    --color-lightgray: #cdcdcd;
    --color-whitesmoke: #ececec;
    --color-white: #fff;
    --color-gray: #767676;
    --color-salmon-100: #ec5959;
    --color-dimgray: #545454;
    --color-darkseagreen: #6fb088;
  
    /* Gaps */
    --gap-xl: 1.25rem;
  
    /* Paddings */
    --padding-xl: 1.25rem;
    --padding-12xs: 0.062rem;
    --padding-7xs: 0.375rem;
    --padding-2xs: 0.687rem;
    --padding-xs: 0.75rem;
    --padding-sm: 0.875rem;
    --padding-9xl: 1.75rem;
    --padding-10xs: 0.187rem;
    --padding-mini: 0.937rem;
    --padding-11xs: 0.125rem;
  
    /* Border radiuses */
    --br-9xs: 4px;
  }
  