body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xs: 0.75rem;
  --font-size-base: 1rem;
  --font-size-2xs: 0.688rem;

  /* Colors */
  --color-white: #fff;
  --color-darkseagreen: #6fb088;
  --color-gray-100: #848484;
  --color-gray-200: #777;
  --color-gray-300: #767676;
  --color-khaki: rgba(255, 228, 149, 0.22);
  --color-whitesmoke: #ececec;
  --color-dimgray: #545454;

  /* Gaps */
  --gap-base: 1rem;
  --gap-xl: 1.25rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-2xl: 1.312rem;
  --padding-lg: 1.125rem;
  --padding-14xl: 2.062rem;
  --padding-15xl: 2.125rem;
  --padding-4xs: 0.562rem;
  --padding-5xs: 0.5rem;
  --padding-6xs: 0.437rem;
  --padding-3xs: 0.625rem;
  --padding-7xs: 0.375rem;
  --padding-3xl: 1.375rem;
  --padding-9xs: 0.25rem;
  --padding-19xl: 2.375rem;
  --padding-9xl: 1.75rem;
  --padding-10xs: 0.187rem;
  --padding-mini: 0.937rem;
  --padding-11xs: 0.125rem;
  --padding-12xs: 0.062rem;
  --padding-sm: 0.875rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-4xs: 9px;
  --br-9xs: 4px;
}
