body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-xs: 0.75rem;
    --font-size-base: 1rem;
  
    /* Colors */
    --color-white: #fff;
    --color-darkseagreen: #6fb088;
    --color-gray-100: #848484;
    --color-gray-200: #777;
    --color-khaki: rgba(255, 228, 149, 0.22);
  
    /* Paddings */
    --padding-lg: 1.125rem;
    --padding-14xl: 2.062rem;
    --padding-15xl: 2.125rem;
    --padding-6xs: 0.437rem;
    --padding-3xs: 0.625rem;
    --padding-7xs: 0.375rem;
    --padding-xl: 1.25rem;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-4xs: 9px;
  }
  