.main-container-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 228, 149, 0.1),
      rgba(183, 217, 196, 0.29)
    );
    border: 0 solid var(--color-khaki);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  
  .image-6-icon2 {
    position: absolute;
    top: 3.438rem;
    left: 14.063rem;
    width: 7.75rem;
    height: 7.75rem;
    object-fit: contain;
    z-index: 1;
  }
  
  .rectangle-parent1 {
    position: absolute;
    top: 23.938rem;
    left: 36.5rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    width: 21.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-14xl) var(--padding-3xl) var(--padding-15xl);
    gap: var(--gap-xl);
    max-width: 100%;
    z-index: 1;
  }
  
  .admin-login {
    width: 100%;
    height: 55.75rem;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-200);
    font-family: var(--font-poppins);
  }
  