.circleBackground {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 228, 149, 0.1),
    rgba(183, 217, 196, 0.29)
  );
  border: 0 solid var(--color-khaki);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  top: 3.438rem;
  left: 14.063rem;
  width: 7.75rem;
  height: 7.75rem;
  object-fit: contain;
  z-index: 1;
}
.main-container {
  display: flex;
  position: absolute;
  top: 9.875rem;
  left: 29.313rem;
  width: 35.938rem;
  height: 35.938rem;
}
/* .frame-child1 {
  width: 21.5rem;
  height: 15.313rem;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
} */
.admin-login1 {
  position: relative;
  display: inline-block;
  min-width: 6.438rem;
  z-index: 1;
}
.input-fields-child {
  height: 2.188rem;
  width: 17.313rem;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: none;
}
.email {
  width: 2.063rem;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 1.125rem;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 2;
}
.input-fields,
.input-fields-item {
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
}
.input-fields {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-3xs) var(--padding-7xs);
  z-index: 1;
}
.input-fields-item {
  height: 2.188rem;
  width: 17.313rem;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.password {
  width: 3.625rem;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 1.125rem;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 2;
}
.credentials,
.input-fields1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fields1 {
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-3xs) var(--padding-7xs);
  z-index: 1;
}
.credentials {
  flex-direction: column;
  gap: 0.437rem;
}

.button-shape {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.login {
  position: absolute;
  top: 0.563rem;
  left: 7.625rem;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 2.063rem;
  z-index: 2;
  color: white;
  text-decoration: none;
}

.button-area2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 2.188rem;
  position: relative;
}

.credentials-container {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.687rem;
}

.recoverPassword {
  position: relative;
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 6.875rem;
  cursor: pointer;
  z-index: 1;
}

.recoverPasswordWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  text-align: center;
  font-size: var(--font-size-xs);
}

.rectangle-parent1 {
  position: absolute;
  top: 23.938rem;
  left: 36.5rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 21.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-14xl) var(--padding-3xl)
    var(--padding-15xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}

.admin-login {
  width: 100%;
  height: 55.75rem;
  position: relative;
  background: linear-gradient(180deg, #fefefe, #eff3f2);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}

.input-fields-item {
  height: 3rem; /* Increase the height of the input field */
  width: 25rem; /* Increase the width of the input field */
}

.password {
  width: 100%; /* Make the width of the input field take up the full width */
  height: 100%; /* Make the height of the input field take up the full height */
}

.input-fields-child {
  height: 3rem; /* Increase the height of the input field */
  width: 25rem; /* Increase the width of the input field */
}

.email {
  width: 100%; /* Make the width of the input field take up the full width */
  height: 100%; /* Make the height of the input field take up the full height */
}