.notifications {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header {
    width: 50.75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .image-6-icon {
    position: absolute;
    top: 0;
    left: 4.875rem;
    width: 7.75rem;
    height: 7.75rem;
    object-fit: contain;
  }
  .nav-item-boxes,
  .subtract-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .subtract-icon {
    border-radius: 31px;
    z-index: 1;
  }
  .nav-item-boxes {
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
  }
  .admin-accounts {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    cursor: pointer;
    z-index: 3;
  }
  .navigation-menu {
    position: absolute;
    top: 7.688rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
    white-space: nowrap;
  }
  .navigation-menu-child {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    width: 100%;
    height: 100%;
  }
  .registered-users {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    cursor: pointer;
    z-index: 3;
  }
  .navigation-menu1 {
    position: absolute;
    top: 10.938rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
    white-space: nowrap;
  }
  .navigation-menu-item {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    width: 100%;
    height: 100%;
  }
  .recipes {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    display: inline-block;
    min-width: 4rem;
    cursor: pointer;
    z-index: 3;
  }
  .navigation-menu2 {
    position: absolute;
    top: 14.188rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
  }
  .navigation-menu-inner {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.2),
      rgba(131, 173, 147, 0.2)
    );
    width: 100%;
    height: 100%;
  }
  .notification {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    display: inline-block;
    min-width: 5.813rem;
    cursor: pointer;
    z-index: 3;
  }
  .profile-picture {
    position: absolute;
    top: 1.375rem;
    left: 15.063rem;
    border-radius: 50%;
    background-color: #ff7676;
    width: 0.438rem;
    height: 0.438rem;
    z-index: 3;
  }
  .navigation-menu3,
  .rectangle-div {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .navigation-menu3 {
    top: 17.438rem;
    height: 3.25rem;
  }
  .rectangle-div {
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    height: 100%;
  }
  .logout {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 3.438rem;
    cursor: pointer;
    z-index: 3;
  }
  .navigation-menu4 {
    position: absolute;
    top: 22.438rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
  }
  .navigation-items {
    position: absolute;
    top: 3.875rem;
    left: 0;
    width: 100%;
    height: 27.563rem;
  }
  .navigation {
    height: 31.438rem;
    width: 17.563rem;
    position: relative;
  }
  .reported-post {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 7.063rem;
  }
  .post-data-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1.125rem 0 0;
  }
  .reason {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.75rem;
  }
  .post-data-labels1 {
    width: 10.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .date {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 2.438rem;
  }
  .post-data-labels2 {
    width: 5.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .action,
  .status {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.25rem;
  }
  .reported-post-labels,
  .reported-posts-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .reported-post-labels {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .reported-posts-header {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 2.25rem 0 2rem;
    box-sizing: border-box;
  }
  .frame-child {
    width: 100%;
    height: 3.25rem;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.1),
      rgba(131, 173, 147, 0.1)
    );
  }
  .post-link {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 4.313rem;
    z-index: 1;
  }
  .wrong-category-labels {
    width: 9.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .wrong-category {
    position: relative;
    font-weight: 500;
    z-index: 1;
  }
  .wrong-category-labels1 {
    width: 11.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .mar-2024 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.125rem;
    z-index: 1;
  }
  .frame-item {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .rectangle-group,
  .wrong-category-data-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-group {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    z-index: 1;
  }
  .wrong-category-data-inner {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .removed {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-salmon-100);
    display: inline-block;
    min-width: 4.25rem;
    z-index: 1;
  }
  .wrong-category-data,
  .wrong-category-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .wrong-category-data {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .wrong-category-item {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl) 0 1.687rem;
  }
  .frame-inner,
  .rectangle-parent {
    align-self: stretch;
    box-sizing: border-box;
    position: relative;
  }
  .frame-inner {
    height: 0.063rem;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .rectangle-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 0 0 var(--padding-12xs);
    gap: 0.937rem;
    max-width: 100%;
  }
  .post-link1 {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 4.313rem;
  }
  .missing-steps-labels {
    width: 9.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .missing-steps {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.875rem;
  }
  .missing-steps-labels1 {
    width: 11.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .mar-20241 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.125rem;
  }
  .missing-steps-labels2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
  }
  .frame-child1 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove1 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .rectangle-container {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .removed1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 4.25rem;
  }
  .removed-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
    font-size: var(--font-size-sm);
    color: var(--color-salmon-100);
  }
  .missing-steps-data,
  .missing-steps-data-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .missing-steps-data {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .missing-steps-data-wrapper {
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
  }
  .dividers,
  .missing-steps-data-wrapper,
  .post-data-items {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .dividers {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .post-data-items {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .post-link2 {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 4.313rem;
  }
  .post-links {
    width: 9.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .missing-ingredients {
    position: relative;
    font-weight: 500;
  }
  .report-reasons {
    width: 11.813rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .mar-20242 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.125rem;
  }
  .frame-child2 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove2 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .group-div,
  .post-data-items1,
  .post-links-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .group-div {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .post-data-items1,
  .post-links-parent {
    max-width: 100%;
  }
  .post-links-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .post-data-items1 {
    width: 54.75rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .post-data-items-child,
  .post-data-items2 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .post-data-items-child {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .post-data-items2 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .post-link3 {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 4.313rem;
  }
  .post-link-wrapper {
    width: 9.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .harmful-photo {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 7.25rem;
  }
  .harmful-photo-wrapper {
    width: 11.813rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .mar-20243 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.125rem;
  }
  .mar-2024-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
  }
  .frame-child3 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove3 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-parent,
  .post-data-items3,
  .rectangle-parent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent1 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent,
  .post-data-items3 {
    max-width: 100%;
  }
  .frame-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .post-data-items3 {
    width: 54.75rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .post-data-items-item,
  .post-data-items4 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .post-data-items-item {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .post-data-items4 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .post-link4 {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 4.313rem;
  }
  .post-link-container {
    width: 9.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .missing-ingredients1 {
    position: relative;
    font-weight: 500;
  }
  .missing-ingredients-wrapper {
    width: 11.813rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .mar-20244 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.125rem;
  }
  .frame-child4 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove4 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-group,
  .post-data-items5,
  .rectangle-parent2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent2 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-group,
  .post-data-items5 {
    max-width: 100%;
  }
  .frame-group {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .post-data-items5 {
    width: 54.75rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .post-data-items-inner,
  .post-data-items6 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .post-data-items-inner {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .post-data-items6 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .post-link5 {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 4.313rem;
  }
  .post-link-frame {
    width: 9.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .missing-steps1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.875rem;
  }
  .missing-steps-wrapper {
    width: 11.813rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .mar-20245 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.125rem;
  }
  .mar-2024-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
  }
  .frame-child5 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove5 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .rectangle-parent3 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-container,
  .post-data-items7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-container {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .post-data-items7 {
    width: 54.75rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .line-div,
  .post-data-items8 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .line-div {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .post-data-items8 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .post-link6 {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 4.313rem;
  }
  .post-link-wrapper1 {
    width: 9.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .missing-ingredients2 {
    position: relative;
    font-weight: 500;
  }
  .missing-ingredients-container {
    width: 11.813rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .mar-20246 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.125rem;
  }
  .frame-child6 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove6 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-div,
  .post-data-items9,
  .rectangle-parent4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent4 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-div,
  .post-data-items9 {
    max-width: 100%;
  }
  .frame-div {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .post-data-items9 {
    width: 54.75rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .post-data-items-child1,
  .post-data-items10 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .post-data-items-child1 {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .post-data-items10 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .post-link7 {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 4.313rem;
  }
  .post-link-wrapper2 {
    width: 9.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .missing-steps2 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.875rem;
  }
  .missing-steps-container {
    width: 11.813rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .mar-20247 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.125rem;
  }
  .mar-2024-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
  }
  .frame-child7 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove7 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-parent1,
  .post-data-items11,
  .rectangle-parent5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent5 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent1,
  .post-data-items11 {
    max-width: 100%;
  }
  .frame-parent1 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .post-data-items11 {
    width: 54.75rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .post-data-items-child2,
  .post-data-items12 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .post-data-items-child2 {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .post-data-items12 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .post-link8 {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 4.313rem;
  }
  .post-link-wrapper3 {
    width: 9.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .missing-ingredients3 {
    position: relative;
    font-weight: 500;
  }
  .missing-ingredients-frame {
    width: 11.813rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .mar-20248 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.125rem;
  }
  .frame-child8 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove8 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-parent2,
  .post-data-items13,
  .rectangle-parent6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent6 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent2,
  .post-data-items13 {
    max-width: 100%;
  }
  .frame-parent2 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .post-data-items13 {
    width: 54.75rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .post-data-items-child3 {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
    max-width: 100%;
  }
  .post-data-items14,
  .reported-post-list {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .post-data-items14 {
    height: 0.063rem;
    flex-direction: row;
    padding: 0 0 0 var(--padding-12xs);
    box-sizing: border-box;
  }
  .reported-post-list {
    flex-direction: column;
    gap: 0.768rem;
    color: var(--color-gray);
  }
  .admin-nav-item-boxes {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.5),
      rgba(255, 228, 149, 0.5)
    );
  }
  .admin-nav-item {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.313rem;
    z-index: 1;
  }
  .admin-nav-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-sm);
    position: relative;
    text-align: left;
  }
  .admin-nav-items-child {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .admin-nav-items1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0.625rem var(--padding-7xs) var(--padding-sm);
    position: relative;
    text-align: left;
  }
  .admin-nav-items-item {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .admin-nav-items2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    position: relative;
  }
  .admin-nav-items-inner {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div2 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.625rem;
    z-index: 1;
  }
  .admin-nav-items3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-2xs);
    box-sizing: border-box;
    position: relative;
    min-width: 1.313rem;
  }
  .admin-nav-items-child1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div3 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .admin-nav-items4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    position: relative;
  }
  .admin-nav-items-child2 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div4 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .admin-nav-items5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    position: relative;
  }
  .admin-nav-items-child3 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div5 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.5rem;
    z-index: 1;
  }
  .admin-nav-items6 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    box-sizing: border-box;
    position: relative;
    min-width: 1.313rem;
  }
  .admin-nav-items-child4 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div6 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.688rem;
    z-index: 1;
  }
  .admin-nav-items7,
  .admin-navigation,
  .admin-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .admin-nav-items7 {
    padding: var(--padding-7xs) var(--padding-2xs);
    position: relative;
  }
  .admin-navigation,
  .admin-panel {
    max-width: 100%;
  }
  .admin-navigation {
    flex: 1;
    gap: 0.625rem;
  }
  .admin-panel {
    width: 21rem;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray);
  }
  .reported-posts-header-parent {
    align-self: stretch;
    flex-direction: column;
    gap: 1.656rem;
    max-width: 100%;
  }
  .admin-recipes,
  .content-container,
  .main-area,
  .reported-posts-header-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .main-area {
    flex: 1;
    flex-direction: column;
    padding: 2.625rem 0 0;
    box-sizing: border-box;
    max-width: calc(100% - 298px);
    color: var(--color-dimgray);
  }
  .admin-recipes,
  .content-container {
    text-align: left;
    font-family: var(--font-poppins);
  }
  .content-container {
    align-self: stretch;
    flex-direction: row;
    gap: 1.062rem;
    max-width: 100%;
    margin-top: -0.188rem;
    font-size: var(--font-size-base);
    color: var(--color-darkseagreen);
  }
  .admin-recipes {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    padding: 5.937rem 4.937rem 4.687rem 5.687rem;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    font-size: 1.5rem;
  }
  @media screen and (max-width: 975px) {
    .navigation {
      display: none;
    }
    .frame-container,
    .frame-div,
    .frame-group,
    .frame-parent,
    .frame-parent1,
    .frame-parent2,
    .missing-steps-data,
    .post-links-parent,
    .reported-post-labels,
    .wrong-category-data {
      flex-wrap: wrap;
    }
    .main-area {
      max-width: 100%;
    }
    .admin-recipes {
      padding-left: 2.813rem;
      padding-right: 2.438rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 700px) {
    .main-area {
      padding-top: 1.438rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .notifications {
      font-size: 1.188rem;
    }
    .admin-nav-items3,
    .admin-nav-items6 {
      flex: 1;
    }
    .admin-navigation {
      flex-wrap: wrap;
    }
    .admin-recipes {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  