.uploaded-recipes {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navigation-panel1 {
    width: 54.938rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .image-6-icon1 {
    position: absolute;
    top: 0;
    left: 4.875rem;
    width: 7.75rem;
    height: 7.75rem;
    object-fit: contain;
  }
  .account-buttons,
  .subtract-icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .subtract-icon1 {
    border-radius: var(--br-12xl);
    z-index: 1;
  }
  .account-buttons {
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
  }
  .admin-accounts1 {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    cursor: pointer;
    z-index: 3;
  }
  .account-navigation {
    position: absolute;
    top: 7.688rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
    white-space: nowrap;
  }
  .account-navigation-child {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    width: 100%;
    height: 100%;
  }
  .registered-users2 {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    cursor: pointer;
    z-index: 3;
  }
  .account-navigation1 {
    position: absolute;
    top: 10.938rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
    white-space: nowrap;
  }
  .account-navigation-item {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.2),
      rgba(131, 173, 147, 0.2)
    );
    width: 100%;
    height: 100%;
  }
  .recipes1 {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    display: inline-block;
    min-width: 4rem;
    z-index: 3;
  }
  .account-navigation2 {
    position: absolute;
    top: 14.188rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
  }
  .account-navigation-inner {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    width: 100%;
    height: 100%;
  }
  .notification1 {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    display: inline-block;
    min-width: 5.813rem;
    cursor: pointer;
    z-index: 3;
  }
  .notification-indicator {
    position: absolute;
    top: 1.375rem;
    left: 15.063rem;
    border-radius: 50%;
    background-color: var(--color-salmon);
    width: 0.438rem;
    height: 0.438rem;
    z-index: 3;
  }
  .account-navigation3 {
    position: absolute;
    top: 17.438rem;
    left: 0;
    width: 100%;
    height: 3.25rem;
  }
  .account-navigation-child1 {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    width: 100%;
    height: 100%;
  }
  .logout1 {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 3.438rem;
    cursor: pointer;
    z-index: 3;
  }
  .account-navigation4 {
    position: absolute;
    top: 22.438rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
  }
  .recipe-details-panel {
    position: absolute;
    top: 3.875rem;
    left: 0;
    width: 100%;
    height: 27.563rem;
  }
  .recipe-display {
    height: 31.438rem;
    width: 17.563rem;
    position: relative;
  }
  .name1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.063rem;
  }
  .column-labels {
    width: 12.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .steps {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 2.813rem;
  }
  .column-labels1 {
    width: 13.313rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .ingredients {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.75rem;
  }
  .column-labels2 {
    width: 10.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .action1,
  .photo {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 2.938rem;
  }
  .action1 {
    min-width: 3.25rem;
  }
  .recipe-column-titles,
  .recipe-list-columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .recipe-column-titles {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .recipe-list-columns {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 1.125rem 0 var(--padding-13xl);
    box-sizing: border-box;
  }
  .new-recipe-image-placeholder {
    width: 100%;
    height: 3.25rem;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.1),
      rgba(131, 173, 147, 0.1)
    );
  }
  .tshering-norbu1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 7.688rem;
    z-index: 1;
  }
  .header-elements {
    width: 13.563rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .step-1-lorem {
    position: relative;
    font-weight: 500;
    z-index: 1;
  }
  .header-elements1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs) var(--padding-2xs) 0 0;
  }
  .onion-garlic-ginger,
  .onion-garlic-ginger1 {
    position: relative;
    font-weight: 500;
    z-index: 1;
  }
  .onion-garlic-ginger1 {
    z-index: 2;
    margin-left: -11.063rem;
  }
  .additional-ingredients,
  .additional-ingredients-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .additional-ingredients {
    flex-direction: column;
    padding: var(--padding-4xs) 0 0;
  }
  .action-button-placeholder {
    height: 2.688rem;
    width: 2.688rem;
    position: relative;
    border-radius: var(--br-7xs);
    object-fit: cover;
    z-index: 1;
  }
  .frame-child7 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove9 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .delete-button-container,
  .rectangle-parent6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent6 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    z-index: 1;
  }
  .delete-button-container {
    flex-direction: column;
    padding: var(--padding-3xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .additional-recipe-header,
  .additional-recipe-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .additional-recipe-header {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .additional-recipe-info {
    width: 63.875rem;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs);
  }
  .additional-recipe-area,
  .additional-recipe-area-child {
    align-self: stretch;
    box-sizing: border-box;
    position: relative;
  }
  .additional-recipe-area-child {
    height: 0.063rem;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .additional-recipe-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0.312rem 0 0;
    gap: 0.312rem;
    max-width: 100%;
  }
  .yeenphen-pema-dhendup4 {
    position: relative;
    font-weight: 500;
  }
  .recipe-data-containers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-7xs) 0 0;
  }
  .step-1-lorem1 {
    position: relative;
    font-weight: 500;
  }
  .step-descriptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-2xs) 0 0;
  }
  .onion-garlic-ginger2 {
    position: relative;
    font-weight: 500;
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .action-button-labels {
    height: 2.688rem;
    width: 2.688rem;
    position: relative;
    border-radius: var(--br-7xs);
    object-fit: cover;
  }
  .frame-child8 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove10 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .individual-recipe-details,
  .rectangle-parent7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent7 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
  }
  .individual-recipe-details {
    flex-direction: column;
    padding: var(--padding-4xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .recipe-item-info-containers,
  .recipe-list-dividers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .recipe-item-info-containers {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .recipe-list-dividers {
    width: 63.875rem;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs);
  }
  .recipe-list-dividers1 {
    align-self: stretch;
    height: 0.063rem;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
  }
  .alu-thinley4 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.5rem;
  }
  .alu-thinley-wrapper {
    width: 13.563rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .step-1-lorem2 {
    position: relative;
    font-weight: 500;
  }
  .step-1-lorem-ipsum-dolor-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-2xs) 0 0;
  }
  .onion-garlic-ginger3 {
    position: relative;
    font-weight: 500;
  }
  .onion-garlic-ginger-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .rectangle-icon {
    height: 2.688rem;
    width: 2.688rem;
    position: relative;
    border-radius: var(--br-7xs);
    object-fit: cover;
  }
  .frame-child9 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove11 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-wrapper3,
  .rectangle-parent8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent8 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
  }
  .frame-wrapper3 {
    flex-direction: column;
    padding: var(--padding-3xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent4,
  .recipe-list-dividers2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent4 {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .recipe-list-dividers2 {
    width: 63.875rem;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs);
  }
  .recipe-list-dividers3 {
    align-self: stretch;
    height: 0.063rem;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
  }
  .yeenphen-pema-dhendup5 {
    position: relative;
    font-weight: 500;
  }
  .yeenphen-pema-dhendup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-7xs) 0 0;
  }
  .step-1-lorem3 {
    position: relative;
    font-weight: 500;
  }
  .step-1-lorem-ipsum-dolor-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-2xs) 0 0;
  }
  .onion-garlic-ginger4 {
    position: relative;
    font-weight: 500;
  }
  .onion-garlic-ginger-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child10 {
    height: 2.688rem;
    width: 2.688rem;
    position: relative;
    border-radius: var(--br-7xs);
    object-fit: cover;
  }
  .frame-child11 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove12 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-wrapper4,
  .rectangle-parent9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent9 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
  }
  .frame-wrapper4 {
    flex-direction: column;
    padding: var(--padding-4xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent5,
  .recipe-list-dividers4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent5 {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .recipe-list-dividers4 {
    width: 63.875rem;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs);
  }
  .recipe-list-dividers5 {
    align-self: stretch;
    height: 0.063rem;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
  }
  .alu-thinley5 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.5rem;
  }
  .alu-thinley-frame {
    width: 13.563rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .step-1-lorem4 {
    position: relative;
    font-weight: 500;
  }
  .step-1-lorem-ipsum-dolor-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-2xs) 0 0;
  }
  .onion-garlic-ginger5 {
    position: relative;
    font-weight: 500;
  }
  .onion-garlic-ginger-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child12 {
    height: 2.688rem;
    width: 2.688rem;
    position: relative;
    border-radius: var(--br-7xs);
    object-fit: cover;
  }
  .frame-child13 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove13 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-wrapper5,
  .rectangle-parent10 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent10 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
  }
  .frame-wrapper5 {
    flex-direction: column;
    padding: var(--padding-3xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent6,
  .recipe-list-dividers6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent6 {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .recipe-list-dividers6 {
    width: 63.875rem;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs);
  }
  .recipe-list-dividers7 {
    align-self: stretch;
    height: 0.063rem;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
  }
  .yeenphen-pema-dhendup6 {
    position: relative;
    font-weight: 500;
  }
  .yeenphen-pema-dhendup-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-7xs) 0 0;
  }
  .step-1-lorem5 {
    position: relative;
    font-weight: 500;
  }
  .step-1-lorem-ipsum-dolor-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-2xs) 0 0;
  }
  .onion-garlic-ginger6 {
    position: relative;
    font-weight: 500;
  }
  .onion-garlic-ginger-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child14 {
    height: 2.688rem;
    width: 2.688rem;
    position: relative;
    border-radius: var(--br-7xs);
    object-fit: cover;
  }
  .frame-child15 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove14 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-wrapper6,
  .rectangle-parent11 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent11 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
  }
  .frame-wrapper6 {
    flex-direction: column;
    padding: var(--padding-4xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent7,
  .recipe-list-dividers8 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent7 {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .recipe-list-dividers8 {
    width: 63.875rem;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs);
  }
  .recipe-list-dividers9 {
    align-self: stretch;
    height: 0.063rem;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
  }
  .alu-thinley6 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.5rem;
  }
  .alu-thinley-wrapper1 {
    width: 13.563rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .step-1-lorem6 {
    position: relative;
    font-weight: 500;
  }
  .step-1-lorem-ipsum-dolor-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-2xs) 0 0;
  }
  .onion-garlic-ginger7 {
    position: relative;
    font-weight: 500;
  }
  .onion-garlic-ginger-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child16 {
    height: 2.688rem;
    width: 2.688rem;
    position: relative;
    border-radius: var(--br-7xs);
    object-fit: cover;
  }
  .frame-child17 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove15 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-wrapper7,
  .rectangle-parent12 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent12 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
  }
  .frame-wrapper7 {
    flex-direction: column;
    padding: var(--padding-3xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent8,
  .recipe-list-dividers10 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent8 {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .recipe-list-dividers10 {
    width: 63.875rem;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs);
  }
  .recipe-list-dividers11 {
    align-self: stretch;
    height: 0.063rem;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
  }
  .yeenphen-pema-dhendup7 {
    position: relative;
    font-weight: 500;
  }
  .yeenphen-pema-dhendup-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-7xs) 0 0;
  }
  .step-1-lorem7 {
    position: relative;
    font-weight: 500;
  }
  .step-1-lorem-ipsum-dolor-wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-2xs) 0 0;
  }
  .onion-garlic-ginger8 {
    position: relative;
    font-weight: 500;
  }
  .onion-garlic-ginger-wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child18 {
    height: 2.688rem;
    width: 2.688rem;
    position: relative;
    border-radius: var(--br-7xs);
    object-fit: cover;
  }
  .frame-child19 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove16 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-wrapper8,
  .rectangle-parent13 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent13 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
  }
  .frame-wrapper8 {
    flex-direction: column;
    padding: var(--padding-4xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent9,
  .recipe-list-dividers12 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent9 {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .recipe-list-dividers12 {
    width: 63.875rem;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs);
  }
  .recipe-list-dividers13 {
    align-self: stretch;
    height: 0.063rem;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
  }
  .alu-thinley7 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.5rem;
  }
  .alu-thinley-wrapper2 {
    width: 13.563rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .step-1-lorem8 {
    position: relative;
    font-weight: 500;
  }
  .step-1-lorem-ipsum-dolor-wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-2xs) 0 0;
  }
  .onion-garlic-ginger9 {
    position: relative;
    font-weight: 500;
  }
  .onion-garlic-ginger-wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child20 {
    height: 2.688rem;
    width: 2.688rem;
    position: relative;
    border-radius: var(--br-7xs);
    object-fit: cover;
  }
  .frame-child21 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove17 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-wrapper9,
  .rectangle-parent14 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent14 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
  }
  .frame-wrapper9 {
    flex-direction: column;
    padding: var(--padding-3xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent10,
  .recipe-list-dividers14 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent10 {
    flex: 1;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-xl);
  }
  .recipe-list-dividers14 {
    width: 63.875rem;
    justify-content: flex-end;
    padding: 0 var(--padding-7xs);
  }
  .recipe-list-dividers15 {
    align-self: stretch;
    height: 0.063rem;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
  }
  .recipe-list-items {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.187rem;
    max-width: 100%;
    color: var(--color-gray);
  }
  .account-button-shapes {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.5),
      rgba(255, 228, 149, 0.5)
    );
  }
  .account-button-placeholders {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.313rem;
    z-index: 1;
  }
  .account-navigation-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-sm);
    position: relative;
    text-align: left;
  }
  .account-navigation-buttons-child {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div8 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .account-navigation-buttons1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-3xs) var(--padding-7xs)
      var(--padding-sm);
    position: relative;
    text-align: left;
  }
  .account-navigation-buttons-item {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div9 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .account-navigation-buttons2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    position: relative;
  }
  .account-navigation-buttons-inner {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div10 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.625rem;
    z-index: 1;
  }
  .account-navigation-buttons3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-2xs);
    box-sizing: border-box;
    position: relative;
    min-width: 1.313rem;
  }
  .account-navigation-buttons-child1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div11 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .account-navigation-buttons4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    position: relative;
  }
  .account-navigation-buttons-child2 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div12 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .account-navigation-buttons5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    position: relative;
  }
  .account-navigation-buttons-child3 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div13 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.5rem;
    z-index: 1;
  }
  .account-navigation-buttons6 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    box-sizing: border-box;
    position: relative;
    min-width: 1.313rem;
  }
  .account-navigation-buttons-child4 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div14 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.688rem;
    z-index: 1;
  }
  .account-navigation-buttons7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-2xs);
    position: relative;
  }
  .account-navigation-options,
  .account-navigation-options-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .account-navigation-options {
    flex: 1;
    gap: var(--gap-3xs);
  }
  .account-navigation-options-wrapper {
    width: 21rem;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray);
  }
  .recipe-list-header {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-7xl-5);
    max-width: 100%;
  }
  .admin-recipes,
  .content-area,
  .recipe-list-header,
  .recipe-overview {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .recipe-overview {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-23xl) 0 0;
    box-sizing: border-box;
    max-width: calc(100% - 298px);
    color: var(--color-dimgray);
  }
  .admin-recipes,
  .content-area {
    text-align: left;
    font-family: var(--font-poppins);
  }
  .content-area {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-mid);
    max-width: 100%;
    margin-top: -0.188rem;
    font-size: var(--font-size-base);
    color: var(--color-darkseagreen);
  }
  .admin-recipes {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-76xl) var(--padding-60xl) var(--padding-56xl)
      var(--padding-72xl);
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    font-size: var(--font-size-5xl);
  }
  @media screen and (max-width: 1000px) {
    .recipe-display {
      display: none;
    }
    .additional-recipe-header,
    .frame-parent10,
    .frame-parent4,
    .frame-parent5,
    .frame-parent6,
    .frame-parent7,
    .frame-parent8,
    .frame-parent9,
    .recipe-column-titles,
    .recipe-item-info-containers {
      flex-wrap: wrap;
    }
    .recipe-overview {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 975px) {
    .admin-recipes {
      padding-left: var(--padding-26xl);
      padding-right: var(--padding-20xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 725px) {
    .recipe-overview {
      padding-top: var(--padding-4xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .uploaded-recipes {
      font-size: var(--font-size-lgi);
    }
    .account-navigation-buttons3,
    .account-navigation-buttons6 {
      flex: 1;
    }
    .account-navigation-options {
      flex-wrap: wrap;
    }
    .admin-recipes {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  