
/* 2 ///////////////////////////////////////////////////////////////////*/


.circleBackground {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 228, 149, 0.1),
    rgba(183, 217, 196, 0.29)
  );
  border: 0 solid var(--color-khaki);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

  .logo {
    position: absolute;
    top: 3.438rem;
    left: 14.063rem;
    width: 7.75rem;
    height: 7.75rem;
    object-fit: cover;
    z-index: 1;
  }

  .circleBackgroundParent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* 2 ///////////////////////////////////////////////////////////////////*/

  .frame-item {
    width: 21.5rem;
    height: 14.25rem;
    position: relative;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    display: none;
    max-width: 100%;
  }

  .recover-password1,
  .recoveryText {
    position: relative;
    z-index: 1;
  }
  
  .recoveryText {
    font-size: 0.625rem;
    color: var(--color-gray-100);
    z-index: 3;
  }
  
  .instruction-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.125rem;
  }


/* 2 ///////////////////////////////////////////////////////////////////*/

  .button-area-child {
    height: 2.188rem;
    width: 17.313rem;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
  }

  .email1 {
    width: 16.063rem;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    background-color: transparent;
    height: 1.125rem;
    position: relative;
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 2;
  }
  .button-area1 {
    align-self: stretch;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) var(--padding-3xs) var(--padding-7xs);
    z-index: 1;
  }
  .button-area-item {
    height: 2.188rem;
    width: 17.313rem;
    position: relative;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    display: none;
  }
  .send {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 1.938rem;
    z-index: 2;
  }

  .button-area2,
  .email-action {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .button-area2 {
    cursor: pointer;
    border: 0;
    padding: 0.562rem var(--padding-xl) 0.5rem;
    background-color: transparent;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    flex-direction: row;
    justify-content: center;
    z-index: 1;
  }
  .email-action {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
  .back {
    position: relative;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 1.813rem;
    cursor: pointer;
    z-index: 1;
  }
  .back-wrapper,
  .rectangle-group {
    display: flex;
    align-items: flex-start;
  }
  .back-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-xs);
  }
  .rectangle-group {
    position: absolute;
    top: 14.063rem;
    left: 7.188rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    width: 21.5rem;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-14xl) 1.5rem var(--padding-15xl);
    box-sizing: border-box;
    gap: 1.281rem;
    max-width: 100%;
    z-index: 1;
  }
  .frame-parent {
    height: 35.938rem;
    width: 35.938rem;
    position: relative;
    max-width: 100%;
  }
  .admin-recovery-password {
    width: 100%;
    height: 55.75rem;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 9.875rem var(--padding-xl) 9.937rem 1.312rem;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-200);
    font-family: var(--font-poppins);
  }
  
