.registered-users {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .main-layout {
    width: 53.875rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .image-6-icon {
    position: absolute;
    top: 0;
    left: 4.875rem;
    width: 7.75rem;
    height: 7.75rem;
    object-fit: contain;
  }
  .nav-buttons,
  .subtract-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .subtract-icon {
    border-radius: 31px;
    z-index: 1;
  }
  .nav-buttons {
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
  }
  .admin-accounts {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    cursor: pointer;
    z-index: 3;
  }
  .navigation {
    position: absolute;
    top: 7.688rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
    white-space: nowrap;
  }
  .navigation-child {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.2),
      rgba(131, 173, 147, 0.2)
    );
    width: 100%;
    height: 100%;
  }
  .registered-users1 {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    z-index: 3;
  }
  .navigation1 {
    position: absolute;
    top: 10.938rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
    white-space: nowrap;
  }
  .navigation-item {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    width: 100%;
    height: 100%;
  }
  .recipes {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    display: inline-block;
    min-width: 4rem;
    cursor: pointer;
    z-index: 3;
  }
  .navigation2 {
    position: absolute;
    top: 14.188rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
  }
  .navigation-inner {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    width: 100%;
    height: 100%;
  }
  .notification {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    display: inline-block;
    min-width: 5.813rem;
    cursor: pointer;
    z-index: 3;
  }
  .profile-icon {
    position: absolute;
    top: 1.375rem;
    left: 15.063rem;
    border-radius: 50%;
    background-color: #ff7676;
    width: 0.438rem;
    height: 0.438rem;
    z-index: 3;
  }
  .navigation3,
  .rectangle-div {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .navigation3 {
    top: 17.438rem;
    height: 3.25rem;
  }
  .rectangle-div {
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.01),
      rgba(131, 173, 147, 0.01)
    );
    height: 100%;
  }
  .logout {
    position: absolute;
    top: 0.875rem;
    left: 1.75rem;
    font-weight: 500;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 3.438rem;
    cursor: pointer;
    z-index: 3;
  }
  .navigation4 {
    position: absolute;
    top: 22.438rem;
    left: 0;
    width: 17.563rem;
    height: 3.25rem;
  }
  .header-options {
    position: absolute;
    top: 3.875rem;
    left: 0;
    width: 100%;
    height: 27.563rem;
  }
  .header-area {
    height: 31.438rem;
    width: 17.563rem;
    position: relative;
  }
  .email,
  .name {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.063rem;
  }
  .email {
    min-width: 2.813rem;
  }
  .user-info {
    width: 24.313rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .action {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.25rem;
  }
  .table-header,
  .user-table {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .table-header {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .user-table {
    width: 63.625rem;
    justify-content: flex-start;
    padding: 0 2rem;
    box-sizing: border-box;
  }
  .input-box {
    width: 100%;
    height: 3.25rem;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.1),
      rgba(131, 173, 147, 0.1)
    );
  }
  .tshering-norbu {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 7.688rem;
    z-index: 1;
  }
  .tsheringnorbureciperealmcom {
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    z-index: 1;
  }
  .new-username {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10.125rem;
    max-width: 100%;
  }
  .frame-child {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .action-field,
  .rectangle-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    z-index: 1;
  }
  .action-field {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .name-field,
  .new-user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .name-field {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .new-user-info {
    width: 64rem;
    justify-content: flex-start;
    padding: 0 1.687rem;
    box-sizing: border-box;
  }
  .new-user-area,
  .table-divider {
    align-self: stretch;
    box-sizing: border-box;
    position: relative;
  }
  .table-divider {
    height: 0.063rem;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .new-user-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 0 0 var(--padding-12xs);
    gap: 0.937rem;
    max-width: 100%;
  }
  .yeenphen-pema-dhendup,
  .yeenphenpemareciperealmcom {
    position: relative;
    font-weight: 500;
  }
  .yeenphenpemareciperealmcom {
    white-space: nowrap;
  }
  .user-details,
  .username {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .username {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-55xl);
  }
  .user-details {
    width: 35.563rem;
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-item {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove1 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .data-rows,
  .rectangle-group,
  .row-dividers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-group {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .data-rows,
  .row-dividers {
    max-width: 100%;
  }
  .row-dividers {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .data-rows {
    width: 64.125rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .data-rows-child,
  .data-rows1 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .data-rows-child {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .data-rows1 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .alu-thinley {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.5rem;
  }
  .aluthnreciperealmcom {
    position: relative;
    font-weight: 500;
    white-space: nowrap;
  }
  .alu-thinley-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-178xl);
    max-width: 100%;
  }
  .frame-inner {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove2 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .data-rows2,
  .frame-parent,
  .rectangle-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-container {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .data-rows2,
  .frame-parent {
    max-width: 100%;
  }
  .frame-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .data-rows2 {
    width: 64.125rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .data-rows-item,
  .data-rows3 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .data-rows-item {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .data-rows3 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .yeenphen-pema-dhendup1,
  .yeenphenpemareciperealmcom1 {
    position: relative;
    font-weight: 500;
  }
  .yeenphenpemareciperealmcom1 {
    white-space: nowrap;
  }
  .frame-wrapper,
  .yeenphen-pema-dhendup-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .yeenphen-pema-dhendup-parent {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-55xl);
  }
  .frame-wrapper {
    width: 35.563rem;
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child1 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove3 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .data-rows4,
  .frame-group,
  .group-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .group-div {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .data-rows4,
  .frame-group {
    max-width: 100%;
  }
  .frame-group {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .data-rows4 {
    width: 64.125rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .data-rows-inner,
  .data-rows5 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .data-rows-inner {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .data-rows5 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .alu-thinley1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.5rem;
  }
  .aluthnreciperealmcom1 {
    position: relative;
    font-weight: 500;
    white-space: nowrap;
  }
  .alu-thinley-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-178xl);
    max-width: 100%;
  }
  .frame-child2 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove4 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-container,
  .rectangle-parent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent1 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-container {
    flex: 1;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .data-rows6,
  .data-rows7,
  .line-div {
    box-sizing: border-box;
    max-width: 100%;
  }
  .data-rows6 {
    width: 64.125rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
  }
  .data-rows7,
  .line-div {
    align-self: stretch;
  }
  .line-div {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .data-rows7 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .yeenphen-pema-dhendup2,
  .yeenphenpemareciperealmcom2 {
    position: relative;
    font-weight: 500;
  }
  .yeenphenpemareciperealmcom2 {
    white-space: nowrap;
  }
  .frame-wrapper1,
  .yeenphen-pema-dhendup-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .yeenphen-pema-dhendup-group {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-55xl);
  }
  .frame-wrapper1 {
    width: 35.563rem;
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child3 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove5 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .data-rows8,
  .frame-div,
  .rectangle-parent2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent2 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .data-rows8,
  .frame-div {
    max-width: 100%;
  }
  .frame-div {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .data-rows8 {
    width: 64.125rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .data-rows-child1,
  .data-rows9 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .data-rows-child1 {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .data-rows9 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .alu-thinley2 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.5rem;
  }
  .aluthnreciperealmcom2 {
    position: relative;
    font-weight: 500;
    white-space: nowrap;
  }
  .alu-thinley-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-178xl);
    max-width: 100%;
  }
  .frame-child4 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove6 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .data-rows10,
  .frame-parent1,
  .rectangle-parent3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent3 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .data-rows10,
  .frame-parent1 {
    max-width: 100%;
  }
  .frame-parent1 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .data-rows10 {
    width: 64.125rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .data-rows-child2,
  .data-rows11 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .data-rows-child2 {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .data-rows11 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .yeenphen-pema-dhendup3,
  .yeenphenpemareciperealmcom3 {
    position: relative;
    font-weight: 500;
  }
  .yeenphenpemareciperealmcom3 {
    white-space: nowrap;
  }
  .frame-wrapper2,
  .yeenphen-pema-dhendup-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .yeenphen-pema-dhendup-container {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-55xl);
  }
  .frame-wrapper2 {
    width: 35.563rem;
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child5 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove7 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .data-rows12,
  .frame-parent2,
  .rectangle-parent4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent4 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .data-rows12,
  .frame-parent2 {
    max-width: 100%;
  }
  .frame-parent2 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .data-rows12 {
    width: 64.125rem;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .data-rows-child3,
  .data-rows13 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .data-rows-child3 {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .data-rows13 {
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .alu-thinley3 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 5.5rem;
  }
  .aluthnreciperealmcom3 {
    position: relative;
    font-weight: 500;
    white-space: nowrap;
  }
  .alu-thinley-parent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-178xl);
    max-width: 100%;
  }
  .frame-child6 {
    height: 1.375rem;
    width: 4.75rem;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
  }
  .remove8 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 2.875rem;
    z-index: 1;
  }
  .frame-parent3,
  .rectangle-parent5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent5 {
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-mini) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
  }
  .frame-parent3 {
    flex: 1;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .data-rows-child4,
  .data-rows14 {
    box-sizing: border-box;
    max-width: 100%;
  }
  .data-rows14 {
    width: 64.125rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl);
  }
  .data-rows-child4 {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke);
  }
  .data-rows15,
  .user-data {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .data-rows15 {
    height: 0.063rem;
    flex-direction: row;
    padding: 0 0 0 var(--padding-12xs);
    box-sizing: border-box;
  }
  .user-data {
    flex-direction: column;
    gap: 0.768rem;
    color: var(--color-gray);
  }
  .link-boxes {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.5),
      rgba(255, 228, 149, 0.5)
    );
  }
  .div,
  .link-rows {
    position: relative;
  }
  .div {
    font-weight: 500;
    display: inline-block;
    min-width: 0.313rem;
    z-index: 1;
  }
  .link-rows {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-sm);
    text-align: left;
  }
  .link-rows-child {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .link-rows1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0.625rem var(--padding-7xs) var(--padding-sm);
    position: relative;
    text-align: left;
  }
  .link-rows-item {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div2 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .link-rows2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    position: relative;
  }
  .link-rows-inner {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div3 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.625rem;
    z-index: 1;
  }
  .link-rows3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-2xs);
    box-sizing: border-box;
    position: relative;
    min-width: 1.313rem;
  }
  .link-rows-child1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div4 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .link-rows4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    position: relative;
  }
  .link-rows-child2 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div5 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.563rem;
    z-index: 1;
  }
  .link-rows5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    position: relative;
  }
  .link-rows-child3 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div6 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.5rem;
    z-index: 1;
  }
  .link-rows6 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-xs);
    box-sizing: border-box;
    position: relative;
    min-width: 1.313rem;
  }
  .link-rows-child4 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    opacity: 0.5;
  }
  .div7 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 0.688rem;
    z-index: 1;
  }
  .link-rows7,
  .navigation-panel,
  .quick-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .link-rows7 {
    padding: var(--padding-7xs) var(--padding-2xs);
    position: relative;
  }
  .navigation-panel,
  .quick-links {
    max-width: 100%;
  }
  .quick-links {
    flex: 1;
    gap: 0.625rem;
  }
  .navigation-panel {
    width: 21rem;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray);
  }
  .table-area {
    align-self: stretch;
    flex-direction: column;
    gap: 1.656rem;
    max-width: 100%;
  }
  .account-manager,
  .admin-registered-users,
  .header-area-parent,
  .table-area {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .account-manager {
    flex: 1;
    flex-direction: column;
    padding: 2.625rem 0 0;
    box-sizing: border-box;
    max-width: calc(100% - 298px);
    color: var(--color-dimgray);
  }
  .admin-registered-users,
  .header-area-parent {
    text-align: left;
    font-family: var(--font-poppins);
  }
  .header-area-parent {
    align-self: stretch;
    flex-direction: row;
    gap: 1.062rem;
    max-width: 100%;
    margin-top: -0.188rem;
    font-size: var(--font-size-base);
    color: var(--color-darkseagreen);
  }
  .admin-registered-users {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    padding: 5.937rem 4.937rem 4.687rem 5.687rem;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    font-size: 1.5rem;
  }
  @media screen and (max-width: 975px) {
    .header-area {
      display: none;
    }
    .frame-container,
    .frame-div,
    .frame-group,
    .frame-parent,
    .frame-parent1,
    .frame-parent2,
    .frame-parent3,
    .name-field,
    .row-dividers {
      flex-wrap: wrap;
    }
    .account-manager {
      max-width: 100%;
    }
    .admin-registered-users {
      padding-left: 2.813rem;
      padding-right: 2.438rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 700px) {
    .new-username,
    .table-header {
      flex-wrap: wrap;
    }
    .new-username {
      gap: 5.063rem;
    }
    .username {
      flex-wrap: wrap;
      gap: var(--gap-18xl);
    }
    .alu-thinley-parent {
      flex-wrap: wrap;
      gap: var(--gap-79xl);
    }
    .yeenphen-pema-dhendup-parent {
      flex-wrap: wrap;
      gap: var(--gap-18xl);
    }
    .alu-thinley-group {
      flex-wrap: wrap;
      gap: var(--gap-79xl);
    }
    .yeenphen-pema-dhendup-group {
      flex-wrap: wrap;
      gap: var(--gap-18xl);
    }
    .alu-thinley-container {
      flex-wrap: wrap;
      gap: var(--gap-79xl);
    }
    .yeenphen-pema-dhendup-container {
      flex-wrap: wrap;
      gap: var(--gap-18xl);
    }
    .alu-thinley-parent1 {
      flex-wrap: wrap;
      gap: var(--gap-79xl);
    }
    .account-manager {
      padding-top: 1.438rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .registered-users {
      font-size: 1.188rem;
    }
    .new-username {
      gap: 2.5rem;
    }
    .username,
    .yeenphen-pema-dhendup-container,
    .yeenphen-pema-dhendup-group,
    .yeenphen-pema-dhendup-parent {
      gap: var(--gap-lg);
    }
    .link-rows3,
    .link-rows6 {
      flex: 1;
    }
    .quick-links {
      flex-wrap: wrap;
    }
    .admin-registered-users {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  