body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-sm: 14px;
  --font-size-7xs: 6px;
  --font-size-3xs: 10px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-powderblue: #b7d9c4;
  --color-gray-100: #898989;
  --color-gray-200: #777;
  --color-black: #000;
  --color-darkseagreen: #6fb088;

  /* Gaps */
  --gap-xl: 20px;
  --gap-12xs: 1px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-smi: 13px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-2xs: 11px;
  --padding-8xs: 5px;
  --padding-sm: 14px;

  --br-4xs: 10px;
  --br-xs: 5px;
}
  .recipeslogged-in-child {
    width: 1033px;
    height: 1033px;
    position: absolute;
    margin: 0 !important;
    bottom: 91px;
    left: -676px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.4),
      rgba(131, 173, 147, 0)
    );
    border: 0 solid var(--color-powderblue);
    box-sizing: border-box;
  }
  .image-6-icon {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm,
  .recipe {
    margin: 0;
  }
  .recipe-realm {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 23px;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .image-6-parent,
  .recipe-realm-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .recipe-realm-wrapper {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .image-6-parent {
    flex-direction: row;
    gap: 10px;
  }
  .about,
  .home,
  .recipes {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .about,
  .recipes {
    min-width: 54px;
  }
  .recipes {
    min-width: 63px;
  }
  .cousin-once-remove {
    margin: 0;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-200);
    font-family: var(--font-poppins);
  }
  .cousin-once-remove-wrapper {
    margin: 0;
    width: 318px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
  }
  .frame-group,
  .frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-group {
    width: 807px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper {
    align-self: stretch;
    justify-content: flex-start;
    text-align: left;
    font-size: 20px;
    font-family: var(--font-poppins);
  }
  .search-recipe {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .descendant-sub-trees-child {
    height: 50px;
    width: 539px;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .example-salad {
    width: 100%;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: 12px;
    background-color: transparent;
    height: 18px;
    position: relative;
    color: #848484;
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 1;
  }
  .descendant-sub-trees {
    flex: 1;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 24px;
    min-width: 95px;
    max-width: 100%;
  }
  .descendant-sub-trees-item {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    right: -144px;
    bottom: -50px;
    left: 144px;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .search {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 50px;
    z-index: 1;
  }
  .descendant-sub-trees1 {
    cursor: pointer;
    border: 0;
    padding: 15px 46px var(--padding-sm);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .ancestor-sub-trees,
  .frame-parent,
  .search-recipe-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .ancestor-sub-trees {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 11px;
  }
  .frame-parent,
  .search-recipe-parent {
    width: 694px;
    flex-direction: column;
    gap: 8px;
  }
  .frame-parent {
    width: 1016px;
    align-items: flex-end;
    padding: 0 var(--padding-xl) 9px 0;
    box-sizing: border-box;
    gap: 31px;
    text-align: left;
    font-size: 24px;
    color: #3c3c3c;
    font-family: var(--font-poppins);
  }
  .frame-child {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew,
  .frame-item {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-item {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .cousin-descendants {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .aunt-descendants-child {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .aunt-descendants {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .ancestor-descendants,
  .rectangle-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    cursor: pointer;
  }
  .ancestor-descendants {
    flex: 0.9806;
    padding: 0 var(--padding-9xs) 0 0;
    min-width: 203px;
    max-width: 206px;
  }
  .phheart-fill-icon,
  .phheart-fill-icon1 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-child1,
  .frame-inner,
  .rectangle-icon {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-inner {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .frame-child1,
  .rectangle-icon {
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .rectangle-icon {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child1 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .sibling-roots {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .uncle-roots-child,
  .uncle-roots-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .uncle-roots-item {
    z-index: 2;
  }
  .uncle-roots {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 3;
  }
  .descendant-roots {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner,
  .phheart-fill-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .phheart-fill-parent {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 2;
  }
  .cousin-twice-remove-inner {
    flex: 0.9758;
    padding: 0 var(--padding-8xs) 0 0;
    min-width: 203px;
    max-width: 207px;
  }
  .rectangle-div {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .chicken-salad,
  .frame-child2 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child2 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .group-icon {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef1 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-container {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .branch-descendants,
  .rectangle-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-group {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .branch-descendants {
    flex: 0.9484;
    padding: 0 var(--padding-2xs) 0 0;
    min-width: 209px;
    max-width: 213px;
  }
  .frame-child3 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa,
  .frame-child4 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child4 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child5 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef2 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-div {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-container,
  .sub-tree-roots {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-container {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .sub-tree-roots {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-child6 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
    z-index: 0;
  }
  .chicken-stir-fry,
  .frame-child7 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child7 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-stir-fry {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .accordion {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .table-layout-child {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef3 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .table-layout {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .tree-view {
    position: absolute;
    top: -300px;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid #ffe495;
    box-sizing: border-box;
    width: 575px;
    height: 575px;
  }
  .hi-yeenphen {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 105px;
  }
  .hi-yeenphen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0 0;
  }
  .progress-bar-icon {
    height: 44px;
    width: 44px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
  }
  .frame-parent1 {
    position: absolute;
    top: 16px;
    left: 144px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
    z-index: 1;
  }
  .slider {
    width: 402px;
    height: 275px;
    position: absolute;
    margin: 0 !important;
    top: -263px;
    right: -238px;
    font-size: var(--font-size-base);
  }
  .dropdown-menu,
  .group-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .group-div {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    position: relative;
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .dropdown-menu {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .cousin-twice-remove {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-4xs);
  }
  .frame-child8 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew1,
  .frame-child9 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child9 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew1 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .beef-stew-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child10 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef4 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent2 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-child,
  .rectangle-parent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent1 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .cousin-twice-remove-child {
    flex: 0.9806;
    padding: 0 var(--padding-9xs) 0 0;
    min-width: 203px;
    max-width: 206px;
  }
  .frame-child11 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .frame-child12,
  .frame-child13 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child12 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child13 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .korean-fried-chicken-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child14,
  .frame-child15 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .frame-child15 {
    z-index: 2;
  }
  .frame-parent4 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor1 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent3 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner1,
  .rectangle-parent2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent2 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner1 {
    flex: 0.9758;
    padding: 0 var(--padding-8xs) 0 0;
    min-width: 203px;
    max-width: 207px;
  }
  .frame-child16 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .chicken-salad1,
  .frame-child17 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child17 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad1 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child18 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef5 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent5 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner2,
  .rectangle-parent3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent3 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner2 {
    flex: 0.9484;
    padding: 0 var(--padding-2xs) 0 0;
    min-width: 209px;
    max-width: 213px;
  }
  .frame-child19 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa1,
  .frame-child20 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child20 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa1 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child21 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef6 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent6 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner3,
  .rectangle-parent4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent4 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner3 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-child22,
  .frame-child23 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child22 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .frame-child23 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-stir-fry1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-stir-fry-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child24 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef7 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent7 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner4,
  .rectangle-parent5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent5 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner4 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .cousin-twice-remove1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-4xs);
  }
  .frame-child25 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew2,
  .frame-child26 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child26 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew2 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .beef-stew-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child27 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef8 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent8 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill1 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .cousin-twice-remove-inner5,
  .rectangle-parent6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent6 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .cousin-twice-remove-inner5 {
    flex: 0.9806;
    padding: 0 var(--padding-9xs) 0 0;
    min-width: 203px;
    max-width: 206px;
  }
  .frame-child28 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .frame-child29,
  .frame-child30 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child29 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child30 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .korean-fried-chicken-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child31,
  .frame-child32 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .frame-child32 {
    z-index: 2;
  }
  .frame-parent10 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor2 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent9 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner6,
  .rectangle-parent7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent7 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner6 {
    flex: 0.9758;
    padding: 0 var(--padding-8xs) 0 0;
    min-width: 203px;
    max-width: 207px;
  }
  .frame-child33 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .chicken-salad2,
  .frame-child34 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child34 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad2 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child35 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef9 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent11 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill2 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .cousin-twice-remove-inner7,
  .rectangle-parent8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent8 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner7 {
    flex: 0.9484;
    padding: 0 var(--padding-2xs) 0 0;
    min-width: 209px;
    max-width: 213px;
  }
  .frame-child36 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa2,
  .frame-child37 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child37 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa2 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child38 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef10 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent12 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner8,
  .rectangle-parent9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent9 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner8 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-child39,
  .frame-child40 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child39 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .frame-child40 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-stir-fry2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-stir-fry-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child41 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef11 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent13 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner9,
  .rectangle-parent10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent10 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner9 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .cousin-twice-remove2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-4xs);
  }
  .frame-child42 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew3,
  .frame-child43 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child43 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew3 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .beef-stew-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child44 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef12 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent14 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill3 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .cousin-twice-remove-inner10,
  .rectangle-parent11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent11 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .cousin-twice-remove-inner10 {
    flex: 0.9806;
    padding: 0 var(--padding-9xs) 0 0;
    min-width: 203px;
    max-width: 206px;
  }
  .frame-child45 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .frame-child46,
  .frame-child47 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child46 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child47 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .korean-fried-chicken-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child48,
  .frame-child49 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .frame-child49 {
    z-index: 2;
  }
  .frame-parent16 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor3 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent15 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner11,
  .rectangle-parent12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent12 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner11 {
    flex: 0.9758;
    padding: 0 var(--padding-8xs) 0 0;
    min-width: 203px;
    max-width: 207px;
  }
  .frame-child50 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .chicken-salad3,
  .frame-child51 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child51 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad3 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child52 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef13 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent17 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner12,
  .rectangle-parent13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent13 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner12 {
    flex: 0.9484;
    padding: 0 var(--padding-2xs) 0 0;
    min-width: 209px;
    max-width: 213px;
  }
  .frame-child53 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa3,
  .frame-child54 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child54 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa3 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child55 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef14 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent18 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner13,
  .rectangle-parent14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent14 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner13 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-child56,
  .frame-child57 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child56 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .frame-child57 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-stir-fry3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-stir-fry-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child58 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef15 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent19 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner14,
  .rectangle-parent15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent15 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner14 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .cousin-twice-remove3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-4xs);
  }
  .frame-child59 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .beef-stew4,
  .frame-child60 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child60 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .beef-stew4 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .beef-stew-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child61 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef16 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent20 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner15,
  .rectangle-parent16 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent16 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .cousin-twice-remove-inner15 {
    flex: 0.9806;
    padding: 0 var(--padding-9xs) 0 0;
    min-width: 203px;
    max-width: 206px;
  }
  .frame-child62 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .frame-child63,
  .frame-child64 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child63 {
    height: 113px;
    flex-shrink: 0;
    display: none;
  }
  .frame-child64 {
    flex: 1;
    max-height: 100%;
    z-index: 2;
  }
  .korean-fried-chicken4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .korean-fried-chicken-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child65,
  .frame-child66 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .frame-child66 {
    z-index: 2;
  }
  .frame-parent22 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor4 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent21 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner16,
  .rectangle-parent17 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent17 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner16 {
    flex: 0.9758;
    padding: 0 var(--padding-8xs) 0 0;
    min-width: 203px;
    max-width: 207px;
  }
  .frame-child67 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .chicken-salad4,
  .frame-child68 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child68 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .chicken-salad4 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .chicken-salad-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child69 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef17 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent23 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner17,
  .rectangle-parent18 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent18 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner17 {
    flex: 0.9484;
    padding: 0 var(--padding-2xs) 0 0;
    min-width: 209px;
    max-width: 213px;
  }
  .frame-child70 {
    width: 202px;
    height: 179px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .aloo-samosa4,
  .frame-child71 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child71 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .aloo-samosa4 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aloo-samosa-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child72 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef18 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent24 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner18,
  .rectangle-parent19 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent19 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner18 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .frame-child73,
  .frame-child74 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child73 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    box-sizing: border-box;
    display: none;
  }
  .frame-child74 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-stir-fry4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-stir-fry-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child75 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef19 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent25 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .cousin-twice-remove-inner19,
  .rectangle-parent20 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent20 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .cousin-twice-remove-inner19 {
    flex: 1;
    padding: var(--padding-9xs) 0 0;
    min-width: 198px;
    max-width: 202px;
  }
  .cousin-twice-remove4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-4xs);
  }
  .cousin-twice-remove-parent {
    width: 1066px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15.3px;
    max-width: 100%;
  }
  .recipeslogged-in-inner {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .load-more {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 76px;
  }
  .calendar-picker {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-9xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child76 {
    height: 261px;
    width: 1513px;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .youtube-icon {
    height: 24px;
    width: 24px;
  }
  .follow-us,
  .image-7-icon,
  .youtube-icon {
    position: relative;
    z-index: 1;
  }
  .image-7-icon {
    width: 107px;
    height: 107px;
    object-fit: cover;
  }
  .follow-us {
    margin: 0;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 65px;
  }
  .menu-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 2px 0 2.1px;
  }
  
  .instagram-instagram-icon,
  .tiktok-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .facebook-icon{
    height: 20px;
    width: 18px;
    position: relative;
    min-height: 20px;
    z-index: 1;
  }
  .tabs-with-icons {
    align-self: stretch;
    flex-direction: row;
    gap: 19.9px;
  }
  .carousel,
  .collapsible,
  .tabs-with-icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .carousel {
    flex: 1;
    flex-direction: column;
    gap: 18px;
  }
  .collapsible {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 18.9px;
  }
  .breadcrumbs {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
  }
  .breadcrumbs,
  .steps,
  .toggle {
    display: flex;
    justify-content: flex-start;
  }
  .toggle {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-12xs);
  }
  .steps {
    width: 155.7px;
    flex-direction: column;
    align-items: flex-start;
    padding: 1px 0 0;
    box-sizing: border-box;
  }
  .about-us,
  .all-rights-reserved,
  .blank-line,
  .blank-line1,
  .blank-line2,
  .blank-line3,
  .blank-line4,
  .community-guidelines,
  .contact-us,
  .privacy-policy {
    margin: 0;
  }
  .about-us-privacy-container {
    margin: 0;
    width: 278px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child77,
  .frame-child78,
  .frame-child79,
  .frame-child80 {
    height: 30px;
    width: 107px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child78,
  .frame-child79,
  .frame-child80 {
    height: 27px;
    width: 115px;
  }
  .frame-child79,
  .frame-child80 {
    height: 26px;
    width: 174px;
  }
  .frame-child80 {
    height: 37px;
    width: 107px;
  }
  .group-footer,
  .recipeslogged-in {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .group-footer {
    margin-left: -102px;
    width: 1513px;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 122px 31px 124px;
    max-width: 107%;
    flex-shrink: 0;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
    background-color: #EFCD69;
  }
  .recipeslogged-in {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0 101px;
    gap: 38px;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 1200px) {
    .recipeslogged-in {
      padding-left: 50px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .cousin-twice-remove,
    .cousin-twice-remove1,
    .cousin-twice-remove2,
    .cousin-twice-remove3,
    .cousin-twice-remove4 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .cousin-once-remove-wrapper {
      display: none;
    }
    .frame-group {
      width: 489px;
    }
    .frame-parent {
      gap: 15px;
    }
    .group-footer {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 62px;
      padding-right: 61px;
      box-sizing: border-box;
    }
    .recipeslogged-in {
      gap: 19px;
      padding-left: 25px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .search-recipe {
      font-size: 19px;
    }
    .ancestor-descendants,
    .branch-descendants,
    .cousin-twice-remove-child,
    .cousin-twice-remove-inner,
    .cousin-twice-remove-inner1,
    .cousin-twice-remove-inner10,
    .cousin-twice-remove-inner11,
    .cousin-twice-remove-inner12,
    .cousin-twice-remove-inner15,
    .cousin-twice-remove-inner16,
    .cousin-twice-remove-inner17,
    .cousin-twice-remove-inner2,
    .cousin-twice-remove-inner5,
    .cousin-twice-remove-inner6,
    .cousin-twice-remove-inner7 {
      flex: 1;
    }
    .group-footer {
      padding-left: var(--padding-xl);
    }
}