.image-6-icon2 {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm2,
  .recipe2 {
    margin: 0;
  }
  .recipe-realm2 {
    position: relative;
    line-height: 23px;
    font-weight: 600;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .frame-wrapper26,
  .image-6-group,
  .recipe-realm-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .recipe-realm-container {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .frame-wrapper26,
  .image-6-group {
    flex-direction: row;
  }
  .image-6-group {
    gap: var(--gap-3xs);
  }
  .frame-wrapper26 {
    padding: 0 var(--padding-20xl);
  }
  .about-us2,
  .manifesto {
    margin: 0;
    position: relative;
    font-weight: 700;
    font-family: inherit;
  }
  .about-us2 {
    align-self: stretch;
    font-size: 64px;
    white-space: nowrap;
    z-index: 2;
  }
  .manifesto {
    flex: 1;
    font-size: inherit;
  }
  .frame-parent38,
  .frame-wrapper25,
  .manifesto-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .manifesto-wrapper {
    width: 284px;
    flex-direction: row;
    padding: 0 var(--padding-20xl);
    box-sizing: border-box;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
  }
  .frame-parent38,
  .frame-wrapper25 {
    flex-direction: column;
  }
  .frame-parent38 {
    align-self: stretch;
    gap: 96px;
  }
  .frame-wrapper25 {
    width: 334px;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .about2,
  .home2,
  .recipes3 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .about2,
  .recipes3 {
    min-width: 54px;
  }
  .recipes3 {
    min-width: 63px;
  }
  .frame-nav,
  .home-parent {
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  .home-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .frame-nav {
    width: 326px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-7xl) var(--padding-5xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child107 {
    position: absolute;
    top: -300px;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid var(--color-khaki);
    box-sizing: border-box;
    width: 575px;
    height: 575px;
  }
  .hi-yeenphen {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 105px;
  }
  .hi-yeenphen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .ellipse-icon {
    height: 44px;
    width: 44px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
  }
  .frame-parent39 {
    position: absolute;
    top: 16px;
    left: 144px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
    z-index: 1;
  }
  .ellipse-group {
    height: 275px;
    width: 402px;
    position: relative;
    max-width: 100%;
    font-size: var(--font-size-base);
  }
  .frame-header {
    width: 1470px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .about-uslogged-in-child {
    width: 100%;
    height: 241px;
    position: absolute;
    margin: 0 !important;
    top: 95px;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .p,
  .we-are-passionate {
    margin: 0;
  }
  .we-are-passionate-container {
    height: 73px;
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .we-are-passionate-about-connec-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .our-story {
    margin: 0;
    position: relative;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
  }
  .about-uslogged-in-inner,
  .frame-parent40 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent40 {
    width: 1309px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .about-uslogged-in-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 21px 12px var(--padding-xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-lgi);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .our-journey-began {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .our-journey-began-with-a-simpl-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-8xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .our-features {
    margin: 0;
    position: relative;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
  }
  .recipe-sharing {
    font-weight: 500;
    font-family: var(--font-poppins);
  }
  .recipe-sharing-upload-and-sha {
    margin: 0;
  }
  .review-and-rating {
    font-weight: 500;
    font-family: var(--font-poppins);
  }
  .review-and-rating-review-and {
    margin: 0;
  }
  .recipe-discovery {
    font-weight: 500;
    font-family: var(--font-poppins);
  }
  .recipe-discovery-explore-a-va {
    margin: 0;
  }
  .recipe-sharing-upload-container {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .recipe-sharing-upload-and-sha-wrapper,
  .you-tube-instance1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .recipe-sharing-upload-and-sha-wrapper {
    width: 1280px;
    flex-direction: row;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
  }
  .you-tube-instance1 {
    align-self: stretch;
    flex-direction: column;
    gap: 17px;
  }
  .we-are-committed {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .we-are-committed-to-providing-wrapper,
  .you-tube-instance-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .we-are-committed-to-providing-wrapper {
    width: 1267px;
    flex-direction: row;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
  }
  .you-tube-instance-parent {
    width: 1303px;
    flex-direction: column;
    gap: 79px;
  }
  .frame-child108,
  .frame-section {
    align-self: stretch;
    box-sizing: border-box;
  }
  .frame-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 27px var(--padding-12xl) var(--padding-xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-lgi);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .frame-child108 {
    height: 1033px;
    position: relative;
    border-radius: 50%;
    background-color: rgba(183, 217, 196, 0.4);
    border: 0 solid var(--color-powderblue-100);
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .our-promise1 {
    margin: 0;
  }
  .blank-line11 {
    margin: 0;
    font-size: var(--font-size-lgi);
  }
  .ellipse-container,
  .our-promise {
    margin: 0 !important;
    position: absolute;
  }
  .our-promise {
    width: 1334px;
    height: 57px;
    top: 0;
    right: 0;
    display: inline-block;
    z-index: 1;
  }
  .ellipse-container {
    height: 414px;
    width: 1437px;
    top: -153px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 404px 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child109,
  .frame-child110,
  .frame-child111,
  .frame-child112 {
    height: 30px;
    width: 107px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child110,
  .frame-child111,
  .frame-child112 {
    height: 27px;
    width: 115px;
  }
  .frame-child111,
  .frame-child112 {
    height: 26px;
    width: 174px;
  }
  .frame-child112 {
    height: 37px;
    width: 107px;
  }
  .frame-child113 {
    height: 261px;
    width: 1513px;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .image-7-icon2,
  .youtube-icon2 {
    height: 24px;
    width: 24px;
    position: relative;
    z-index: 1;
  }
  .image-7-icon2 {
    width: 107px;
    height: 107px;
    object-fit: cover;
  }
  .follow-us2 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 65px;
    z-index: 1;
  }
  .instagram-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
  }
  .facebook-icon2,
  .instagram-instagram-icon2,
  .tiktok-icon2 {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .facebook-parent {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-lgi-9);
  }
  .facebook-parent,
  .instagram-logo-parent,
  .you-tube-icon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .instagram-logo-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .you-tube-icon {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-lg-9);
  }
  .social-media-links {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-10xl);
  }
  .frame-wrapper27,
  .social-media-links,
  .youtube-group {
    display: flex;
    justify-content: flex-start;
  }
  .youtube-group {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-12xs);
  }
  .frame-wrapper27 {
    width: 155.7px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us3,
  .all-rights-reserved2,
  .blank-line12,
  .blank-line13,
  .blank-line14,
  .blank-line15,
  .blank-line16,
  .community-guidelines2,
  .contact-us2,
  .privacy-policy2 {
    margin: 0;
  }
  .about-us-privacy-container2 {
    width: 278px;
    position: relative;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent41 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
      var(--padding-105xl);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    z-index: 1;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .about-uslogged-in,
  .connect-social-media-links {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  .connect-social-media-links {
    margin-right: -1px;
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .about-uslogged-in {
    width: 100%;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1125px) {
    .frame-header {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1025px) {
    .our-features,
    .our-story {
      font-size: var(--font-size-5xl);
    }
    .frame-parent41 {
      padding-left: var(--padding-43xl);
      padding-right: var(--padding-42xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .you-tube-instance-parent {
      gap: 39px;
    }
    .frame-parent41 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media screen and (max-width: 450px) {
    .frame-parent38 {
      gap: 48px;
    }
    .our-features,
    .our-story {
      font-size: var(--font-size-lg);
    }
    .you-tube-instance-parent {
      gap: var(--gap-xl);
    }
    .frame-parent41 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-base: 16px;
    --font-size-smi: 13px;
    --font-size-xl: 20px;
    --font-size-mini: 15px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-sm: 14px;
    --font-size-7xs: 6px;
    --font-size-3xs: 10px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkseagreen: #6fb088;
    --color-gray-100: #898989;
    --color-gray-200: #848484;
    --color-gray-300: #777;
    --color-sandybrown: #d5a74f;
    --color-black: #000;
    --color-powderblue-100: #b7d9c4;
    --color-khaki: #ffe495;
    --color-darkslategray: #3c3c3c;
  
    /* Gaps */
    --gap-mini: 15px;
    --gap-xl: 20px;
    --gap-2xs: 11px;
    --gap-6xs: 7px;
    --gap-4xs: 9px;
    --gap-9xs: 4px;
    --gap-3xl: 22px;
    --gap-4xl: 23px;
    --gap-12xs: 1px;
    --gap-10xl: 29px;
    --gap-lg: 18px;
    --gap-lgi-9: 19.9px;
    --gap-lgi: 19px;
    --gap-3xs: 10px;
    --gap-5xs: 8px;
  
    /* Paddings */
    --padding-2xs: 11px;
    --padding-sm: 14px;
    --padding-15xl: 34px;
    --padding-6xs: 7px;
    --padding-4xs: 9px;
    --padding-xl: 20px;
    --padding-5xs: 8px;
    --padding-smi: 13px;
    --padding-3xs: 10px;
    --padding-6xl: 25px;
    --padding-4xl: 23px;
    --padding-lg: 18px;
    --padding-31xl: 50px;
    --padding-9xs: 4px;
    --padding-17xl: 36px;
    --padding-103xl: 122px;
    --padding-12xl: 31px;
    --padding-105xl: 124px;
    --padding-43xl: 62px;
    --padding-42xl: 61px;
    --padding-12xs: 1px;
    --padding-lg-9: 18.9px;
    --padding-11xs: 2px;
    --padding-10xs-1: 2.1px;
    --padding-5xl: 24px;
    --padding-8xs: 5px;
    --padding-7xs: 6px;
    --padding-81xl: 100px;
    --padding-95xl: 114px;
    --padding-base: 16px;
    --padding-mid: 17px;
    --padding-7xl: 26px;
    --padding-mini: 15px;
    --padding-27xl: 46px;
    --padding-20xl: 39px;
  
    /* Border radiuses */
    --br-xl: 20px;
    --br-4xs: 9px;
    --br-xs: 12px;
    --br-3xs: 10px;
    --br-9xs: 4px;
  }
  /*footer*/
  .group-footer {
    align-self: stretch;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
      var(--padding-105xl);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .frame-child24 {
    height: 16.313rem;
    width: 94.563rem;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .youtube-icon1 {
    height: 1.5rem;
    width: 1.5rem;
  }
  .follow-us,
  .image-7-icon,
  .youtube-icon1 {
    position: relative;
    z-index: 1;
  }
  .image-7-icon {
    width: 6.688rem;
    height: 6.688rem;
    object-fit: contain;
  }
  .follow-us {
    margin: 0;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 4.063rem;
  }
  .follow-us-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
  }
  .facebook-icon,
  .instagram-instagram-icon,
  .tiktok-icon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    min-height: 1.5rem;
    z-index: 1;
  }
  .facebook-parent {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-lgi-9);
  }
  .facebook-parent,
  .follow-button,
  .follow-button-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .follow-button {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .follow-button-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-lg-9);
  }
  .image-placeholder {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-10xl);
  }
  .facebook-instagram,
  .image-placeholder,
  .youtube-icon {
    display: flex;
    justify-content: flex-start;
  }
  .facebook-instagram {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-12xs);
  }
  .youtube-icon {
    width: 9.731rem;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us1,
  .all-rights-reserved,
  .blank-line,
  .blank-line1,
  .blank-line2,
  .blank-line3,
  .blank-line4,
  .community-guidelines,
  .contact-us,
  .privacy-policy {
    margin: 0;
  }
  .about-us-privacy-container {
    margin: 0;
    width: 17.375rem;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child25,
  .frame-child26,
  .frame-child27,
  .frame-child28 {
    height: 1.875rem;
    width: 6.688rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child26,
  .frame-child27,
  .frame-child28 {
    height: 1.688rem;
    width: 7.188rem;
  }
  .frame-child27,
  .frame-child28 {
    height: 1.625rem;
    width: 10.875rem;
  }
  .frame-child28 {
    height: 2.313rem;
    width: 6.688rem;
  }
  .about-us-privacy-container a {
    color: white;
    text-decoration: none;
  }
  /*popup*/
  .frame-child29 {
    width: 12.563rem;
    height: 14rem;
    position: relative;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    display: none;
  }
  .vector-icon {
    height: 0.55rem;
    width: 0.55rem;
    position: relative;
    z-index: 1;
  }
  .vector-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .edit-profile,
  .my-recipes,
  .upload {
    
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.938rem;
    z-index: 1;
    columns: grey;
  }
  .my-recipes,
  .upload {
    min-width: 4.25rem;
    cursor: pointer;
    color: grey;
  }
  .upload {
    min-width: 2.75rem;
    z-index: 2;
  }
  .my-recipes-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
  }
  .frame-child30 {
    height: 2.188rem;
    width: 9.938rem;
    position: relative;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: none;
  }
  .logout {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 2.688rem;
    z-index: 1;
  }
  .group-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) 3.625rem 0.5rem;
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    flex-direction: row;
    z-index: 1;
  }
  .frame-parent11,
  .group-button,
  .group-section,
  .options {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent11 {
    align-self: stretch;
    flex-direction: column;
    padding: 0 var(--padding-4xs) 0 0;
    gap: var(--gap-xl);
  }
  .group-section,
  .options {
    background-color: var(--color-white);
  }
  .group-section {
    flex: 1;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    flex-direction: column;
    padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
    gap: 0.612rem;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .options {
    width: 12.563rem;
    height: 10.313rem;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
    max-width: 90%;
    max-height: 90%;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-smi: 0.813rem;
    --font-size-sm: 0.875rem;
    --font-size-7xs: 0.375rem;
    --font-size-3xs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.188rem;
    --font-size-base: 1rem;
  
    /* Colors */
    --color-white: #fff;
    --color-powderblue: #b7d9c4;
    --color-gray-100: #898989;
    --color-gray-200: #848484;
    --color-gray-300: #777;
    --color-black: #000;
    --color-darkseagreen: #6fb088;
    --color-darkslategray: #3c3c3c;
  
    /* Gaps */
    --gap-xl: 1.25rem;
    --gap-12xs: 0.062rem;
  
    /* Paddings */
    --padding-xl: 1.25rem;
    --padding-6xs: 0.437rem;
    --padding-9xs: 0.25rem;
    --padding-7xs: 0.375rem;
    --padding-sm: 0.875rem;
    --padding-7xl: 1.625rem;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-4xs: 9px;
  }
.edit-profile{
  color: grey;
}
 