.community-guidelineslogged-in-child {
  width: 100%;
  height: 241px;
  position: absolute;
  margin: 0 !important;
  top: 95px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.image-6-icon {
  height: 74px;
  width: 74px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.realm,
.recipe {
  margin: 0;
}
.recipe-realm {
  position: relative;
  line-height: 23px;
  font-weight: 600;
  background: linear-gradient(180deg, #b7d9c4, #d5a74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.image-6-parent,
.recipe-realm-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.recipe-realm-wrapper {
  flex-direction: column;
  padding: 14px 0 0;
}
.image-6-parent {
  flex-direction: row;
  gap: 10px;
}
.about,
.home,
.recipes {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 47px;
  cursor: pointer;
}
.about,
.recipes {
  min-width: 54px;
}
.recipes {
  min-width: 63px;
}
.frame-nav,
.home-parent {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.home-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
.frame-nav {
  width: 318px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 13px 0 0;
  box-sizing: border-box;
}
.frame-container,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 39px;
  box-sizing: border-box;
  text-align: left;
  font-size: 20px;
  font-family: var(--font-poppins);
}
.community-guidelines {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.frame-group {
  width: 846px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 96px;
  min-width: 846px;
  max-width: 100%;
}
.frame-child,
.login {
  position: absolute;
  margin: 0 !important;
}
.frame-child {
  width: 575px;
  height: 575px;
  top: -300px;
  right: -173px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 228, 149, 0.4)
  );
  border: 0 solid #ffe495;
  box-sizing: border-box;
}
.login {
  top: calc(50% - 10px);
  left: -4px;
  font-weight: 600;
  display: inline-block;
  min-width: 36px;
  z-index: 1;
}
.hi-yeenphen {
  position: relative;
  font-weight: 500;
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 105px;
}
.hi-yeenphen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0 0;
}
.frame-item {
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.edit-profile{
  color: grey;
}
.ellipse-parent,
.group-div,
.login-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-div {
  gap: 9px;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-base);
}
.ellipse-parent,
.login-parent {
  position: relative;
}
.ellipse-parent {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  padding: 16px 100px;
}
.frame-div,
.frame-parent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-div {
  height: 279px;
  width: 402px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  min-width: 402px;
  text-align: center;
  font-size: var(--font-size-smi);
}
.frame-parent {
  width: 1470px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 34.7px var(--padding-xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: 64px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.avoid-spamming-or,
.post-content-that,
.use-appropriate-tags {
  margin: 0;
}
.post-content-that-container {
  width: 715px;
  position: absolute;
  margin: 0 !important;
  bottom: 900px;
  left: 66px;
  display: inline-block;
  z-index: 1;
}
.permanent-ban-from,
.suspension-of-account,
.violations-of-these {
  margin: 0;
}
.violations-of-these-container {
  width: 804px;
  position: absolute;
  margin: 0 !important;
  bottom: 345px;
  left: 66px;
  display: inline-block;
  z-index: 1;
}
.our-mission1 {
  margin: 0;
}
.our-mission {
  width: 260px;
  position: relative;
  display: inline-block;
}
.we-are-committed {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lgi);
}
.our-mission-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.be-respectful {
  width: 231px;
  position: relative;
  display: inline-block;
}
.avoid-personal-attacks,
.respect-the-privacy,
.treat-others-with {
  margin: 0;
}
.treat-others-with-container {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.treat-others-with-kindness-and-wrapper {
  width: 934px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 6.6px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lgi);
}
.be-authentic {
  height: 39.1px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.blank-line {
  margin: 0;
  font-size: 26px;
}
.do-not-impersonate,
.represent-yourself-honestly,
.share-your-own {
  margin: 0;
}
.represent-yourself-honestly-container {
  height: 144px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -801px;
  bottom: -133.3px;
  display: inline-block;
  z-index: 1;
  font-size: var(--font-size-lgi);
}
.be-authentic-parent,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.be-authentic-parent {
  width: 231px;
  flex-direction: row;
  position: relative;
}
.frame-parent1 {
  flex: 1;
  flex-direction: column;
  gap: 27px;
  max-width: 100%;
}
.community-guidelineslogged-in-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-47xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.frame-inner {
  width: 1033px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -454px;
  border-radius: 50%;
  background-color: rgba(183, 217, 196, 0.4);
  border: 0 solid #b7d9c4;
  box-sizing: border-box;
}
.be-relevant1 {
  margin: 0;
}
.be-relevant {
  width: 260px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.be-constructive1 {
  margin: 0;
}
.be-constructive {
  width: 331px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.be-mindful-of {
  margin: 0;
}
.be-mindful-of-container {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.be-mindful-of-copyright-wrapper {
  width: 416px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 17px;
  box-sizing: border-box;
  max-width: 100%;
}
.consequences-of-violation {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.only-share-recipes,
.respect-the-intellectual {
  margin: 0;
}
.only-share-recipes-container {
  width: 804px;
  position: absolute;
  margin: 0 !important;
  right: -268px;
  bottom: 81px;
  font-size: var(--font-size-lgi);
  display: inline-block;
  z-index: 1;
}
.avoid-negative-or,
.focus-on-sharing,
.provide-constructive-feedback {
  margin: 0;
}
.provide-constructive-feedback-container {
  width: 691px;
  position: absolute;
  margin: 0 !important;
  top: 58px;
  right: -154px;
  font-size: var(--font-size-lgi);
  display: inline-block;
  z-index: 1;
}
.be-constructive-parent,
.ellipse-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.be-constructive-parent {
  align-self: stretch;
  gap: 128px;
}
.ellipse-group {
  width: 668px;
  padding: 94px var(--padding-47xl) 341px;
  box-sizing: border-box;
  gap: 145px;
}
.frame-child1 {
  height: 30px;
  width: 107px;
  position: relative;
  display: none;
}
.frame-child1,
.frame-child2,
.frame-child3 {
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-child2 {
  height: 27px;
  width: 115px;
  position: relative;
  display: none;
}
.frame-child3 {
  height: 26px;
  width: 174px;
}
.frame-child3,
.frame-child4,
.rectangle-div {
  position: relative;
  display: none;
}
.frame-child4 {
  height: 37px;
  width: 107px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.rectangle-div {
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  height: 261px;
  width: 1513px;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  max-width: 100%;
}
.youtube-icon {
  height: 24px;
  width: 24px;
}
.follow-us,
.image-7-icon,
.youtube-icon {
  position: relative;
  z-index: 1;
}
.image-7-icon {
  width: 107px;
  height: 107px;
  object-fit: contain;
}
.follow-us {
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
}
.follow-us-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 2.1px;
}
.facebook-icon,
.instagram-instagram-icon,
.tiktok-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.social-media-logos {
  align-self: stretch;
  flex-direction: row;
  gap: 19.9px;
}
.follow-us-info-parent,
.frame-wrapper2,
.social-media-logos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.follow-us-info-parent {
  flex: 1;
  flex-direction: column;
  gap: 18px;
}
.frame-wrapper2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 18.9px;
}
.image-7-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
}
.frame-wrapper1,
.image-7-parent,
.youtube-parent {
  display: flex;
  justify-content: flex-start;
}
.youtube-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 1px;
}
.frame-wrapper1 {
  width: 155.7px;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
}
.about-us,
.all-rights-reserved,
.blank-line1,
.blank-line2,
.blank-line3,
.blank-line4,
.blank-line5,
.community-guidelines1,
.contact-us,
.privacy-policy {
  margin: 0;
}
.about-us-privacy-container {
  width: 278px;
  position: relative;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.group-footer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 36px 122px 31px 124px;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  margin-top: -152px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.community-guidelineslogged-in,
.frame-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.frame-section {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.community-guidelineslogged-in {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #fefefe, #eff3f2);
  overflow: hidden;
  align-items: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: 61.3px;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-lgi);
}
@media screen and (max-width: 1300px) {
  .frame-container,
  .frame-div,
  .frame-group {
    flex: 1;
  }
  .frame-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .frame-group {
    gap: 48px;
    min-width: 100%;
  }
  .ellipse-group {
    padding-top: var(--padding-42xl);
    padding-bottom: 222px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .frame-nav {
    display: none;
  }
  .community-guidelines {
    font-size: 51px;
  }
  .be-authentic,
  .be-respectful,
  .our-mission {
    font-size: var(--font-size-5xl);
  }
  .community-guidelineslogged-in-inner {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .be-constructive,
  .be-mindful-of-container,
  .be-relevant,
  .consequences-of-violation {
    font-size: var(--font-size-5xl);
  }
  .be-constructive-parent {
    gap: 64px;
  }
  .ellipse-group {
    gap: 72px;
    padding: 40px var(--padding-14xl) 144px;
    box-sizing: border-box;
  }
  .group-footer {
    flex-wrap: wrap;
    padding-left: 62px;
    padding-right: var(--padding-42xl);
    box-sizing: border-box;
  }
  .community-guidelineslogged-in {
    gap: 31px;
  }
}
@media screen and (max-width: 450px) {
  .community-guidelines {
    font-size: 38px;
  }
  .frame-group {
    gap: 24px;
  }
  .ellipse-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-div {
    min-width: 100%;
  }
  .be-authentic,
  .be-constructive,
  .be-mindful-of-container,
  .be-relevant,
  .be-respectful,
  .consequences-of-violation,
  .our-mission {
    font-size: var(--font-size-lg);
  }
  .be-constructive-parent {
    gap: 32px;
  }
  .ellipse-group {
    gap: 36px;
  }
  .group-footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .community-guidelineslogged-in {
    gap: 15px;
  }
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-lgi: 19px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #777;

  /* Gaps */
  --gap-xl: 20px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-xl: 20px;
  --padding-42xl: 61px;
  --padding-47xl: 66px;
  --padding-14xl: 33px;
}
.group-footer {
  background: linear-gradient(180deg, #efcd69, #d5a74f);
}
.frame-child29 {
  width: 12.563rem;
  height: 14rem;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: none;
}
.vector-icon {
  height: 0.55rem;
  width: 0.55rem;
  position: relative;
  z-index: 1;
}
.vector-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.edit-profile,
.my-recipes,
.upload {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 3.938rem;
  z-index: 1;
  columns: grey;
}
.my-recipes,
.upload {
  min-width: 4.25rem;
  cursor: pointer;
  color: grey;
}
.upload {
  min-width: 2.75rem;
  z-index: 2;
}
.my-recipes-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frame-child30 {
  height: 2.188rem;
  width: 9.938rem;
  position: relative;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  display: none;
}
.logout {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 2.688rem;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 3.625rem 0.5rem;
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  flex-direction: row;
  z-index: 1;
}
.frame-parent11,
.group-button,
.group-section,
.options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent11 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-xl);
}
.group-section,
.options {
  background-color: var(--color-white);
}
.group-section {
  flex: 1;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  flex-direction: column;
  padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
  gap: 0.612rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.options {
  width: 12.563rem;
  height: 10.313rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
}
body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 0.813rem;
  --font-size-sm: 0.875rem;
  --font-size-7xs: 0.375rem;
  --font-size-3xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.188rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-5xs: 0.5rem;
  --font-size-mini: 0.938rem;

  /* Colors */
  --color-white: #fff;
  --color-powderblue: #b7d9c4;
  --color-gray-100: #898989;
  --color-gray-200: #848484;
  --color-gray-300: #777;
  --color-black: #000;
  --color-darkseagreen: #6fb088;
  --color-darkslategray: #3c3c3c;
  --color-khaki: #ffe495;

  /* Gaps */
  --gap-mini: 0.937rem;
  --gap-xl: 1.25rem;
  --gap-12xs: 0.062rem;
  --gap-10xl: 1.812rem;
  --gap-lg: 1.125rem;
  --gap-lgi-9: 1.243rem;
  --gap-2xs: 0.687rem;
  --gap-4xs: 0.562rem;
  --gap-3xs: 0.625rem;

  /* Paddings */
  --padding-17xl: 2.25rem;
  --padding-103xl: 7.625rem;
  --padding-12xl: 1.937rem;
  --padding-105xl: 7.75rem;
  --padding-xl: 1.25rem;
  --padding-43xl: 3.875rem;
  --padding-42xl: 3.812rem;
  --padding-12xs: 0.062rem;
  --padding-lg-9: 1.181rem;
  --padding-11xs: 0.125rem;
  --padding-10xs-1: 0.131rem;
  --padding-2xl: 1.312rem;
  --padding-23xl: 2.625rem;
  --padding-6xs: 0.437rem;
  --padding-9xs: 0.25rem;
  --padding-7xs: 0.375rem;
  --padding-mini: 0.937rem;
  --padding-sm: 0.875rem;
  --padding-5xl: 1.5rem;
  --padding-base: 1rem;
  --padding-3xs: 0.625rem;
  --padding-7xl: 1.625rem;
  --padding-smi: 0.812rem;
  --padding-4xs: 0.562rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-4xs: 9px;
}
.about-us-privacy-container a {
  color: white;
  text-decoration: none;
}
