.rectangular-shape-icon {
  width: 100%;
  height: 241px;
  position: absolute;
  margin: 0 !important;
  top: 95px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.image-6-icon1 {
  height: 74px;
  width: 74px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.realm1,
.recipe1 {
  margin: 0;
}
.edit-profile{
  color: grey;
}
.recipe-realm1 {
  position: relative;
  line-height: 23px;
  font-weight: 600;
  background: linear-gradient(180deg, #b7d9c4, #d5a74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.contact-us-label,
.home-about-recipes,
.image-6-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-us-label {
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
}
.home-about-recipes,
.image-6-group {
  flex-direction: row;
}
.image-6-group {
  gap: var(--gap-3xs);
}
.home-about-recipes {
  padding: 0 var(--padding-20xl);
}
.contact-us2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-45xl);
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
  z-index: 2;
}
.home-about-recipes-parent {
  position: absolute;
  top: 13px;
  left: 20px;
  width: 846px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-77xl);
  max-width: 100%;
}
.ellipse-div {
  position: absolute;
  top: -300px;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 228, 149, 0.4)
  );
  border: 0 solid var(--color-khaki);
  box-sizing: border-box;
  width: 575px;
  height: 575px;
}
.hi-yeenphen1 {
  position: relative;
  font-weight: 500;
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.hi-yeenphen-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.ellipse-icon {
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.frame-parent2 {
  position: absolute;
  top: 16px;
  left: 144px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  z-index: 1;
}
.ellipse-container {
  position: absolute;
  height: calc(100% - 4px);
  top: 0;
  bottom: 4px;
  left: 1068px;
  width: 402px;
  font-size: var(--font-size-base);
}
.about1,
.home1,
.recipes1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 47px;
  cursor: pointer;
}
.about1,
.recipes1 {
  min-width: 54px;
}
.recipes1 {
  min-width: 63px;
}
.frame-header,
.home-group {
  text-align: left;
  font-family: var(--font-poppins);
}
.home-group {
  margin: 0;
  position: absolute;
  top: 26px;
  left: 548px;
  width: 318px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-gray);
}
.frame-header {
  width: 1470px;
  height: 279px;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.p,
.thank-you-for {
  margin: 0;
}
.thank-you-for-container {
  position: relative;
}
.thank-you-for-visiting-our-foo-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 9px;
}
.customer-support {
  margin: 0;
  width: 494px;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.email-supportfooduploadingwe1,
.monday-friday,
.phone-17181920-operating-hour {
  margin: 0;
}
.email-supportfooduploadingwe {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.email-supportfooduploadingwe-wrapper {
  width: 1320px;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.email-supportfooduploadingwe-wrapper,
.frame-parent3,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  flex: 1;
  flex-direction: column;
  gap: 6px;
}
.frame-wrapper3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-47xl) var(--padding-21xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.business-enquiries {
  margin: 0;
  width: 485px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.email-businessfooduploadingw1,
.phone-17181920 {
  margin: 0;
}
.email-businessfooduploadingw {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  max-width: 100%;
}
.email-businessfooduploadingw-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-lgi);
}
.business-enquiries-parent,
.email-businessfooduploadingw-wrapper,
.frame-wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.business-enquiries-parent {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.frame-wrapper4 {
  width: 1446px;
  flex-direction: row;
  padding: 0 var(--padding-47xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.address {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.address-wrapper {
  width: 463px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-47xl);
  box-sizing: border-box;
  max-width: 100%;
}
.instagram-facebook-icon {
  width: 1033px;
  height: 1033px;
  position: absolute;
  margin: 0 !important;
  bottom: -553px;
  left: -454px;
  border-radius: 50%;
  background-color: var(--color-powderblue-200);
  border: 0 solid var(--color-powderblue-100);
  box-sizing: border-box;
}
.kabesa-thimphu,
.socials {
  width: 1268px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.socials {
  margin: 0;
  width: 416px;
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: inherit;
}
.connect-with-us,
.facebook,
.instagram,
.x {
  margin: 0;
}
.connect-with-us-container {
  width: 1291px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.instagram-facebook-icon-parent {
  width: 1429px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-xl) 280px 69px;
  box-sizing: border-box;
  position: relative;
  gap: 6.5px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.frame-child5 {
  height: 30px;
  width: 107px;
  position: relative;
  display: none;
}
.frame-child5,
.frame-child6,
.frame-child7 {
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-child6 {
  height: 27px;
  width: 115px;
  position: relative;
  display: none;
}
.frame-child7 {
  height: 26px;
  width: 174px;
}
.frame-child7,
.frame-child8,
.frame-child9 {
  position: relative;
  display: none;
}
.frame-child8 {
  height: 37px;
  width: 107px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-child9 {
  height: 261px;
  width: 1513px;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  max-width: 100%;
}
.image-7-icon1,
.youtube-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 1;
}
.image-7-icon1 {
  width: 107px;
  height: 107px;
  object-fit: cover;
}
.follow-us1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
  z-index: 1;
}
.follow-us-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
}
.facebook-icon1,
.instagram-instagram-icon1,
.tiktok-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.facebook-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lgi-9);
}
.facebook-parent,
.follow-us-label,
.follow-us-label-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.follow-us-label {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.follow-us-label-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-lg-9);
}
.image-7-group {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xl);
}
.frame-wrapper5,
.image-7-group,
.youtube-group {
  display: flex;
  justify-content: flex-start;
}
.youtube-group {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-12xs);
}
.frame-wrapper5 {
  width: 155.7px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.about-us1,
.all-rights-reserved1,
.blank-line10,
.blank-line6,
.blank-line7,
.blank-line8,
.blank-line9,
.community-guidelines2,
.contact-us3,
.privacy-policy1 {
  margin: 0;
}
.about-us-privacy-container1 {
  width: 278px;
  position: relative;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent4,
.frame-parent5 {
  align-self: stretch;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
}
.frame-parent5 {
  margin-left: -1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
    var(--padding-105xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  gap: var(--gap-xl);
  z-index: 1;
  margin-top: -258px;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-parent4 {
  padding: 0;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.contact-us1,
.frame-main,
.frame-parent4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-main {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.contact-us1 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #fefefe, #eff3f2);
  overflow: hidden;
  align-items: flex-end;
  gap: 80px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-wrapper4 {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .instagram-facebook-icon-parent {
    padding-left: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .address,
  .business-enquiries,
  .customer-support,
  .socials {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 750px) {
  .frame-wrapper3 {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .instagram-facebook-icon-parent {
    padding-top: var(--padding-xl);
    padding-bottom: 182px;
    box-sizing: border-box;
  }
  .frame-parent5 {
    flex-wrap: wrap;
    padding-left: var(--padding-43xl);
    padding-right: var(--padding-42xl);
    box-sizing: border-box;
  }
  .contact-us1 {
    gap: 40px;
  }
}
@media screen and (max-width: 450px) {
  .address,
  .business-enquiries,
  .customer-support {
    font-size: var(--font-size-lg);
  }
  .address-wrapper {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .socials {
    font-size: var(--font-size-lg);
  }
  .frame-parent5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contact-us1 {
    gap: var(--gap-xl);
  }
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-lgi: 19px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-45xl: 64px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-powderblue-100: #b7d9c4;
  --color-powderblue-200: rgba(183, 217, 196, 0.4);
  --color-khaki: #ffe495;
  --color-gray: #777;

  /* Gaps */
  --gap-xl: 20px;
  --gap-12xs: 1px;
  --gap-10xl: 29px;
  --gap-lg: 18px;
  --gap-lgi-9: 19.9px;
  --gap-4xs: 9px;
  --gap-77xl: 96px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-17xl: 36px;
  --padding-103xl: 122px;
  --padding-12xl: 31px;
  --padding-105xl: 124px;
  --padding-xl: 20px;
  --padding-43xl: 62px;
  --padding-42xl: 61px;
  --padding-12xs: 1px;
  --padding-lg-9: 18.9px;
  --padding-11xs: 2px;
  --padding-10xs-1: 2.1px;
  --padding-47xl: 66px;
  --padding-21xl: 40px;
  --padding-14xl: 33px;
  --padding-3xs: 10px;
  --padding-20xl: 39px;
  --padding-sm: 14px;
  --padding-10xs: 3px;
}
.frame-parent5{
  background: linear-gradient(180deg, #efcd69, #d5a74f);
}
.frame-child29 {
  width: 12.563rem;
  height: 14rem;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: none;
}
.vector-icon {
  height: 0.55rem;
  width: 0.55rem;
  position: relative;
  z-index: 1;
}
.vector-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.edit-profile,
.my-recipes,
.upload {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 3.938rem;
  z-index: 1;
  columns: grey;
}
.my-recipes,
.upload {
  min-width: 4.25rem;
  cursor: pointer;
  color: grey;
}
.upload {
  min-width: 2.75rem;
  z-index: 2;
}
.my-recipes-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frame-child30 {
  height: 2.188rem;
  width: 9.938rem;
  position: relative;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  display: none;
}
.logout {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 2.688rem;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 3.625rem 0.5rem;
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  flex-direction: row;
  z-index: 1;
}
.frame-parent11,
.group-button,
.group-section,
.options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent11 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-xl);
}
.group-section,
.options {
  background-color: var(--color-white);
}
.group-section {
  flex: 1;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  flex-direction: column;
  padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
  gap: 0.612rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.options {
  width: 12.563rem;
  height: 10.313rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
}
body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 0.813rem;
  --font-size-sm: 0.875rem;
  --font-size-7xs: 0.375rem;
  --font-size-3xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.188rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-5xs: 0.5rem;
  --font-size-mini: 0.938rem;

  /* Colors */
  --color-white: #fff;
  --color-powderblue: #b7d9c4;
  --color-gray-100: #898989;
  --color-gray-200: #848484;
  --color-gray-300: #777;
  --color-black: #000;
  --color-darkseagreen: #6fb088;
  --color-darkslategray: #3c3c3c;
  --color-khaki: #ffe495;

  /* Gaps */
  --gap-mini: 0.937rem;
  --gap-xl: 1.25rem;
  --gap-12xs: 0.062rem;
  --gap-10xl: 1.812rem;
  --gap-lg: 1.125rem;
  --gap-lgi-9: 1.243rem;
  --gap-2xs: 0.687rem;
  --gap-4xs: 0.562rem;
  --gap-3xs: 0.625rem;

  /* Paddings */
  --padding-17xl: 2.25rem;
  --padding-103xl: 7.625rem;
  --padding-12xl: 1.937rem;
  --padding-105xl: 7.75rem;
  --padding-xl: 1.25rem;
  --padding-43xl: 3.875rem;
  --padding-42xl: 3.812rem;
  --padding-12xs: 0.062rem;
  --padding-lg-9: 1.181rem;
  --padding-11xs: 0.125rem;
  --padding-10xs-1: 0.131rem;
  --padding-2xl: 1.312rem;
  --padding-23xl: 2.625rem;
  --padding-6xs: 0.437rem;
  --padding-9xs: 0.25rem;
  --padding-7xs: 0.375rem;
  --padding-mini: 0.937rem;
  --padding-sm: 0.875rem;
  --padding-5xl: 1.5rem;
  --padding-base: 1rem;
  --padding-3xs: 0.625rem;
  --padding-7xl: 1.625rem;
  --padding-smi: 0.812rem;
  --padding-4xs: 0.562rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-4xs: 9px;
}
.about-us-privacy-container1 a{
  color:white;
  text-decoration: none;
}