.edit-profile-child {
  width: 1033px;
  height: 1033px;
  position: absolute;
  margin: 0 !important;
  bottom: -401px;
  left: -618px;
  border-radius: 50%;
  background-color: rgba(183, 217, 196, 0.4);
  border: 0 solid var(--color-powderblue-100);
  box-sizing: border-box;
}
.edit-profile-child1,
.edit-profile-inner,
.edit-profile-item,
.frame-div {
  width: 107px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  cursor: pointer;
  z-index: 1;
}
.edit-profile-child1,
.edit-profile-inner,
.frame-div {
  width: 115px;
  height: 27px;
  z-index: 2;
}
.edit-profile-child1,
.frame-div {
  width: 174px;
  height: 26px;
  z-index: 3;
}
.edit-profile-child1 {
  width: 107px;
  height: 37px;
  z-index: 4;
}
.image-6-icon {
  height: 74px;
  width: 74px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.realm,
.recipe {
  margin: 0;
}
.recipe-realm {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 23px;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #d5a74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.navigation-menu,
.realm-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.realm-container {
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
}
.navigation-menu {
  flex-direction: row;
  gap: 10px;
}
.about,
.home,
.recipes {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 47px;
  cursor: pointer;
}
.about,
.recipes {
  min-width: 54px;
}
.recipes {
  min-width: 63px;
}
.home-menu,
.home-menu-wrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.home-menu {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
.home-menu-wrapper {
  width: 318px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.navigation-bar {
  width: 807px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.edit-photo {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 129px;
}
.edit-photo-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl) 0 37px;
}
.frame-inner {
  width: 202px;
  height: 207px;
  position: relative;
}
.edit-photo-container-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
}
.profile-edit {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 4px 0 var(--padding-5xs);
}
.rectangle-div {
  height: 50px;
  width: 214px;
  position: relative;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  display: none;
}
.choose-photo {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.rectangle-parent,
.update1 {
  display: flex;
  justify-content: flex-start;
}
.rectangle-parent {
  align-self: stretch;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-11xl) var(--padding-smi);
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.update1 {
  width: 310px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-powderblue-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  padding: 73px 46px 123px;
  gap: 32px;
  min-width: 310px;
  z-index: 1;
}
.ellipse-div {
  height: 575px;
  width: 575px;
  position: absolute;
  margin: 0 !important;
  top: -109px;
  right: -439px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 228, 149, 0.4)
  );
  border: 0 solid #ffe495;
  box-sizing: border-box;
}
.edit-name {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 129.8px;
}
.frame-child1 {
  height: 50px;
  width: 326px;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.first-name {
  width: 129.8px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.frame-child2,
.rectangle-group {
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-group {
  width: 326px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-base-2);
}
.frame-child2 {
  height: 50px;
  width: 339px;
  position: relative;
  display: none;
}
.last-name {
  width: 135px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.input-containers,
.input-labels,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-container {
  flex: 1;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-mini);
  min-width: 220px;
}
.input-containers,
.input-labels {
  align-self: stretch;
}
.input-containers {
  flex-direction: row;
  gap: var(--gap-6xl);
}
.input-labels {
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: 8px;
}
.edit-password {
  margin: 0;
  width: 191px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.frame-child3 {
  height: 50px;
  width: 326px;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.enter-new-password {
  width: 129.8px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.frame-child4,
.group-div {
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  max-width: 100%;
}
.group-div {
  width: 326px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-base-2);
}
.frame-child4 {
  height: 50px;
  width: 339px;
  position: relative;
  display: none;
}
.confirm-new-password {
  width: 188px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.frame-parent,
.input-labels1,
.rectangle-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent1 {
  flex: 1;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  padding: var(--padding-sm) var(--padding-mini);
  min-width: 220px;
}
.frame-parent,
.input-labels1 {
  align-self: stretch;
  gap: var(--gap-6xl);
}
.input-labels1 {
  flex-direction: column;
  gap: var(--gap-base);
}
.add-e-mail {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.add-email-input {
  width: 203px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px;
  box-sizing: border-box;
}
.frame-child5 {
  height: 50px;
  width: 326px;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.enter-address {
  width: 129.8px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.rectangle-parent2 {
  flex: 1;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-base-2);
  min-width: 130px;
  max-width: 100%;
}
.frame-child6 {
  height: 50px;
  width: 214px;
  position: relative;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  display: none;
}
.save-changes {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.rectangle-parent3 {
  width: 214px;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-11xl) var(--padding-smi);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.add-email-container,
.add-email-input-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.add-email-container {
  align-self: stretch;
  flex-direction: row;
  gap: 74px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.add-email-input-parent {
  width: 614px;
  flex-direction: column;
  gap: 22px;
}
.update-inner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.ellipse-parent,
.update-inner,
.update2,
.user-update {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.update2 {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-powderblue-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 38px var(--padding-17xl) 88px 17px;
  gap: 51px;
  min-height: 552px;
  z-index: 1;
}
.ellipse-parent,
.user-update {
  flex-direction: row;
  align-items: flex-start;
}
.ellipse-parent {
  flex: 1;
  position: relative;
  min-width: 489px;
}
.user-update {
  width: 1104px;
  gap: 41px;
}
.user-update-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.frame-section,
.navigation-bar-parent,
.user-update-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.navigation-bar-parent {
  width: 1222px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 49px;
}
.frame-section {
  width: 1420px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
.frame-child7 {
  height: 261px;
  width: 1513px;
  position: relative;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  display: none;
  max-width: 100%;
}
.youtube-icon {
  height: 24px;
  width: 24px;
}
.follow-us,
.image-7-icon,
.youtube-icon {
  position: relative;
  z-index: 1;
}
.image-7-icon {
  width: 107px;
  height: 107px;
  object-fit: contain;
}
.follow-us {
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
}
.follow-us-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 2.1px;
}
.facebook-icon,
.instagram-instagram-icon,
.tiktok-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.social-links {
  align-self: stretch;
  flex-direction: row;
  gap: 19.9px;
}
.follow-container,
.social-links,
.youtube-caption {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.follow-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.youtube-caption {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 18.9px;
}
.youtube-thumbnail {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
}
.social-media,
.youtube-container,
.youtube-thumbnail {
  display: flex;
  justify-content: flex-start;
}
.youtube-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 1px;
}
.social-media {
  width: 155.7px;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
}
.about-us,
.all-rights-reserved,
.blank-line,
.blank-line1,
.blank-line2,
.blank-line3,
.blank-line4,
.community-guidelines,
.contact-us,
.privacy-policy {
  margin: 0;
}
.about-us-privacy-container {
  width: 278px;
  position: relative;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.edit-profile,
.group-footer {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.group-footer {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 106px 27px 140px;
  max-width: 100%;
  gap: var(--gap-xl);
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  text-decoration: none;
  font-family: var(--font-inter);
}
.edit-profile {
  width: 100%;
  height: 1044px;
  position: relative;
  background: linear-gradient(180deg, #fefefe, #eff3f2);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-11xs) 356px;
  gap: 97px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 925px) {
  .edit-photo-container-parent,
  .update1 {
    flex: 1;
  }
  .update2 {
    gap: var(--gap-6xl);
  }
  .group-footer,
  .user-update {
    flex-wrap: wrap;
  }
  .group-footer {
    justify-content: center;
    padding-left: 70px;
    padding-right: 53px;
    box-sizing: border-box;
  }
  .edit-profile {
    height: auto;
    gap: 48px;
  }
}
@media screen and (max-width: 700px) {
  .home-menu-wrapper {
    display: none;
  }
  .navigation-bar {
    width: 489px;
  }
  .update1 {
    padding-top: 47px;
    padding-bottom: 80px;
    box-sizing: border-box;
  }
  .frame-parent,
  .input-containers {
    flex-wrap: wrap;
  }
  .add-email-container {
    flex-wrap: wrap;
    gap: 37px;
  }
  .update2 {
    padding-top: 25px;
    padding-bottom: 57px;
    box-sizing: border-box;
  }
  .ellipse-parent {
    min-width: 100%;
  }
  .user-update {
    gap: var(--gap-xl);
  }
  .navigation-bar-parent {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .edit-photo {
    font-size: var(--font-size-xl);
  }
  .update1 {
    gap: var(--gap-base);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .add-e-mail,
  .edit-name,
  .edit-password {
    font-size: var(--font-size-xl);
  }
  .add-email-container {
    gap: var(--gap-lg);
  }
  .group-footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .edit-profile {
    gap: var(--gap-5xl);
  }
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-6xl: 25px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #848484;
  --color-gray-200: #777;
  --color-powderblue-100: #b7d9c4;
  --color-darkseagreen: #6fb088;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-6xl: 25px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-mini: 15px;
  --padding-smi: 13px;
  --padding-11xs: 2px;
  --padding-xl: 20px;
  --padding-17xl: 36px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-base-2: 15.2px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-21xl: 40px;
  --br-4xs: 9px;
}
.about-us-privacy-container a{
  color:white;
  text-decoration: none;
}