.healthy-optionslogged-in-child {
    width: 1033px;
    height: 1033px;
    position: absolute;
    margin: 0 !important;
    bottom: 91px;
    left: -676px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.4),
      rgba(131, 173, 147, 0)
    );
    border: 0 solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .healthy-optionslogged-in-child1,
  .healthy-optionslogged-in-child2,
  .healthy-optionslogged-in-inner,
  .healthy-optionslogged-in-item {
    width: 187px;
    height: 113px;
    position: relative;
    border-radius: var(--br-xs);
    object-fit: cover;
    display: none;
    z-index: 1;
  }
  .healthy-optionslogged-in-child1,
  .healthy-optionslogged-in-child2,
  .healthy-optionslogged-in-inner {
    z-index: 2;
  }
  .edit-profile{
    color: grey;
  }
  .healthy-optionslogged-in-child1,
  .healthy-optionslogged-in-child2 {
    z-index: 3;
  }
  .healthy-optionslogged-in-child2 {
    z-index: 4;
  }
  .image-6-icon7 {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm7,
  .recipe7 {
    margin: 0;
  }
  .recipe-realm7 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 23px;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .image-6-parent4,
  .recipe-realm-wrapper3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .recipe-realm-wrapper3 {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .image-6-parent4 {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .about7,
  .home7,
  .recipes8 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .about7,
  .recipes8 {
    min-width: 54px;
  }
  .recipes8 {
    min-width: 63px;
  }
  .frame-wrapper49,
  .home-parent3 {
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  .home-parent3 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .frame-wrapper49 {
    width: 318px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
  }
  .frame-parent73,
  .frame-wrapper48 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent73 {
    width: 807px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper48 {
    align-self: stretch;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-size-xl);
    font-family: var(--font-poppins);
  }
  .search-recipe3 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .frame-child162 {
    height: 50px;
    width: 539px;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .example-salad3 {
    width: 95px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    background-color: transparent;
    height: 18px;
    position: relative;
    color: var(--color-gray-200);
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 1;
  }
  .rectangle-parent46 {
    flex: 1;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-5xl);
    min-width: 95px;
    max-width: 100%;
  }
  .frame-child163 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    right: -144px;
    bottom: -50px;
    left: 144px;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .search3 {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 50px;
    z-index: 1;
  }
  .rectangle-parent47 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mini) var(--padding-27xl) var(--padding-sm);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .frame-parent72,
  .frame-parent74,
  .search-recipe-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent74 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-2xs);
  }
  .frame-parent72,
  .search-recipe-container {
    width: 694px;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .frame-parent72 {
    width: 1016px;
    align-items: flex-end;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-12xl);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-darkslategray);
    font-family: var(--font-poppins);
  }
  .healthy-optionslogged-in-child3 {
    width: 187px;
    height: 113px;
    object-fit: cover;
    display: none;
    z-index: 6;
  }
  .frame-child164,
  .frame-child165,
  .healthy-optionslogged-in-child3 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child164 {
    width: 202px;
    height: 183px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child165 {
    align-self: stretch;
    height: 115.5px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-fajitas {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-fajitas-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child166 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor8 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent77,
  .frame-wrapper51 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent77 {
    flex: 1;
    position: relative;
  }
  .frame-wrapper51 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-child167,
  .rectangle-parent48 {
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent48 {
    flex: 0.9307;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xl);
    gap: var(--gap-11xs-1);
    min-width: 201px;
    max-width: 202px;
  }
  .frame-child167 {
    width: 202px;
    height: 183px;
    position: relative;
    display: none;
  }
  .cobb-salad,
  .frame-child168 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child168 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .cobb-salad-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child169 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor9 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent78 {
    flex: 1;
    flex-direction: row;
    position: relative;
  }
  .frame-parent78,
  .frame-wrapper52,
  .frame-wrapper53,
  .rectangle-parent49 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper53 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper52,
  .rectangle-parent49 {
    flex-direction: column;
    box-sizing: border-box;
  }
  .rectangle-parent49 {
    align-self: stretch;
    height: 183px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-8xs-1) var(--padding-7xs) var(--padding-9xl-6);
    gap: var(--gap-11xs-1);
  }
  .frame-wrapper52 {
    flex: 0.9854;
    padding: 0 var(--padding-10xs) 0 0;
    min-width: 201px;
    max-width: 205px;
  }
  .parenthesis-pair-icon {
    height: 12px;
    width: 14px;
    position: absolute;
    margin: 0 !important;
    right: 15px;
    bottom: 11.8px;
  }
  .frame-child170,
  .frame-child171 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child170 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child171 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .honey-garlic-shrimp {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .honey-garlic-shrimp-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child172,
  .frame-child173 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .frame-child173 {
    z-index: 3;
  }
  .frame-parent80 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor10 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 4;
  }
  .frame-parent79 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent50 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .branch-splitter,
  .branch-splitter-wrapper,
  .rectangle-parent50 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .branch-splitter {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .branch-splitter-wrapper {
    flex: 0.9854;
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 205px;
  }
  .frame-child174,
  .frame-child175 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child174 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child175 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .teriyaki-chicken-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child176 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef24 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent81 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill5 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-wrapper54,
  .rectangle-parent51 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent51 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper54 {
    flex: 0.9573;
    padding: 0 var(--padding-4xs) 0 0;
    min-width: 207px;
    max-width: 211px;
  }
  .phheart-fill6 {
    margin: 0 !important;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child177,
  .frame-child178 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child177 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child178 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .zucchini-pasta {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .zucchini-pasta-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child179 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 2;
  }
  .this-guinness-beef25 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent82 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent52 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-child180 {
    position: absolute;
    top: -300px;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid var(--color-khaki);
    box-sizing: border-box;
    width: 575px;
    height: 575px;
  }
  .hi-yeenphen5 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 105px;
  }
  .hi-yeenphen-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child181 {
    height: 44px;
    width: 44px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
  }
  .frame-parent83 {
    position: absolute;
    top: 16px;
    left: 144px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
    z-index: 1;
  }
  .ellipse-parent7 {
    height: 275px;
    width: 402px;
    position: absolute;
    margin: 0 !important;
    top: -254px;
    right: -233px;
    font-size: var(--font-size-base);
  }
  .frame-wrapper55,
  .phheart-fill-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .phheart-fill-group {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .frame-wrapper55 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 202px;
  }
  .frame-parent76,
  .frame-wrapper50 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent76 {
    flex: 1;
    justify-content: center;
    gap: var(--gap-2xs);
  }
  .frame-wrapper50 {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-11xs);
    box-sizing: border-box;
  }
  .frame-child182,
  .frame-child183 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child182 {
    width: 202px;
    height: 183px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child183 {
    align-self: stretch;
    height: 115.5px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-fajitas1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-fajitas-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child184 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor11 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent86,
  .frame-wrapper56 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent86 {
    flex: 1;
    position: relative;
  }
  .frame-wrapper56 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-child185,
  .rectangle-parent53 {
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent53 {
    flex: 0.9307;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xl);
    gap: var(--gap-11xs-1);
    min-width: 201px;
    max-width: 202px;
    z-index: 1;
  }
  .frame-child185 {
    width: 202px;
    height: 183px;
    position: relative;
    display: none;
  }
  .cobb-salad1,
  .frame-child186 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child186 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad1 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .cobb-salad-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child187 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor12 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent87 {
    flex: 1;
    flex-direction: row;
    position: relative;
  }
  .frame-parent87,
  .frame-wrapper57,
  .frame-wrapper58,
  .rectangle-parent54 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper58 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper57,
  .rectangle-parent54 {
    flex-direction: column;
    box-sizing: border-box;
  }
  .rectangle-parent54 {
    align-self: stretch;
    height: 183px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-8xs-1) var(--padding-7xs) var(--padding-9xl-6);
    gap: var(--gap-11xs-1);
  }
  .frame-wrapper57 {
    flex: 0.9854;
    padding: 0 var(--padding-10xs) 0 0;
    min-width: 201px;
    max-width: 205px;
  }
  .vector-icon {
    height: 12px;
    width: 14px;
    position: absolute;
    margin: 0 !important;
    right: 15px;
    bottom: 11.8px;
  }
  .frame-child188,
  .frame-child189 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child188 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child189 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .honey-garlic-shrimp1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .honey-garlic-shrimp-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child190,
  .frame-child191 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .frame-child191 {
    z-index: 3;
  }
  .frame-parent89 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor13 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 4;
  }
  .frame-parent88 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent55 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-wrapper59,
  .rectangle-parent55,
  .vector-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-parent {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .frame-wrapper59 {
    flex: 0.9854;
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 205px;
  }
  .frame-child192,
  .frame-child193 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child192 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child193 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .teriyaki-chicken-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child194 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef26 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent90 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill7 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-wrapper60,
  .rectangle-parent56 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent56 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper60 {
    flex: 0.9573;
    padding: 0 var(--padding-4xs) 0 0;
    min-width: 207px;
    max-width: 211px;
  }
  .phheart-fill8 {
    margin: 0 !important;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child195,
  .frame-child196 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child195 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child196 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .zucchini-pasta1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .zucchini-pasta-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child197 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 2;
  }
  .this-guinness-beef27 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent91 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill-container,
  .rectangle-parent57 {
    align-self: stretch;
    justify-content: flex-start;
  }
  .rectangle-parent57 {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .phheart-fill-container {
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .frame-parent85,
  .frame-wrapper61,
  .phheart-fill-container {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper61 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 202px;
  }
  .frame-parent85 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-2xs);
  }
  .frame-child198,
  .frame-child199 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child198 {
    width: 202px;
    height: 183px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child199 {
    align-self: stretch;
    height: 115.5px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-fajitas2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-fajitas-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child200 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor14 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent93,
  .frame-wrapper62 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent93 {
    flex: 1;
    position: relative;
  }
  .frame-wrapper62 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-child201,
  .rectangle-parent58 {
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent58 {
    flex: 0.9307;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xl);
    gap: var(--gap-11xs-1);
    min-width: 201px;
    max-width: 202px;
    z-index: 1;
  }
  .frame-child201 {
    width: 202px;
    height: 183px;
    position: relative;
    display: none;
  }
  .cobb-salad2,
  .frame-child202 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child202 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad2 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .cobb-salad-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child203 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor15 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent94,
  .frame-wrapper64 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent94 {
    flex: 1;
    position: relative;
  }
  .frame-wrapper64 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill9 {
    width: 16px;
    height: 16.4px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-wrapper63,
  .rectangle-parent59 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent59 {
    align-self: stretch;
    height: 183px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-8xs-1) var(--padding-7xs) var(--padding-9xl-6);
    gap: var(--gap-11xs-1);
  }
  .frame-wrapper63 {
    flex: 0.9854;
    padding: 0 var(--padding-10xs) 0 0;
    min-width: 201px;
    max-width: 205px;
  }
  .vector-icon1 {
    height: 12px;
    width: 14px;
    position: absolute;
    margin: 0 !important;
    right: 15px;
    bottom: 11.8px;
  }
  .frame-child204,
  .frame-child205 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child204 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child205 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .honey-garlic-shrimp2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .honey-garlic-shrimp-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child206,
  .frame-child207 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .frame-child207 {
    z-index: 3;
  }
  .frame-parent96 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor16 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 4;
  }
  .frame-parent95 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent60 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-wrapper65,
  .rectangle-parent60,
  .vector-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-group {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .frame-wrapper65 {
    flex: 0.9854;
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 205px;
  }
  .frame-child208,
  .frame-child209 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child208 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child209 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .teriyaki-chicken-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child210 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef28 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent97 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill10 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-wrapper66,
  .rectangle-parent61 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent61 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper66 {
    flex: 0.9573;
    padding: 0 var(--padding-4xs) 0 0;
    min-width: 207px;
    max-width: 211px;
  }
  .phheart-fill11 {
    margin: 0 !important;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child211,
  .frame-child212 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child211 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child212 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .zucchini-pasta2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .zucchini-pasta-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child213 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 2;
  }
  .this-guinness-beef29 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent98 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill-parent1,
  .rectangle-parent62 {
    align-self: stretch;
    justify-content: flex-start;
  }
  .rectangle-parent62 {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .phheart-fill-parent1 {
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .frame-parent92,
  .frame-wrapper67,
  .phheart-fill-parent1 {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper67 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 202px;
  }
  .frame-parent92 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-2xs);
  }
  .frame-child214,
  .frame-child215 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child214 {
    width: 202px;
    height: 183px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child215 {
    align-self: stretch;
    height: 115.5px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-fajitas3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-fajitas-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child216 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor17 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent100,
  .frame-wrapper68 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent100 {
    flex: 1;
    position: relative;
  }
  .frame-wrapper68 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-child217,
  .rectangle-parent63 {
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent63 {
    flex: 0.9307;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xl);
    gap: var(--gap-11xs-1);
    min-width: 201px;
    max-width: 202px;
    z-index: 1;
  }
  .frame-child217 {
    width: 202px;
    height: 183px;
    position: relative;
    display: none;
  }
  .cobb-salad3,
  .frame-child218 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child218 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad3 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .cobb-salad-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child219 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor18 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent101 {
    flex: 1;
    flex-direction: row;
    position: relative;
  }
  .frame-parent101,
  .frame-wrapper69,
  .frame-wrapper70,
  .rectangle-parent64 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper70 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper69,
  .rectangle-parent64 {
    flex-direction: column;
    box-sizing: border-box;
  }
  .rectangle-parent64 {
    align-self: stretch;
    height: 183px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-8xs-1) var(--padding-7xs) var(--padding-9xl-6);
    gap: var(--gap-11xs-1);
  }
  .frame-wrapper69 {
    flex: 0.9854;
    padding: 0 var(--padding-10xs) 0 0;
    min-width: 201px;
    max-width: 205px;
  }
  .vector-icon2 {
    height: 12px;
    width: 14px;
    position: absolute;
    margin: 0 !important;
    right: 15px;
    bottom: 11.8px;
  }
  .frame-child220,
  .frame-child221 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child220 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child221 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .honey-garlic-shrimp3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .honey-garlic-shrimp-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child222,
  .frame-child223 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .frame-child223 {
    z-index: 3;
  }
  .frame-parent103 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor19 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 4;
  }
  .frame-parent102 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent65 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-wrapper71,
  .rectangle-parent65,
  .vector-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-container {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .frame-wrapper71 {
    flex: 0.9854;
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 205px;
  }
  .frame-child224,
  .frame-child225 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child224 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child225 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .teriyaki-chicken-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child226 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef30 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent104 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill12 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-wrapper72,
  .rectangle-parent66 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent66 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper72 {
    flex: 0.9573;
    padding: 0 var(--padding-4xs) 0 0;
    min-width: 207px;
    max-width: 211px;
  }
  .phheart-fill13 {
    margin: 0 !important;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child227,
  .frame-child228 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child227 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child228 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .zucchini-pasta3 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .zucchini-pasta-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child229 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 2;
  }
  .this-guinness-beef31 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent105 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill-parent2,
  .rectangle-parent67 {
    align-self: stretch;
    justify-content: flex-start;
  }
  .rectangle-parent67 {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .phheart-fill-parent2 {
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .frame-parent99,
  .frame-wrapper73,
  .phheart-fill-parent2 {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper73 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 202px;
  }
  .frame-parent99 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-2xs);
  }
  .frame-child230,
  .frame-child231 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child230 {
    width: 202px;
    height: 183px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child231 {
    align-self: stretch;
    height: 115.5px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .chicken-fajitas4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .chicken-fajitas-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child232 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor20 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent107,
  .frame-wrapper74 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent107 {
    flex: 1;
    position: relative;
  }
  .frame-wrapper74 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .frame-child233,
  .rectangle-parent68 {
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .rectangle-parent68 {
    flex: 0.9307;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xl);
    gap: var(--gap-11xs-1);
    min-width: 201px;
    max-width: 202px;
    z-index: 1;
  }
  .frame-child233 {
    width: 202px;
    height: 183px;
    position: relative;
    display: none;
  }
  .cobb-salad4,
  .frame-child234 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .frame-child234 {
    align-self: stretch;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .cobb-salad4 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .cobb-salad-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child235 {
    height: 23.5px;
    width: 82px;
    position: absolute;
    margin: 0 !important;
    bottom: -21.4px;
    left: -6px;
    z-index: 1;
  }
  .lorem-ipsum-dolor21 {
    flex: 1;
    position: relative;
    font-weight: 300;
    z-index: 2;
  }
  .frame-parent108,
  .frame-wrapper76 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent108 {
    flex: 1;
    position: relative;
  }
  .frame-wrapper76 {
    align-self: stretch;
    padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill14 {
    width: 16px;
    height: 16.4px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-wrapper75,
  .rectangle-parent69 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent69 {
    align-self: stretch;
    height: 183px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-8xs-1) var(--padding-7xs) var(--padding-9xl-6);
    gap: var(--gap-11xs-1);
  }
  .frame-wrapper75 {
    flex: 0.9854;
    padding: 0 var(--padding-10xs) 0 0;
    min-width: 201px;
    max-width: 205px;
  }
  .vector-icon3 {
    height: 12px;
    width: 14px;
    position: absolute;
    margin: 0 !important;
    right: 15px;
    bottom: 11.8px;
  }
  .frame-child236,
  .frame-child237 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child236 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child237 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .honey-garlic-shrimp4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .honey-garlic-shrimp-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child238,
  .frame-child239 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .frame-child239 {
    z-index: 3;
  }
  .frame-parent110 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
  }
  .lorem-ipsum-dolor22 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 17px;
    z-index: 4;
  }
  .frame-parent109 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent70 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-wrapper77,
  .rectangle-parent70,
  .vector-parent1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-parent1 {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .frame-wrapper77 {
    flex: 0.9854;
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 205px;
  }
  .frame-child240,
  .frame-child241 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child240 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child241 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .teriyaki-chicken4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .teriyaki-chicken-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child242 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 1;
  }
  .this-guinness-beef32 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 2;
  }
  .frame-parent111 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .phheart-fill15 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-wrapper78,
  .rectangle-parent71 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent71 {
    align-self: stretch;
    height: 179px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
  }
  .frame-wrapper78 {
    flex: 0.9573;
    padding: 0 var(--padding-4xs) 0 0;
    min-width: 207px;
    max-width: 211px;
  }
  .phheart-fill16 {
    margin: 0 !important;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child243,
  .frame-child244 {
    position: relative;
    border-radius: var(--br-xs);
  }
  .frame-child243 {
    width: 202px;
    height: 179px;
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    box-sizing: border-box;
    display: none;
  }
  .frame-child244 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .zucchini-pasta4 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .zucchini-pasta-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .frame-child245 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 82px;
    height: 23px;
    z-index: 2;
  }
  .this-guinness-beef33 {
    position: absolute;
    top: 0;
    left: 6px;
    font-weight: 300;
    display: inline-block;
    width: 185px;
    height: 17px;
    z-index: 3;
  }
  .frame-parent112 {
    align-self: stretch;
    height: 38px;
    position: relative;
    font-size: var(--font-size-7xs);
    color: var(--color-gray-100);
  }
  .rectangle-parent72 {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-powderblue-100);
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
    gap: var(--gap-12xs);
    z-index: 1;
  }
  .frame-wrapper79,
  .phheart-fill-parent3,
  .rectangle-parent72 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .phheart-fill-parent3 {
    align-self: stretch;
    height: 179px;
    flex-direction: row;
    position: relative;
  }
  .frame-wrapper79 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 201px;
    max-width: 202px;
  }
  .frame-parent106,
  .frame-parent84 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-2xs);
  }
  .frame-parent84 {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-mini);
  }
  .frame-parent75,
  .healthy-optionslogged-in-inner1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent75 {
    width: 1071px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-6xl);
  }
  .healthy-optionslogged-in-inner1 {
    width: 1285px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .load-more1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 76px;
  }
  .load-more-container {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-9xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child246,
  .frame-child247,
  .frame-child248,
  .frame-child249 {
    height: 30px;
    width: 107px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child247,
  .frame-child248,
  .frame-child249 {
    height: 27px;
    width: 115px;
  }
  .frame-child248,
  .frame-child249 {
    height: 26px;
    width: 174px;
  }
  .frame-child249 {
    height: 37px;
    width: 107px;
  }
  .frame-child250 {
    height: 261px;
    width: 1513px;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .image-7-icon7,
  .youtube-icon8 {
    height: 24px;
    width: 24px;
    position: relative;
    z-index: 1;
  }
  .image-7-icon7 {
    width: 107px;
    height: 107px;
    object-fit: contain;
  }
  .follow-us7 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 65px;
    z-index: 1;
  }
  .follow-us-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
  }
  .facebook-icon7,
  .instagram-instagram-icon7,
  .tiktok-icon7 {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .facebook-parent1 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-lgi-9);
  }
  .facebook-parent1,
  .frame-parent114,
  .frame-wrapper81 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent114 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .frame-wrapper81 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-lg-9);
  }
  .image-7-parent3 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-10xl);
  }
  .frame-wrapper80,
  .image-7-parent3,
  .youtube-parent3 {
    display: flex;
    justify-content: flex-start;
  }
  .youtube-parent3 {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-12xs);
  }
  .frame-wrapper80 {
    width: 155.7px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us8,
  .all-rights-reserved7,
  .blank-line41,
  .blank-line42,
  .blank-line43,
  .blank-line44,
  .blank-line45,
  .community-guidelines8,
  .contact-us9,
  .privacy-policy9 {
    margin: 0;
  }
  .about-us-privacy-container7 {
    margin: 0;
    width: 278px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent113,
  .healthy-optionslogged-in {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .frame-parent113 {
    margin-left: -102px;
    width: 1513px;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
      var(--padding-105xl);
    max-width: 108%;
    flex-shrink: 0;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .healthy-optionslogged-in {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0 var(--padding-82xl);
    gap: var(--gap-19xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 1200px) {
    .healthy-optionslogged-in {
      padding-left: var(--padding-31xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .frame-parent106,
    .frame-parent76,
    .frame-parent85,
    .frame-parent92,
    .frame-parent99 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .frame-wrapper49 {
      display: none;
    }
    .frame-parent73 {
      width: 489px;
    }
    .frame-parent72 {
      gap: var(--gap-mini);
    }
    .frame-parent113 {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: var(--padding-43xl);
      padding-right: var(--padding-42xl);
      box-sizing: border-box;
    }
    .healthy-optionslogged-in {
      gap: var(--gap-lgi);
      padding-left: var(--padding-6xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .search-recipe3 {
      font-size: var(--font-size-lgi);
    }
    .branch-splitter-wrapper,
    .frame-wrapper52,
    .frame-wrapper54,
    .frame-wrapper57,
    .frame-wrapper59,
    .frame-wrapper60,
    .frame-wrapper63,
    .frame-wrapper65,
    .frame-wrapper66,
    .frame-wrapper69,
    .frame-wrapper71,
    .frame-wrapper72,
    .frame-wrapper75,
    .frame-wrapper77,
    .frame-wrapper78,
    .rectangle-parent48,
    .rectangle-parent53,
    .rectangle-parent58,
    .rectangle-parent63,
    .rectangle-parent68 {
      flex: 1;
    }
    .frame-parent113 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-base: 16px;
    --font-size-smi: 13px;
    --font-size-xl: 20px;
    --font-size-mini: 15px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-sm: 14px;
    --font-size-7xs: 6px;
    --font-size-3xs: 10px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
    --font-size-45xl: 64px;
    --font-size-7xl: 26px;
    --font-size-19xl: 38px;
    --font-size-32xl: 51px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkseagreen: #6fb088;
    --color-gray-100: #898989;
    --color-gray-200: #848484;
    --color-gray-300: #777;
    --color-sandybrown: #d5a74f;
    --color-black: #000;
    --color-powderblue-100: #b7d9c4;
    --color-powderblue-200: rgba(183, 217, 196, 0.4);
    --color-khaki: #ffe495;
    --color-darkslategray: #3c3c3c;
  
    /* Gaps */
    --gap-mini: 15px;
    --gap-xl: 20px;
    --gap-2xs: 11px;
    --gap-6xs: 7px;
    --gap-4xs: 9px;
    --gap-9xs: 4px;
    --gap-3xl: 22px;
    --gap-73xl: 92px;
    --gap-4xl: 23px;
    --gap-27xl: 46px;
    --gap-12xs: 1px;
    --gap-10xl: 29px;
    --gap-lg: 18px;
    --gap-lgi-9: 19.9px;
    --gap-lgi: 19px;
    --gap-7xs: 6px;
    --gap-25xl: 44px;
    --gap-3xs: 10px;
    --gap-6xl: 25px;
    --gap-xs: 12px;
    --gap-smi: 13px;
    --gap-base: 16px;
    --gap-5xs: 8px;
    --gap-19xl: 38px;
    --gap-12xl: 31px;
    --gap-mid: 17px;
    --gap-77xl: 96px;
    --gap-29xl: 48px;
    --gap-5xl: 24px;
    --gap-21xl: 40px;
    --gap-11xs-1: 1.1px;
  
    /* Paddings */
    --padding-2xs: 11px;
    --padding-sm: 14px;
    --padding-15xl: 34px;
    --padding-6xs: 7px;
    --padding-4xs: 9px;
    --padding-xl: 20px;
    --padding-5xs: 8px;
    --padding-smi: 13px;
    --padding-3xs: 10px;
    --padding-6xl: 25px;
    --padding-4xl: 23px;
    --padding-lg: 18px;
    --padding-31xl: 50px;
    --padding-9xs: 4px;
    --padding-14xl: 33px;
    --padding-17xl: 36px;
    --padding-103xl: 122px;
    --padding-12xl: 31px;
    --padding-105xl: 124px;
    --padding-43xl: 62px;
    --padding-42xl: 61px;
    --padding-12xs: 1px;
    --padding-lg-9: 18.9px;
    --padding-11xs: 2px;
    --padding-10xs-1: 2.1px;
    --padding-10xs: 3px;
    --padding-75xl: 94px;
    --padding-5xl: 24px;
    --padding-8xs: 5px;
    --padding-7xs: 6px;
    --padding-81xl: 100px;
    --padding-95xl: 114px;
    --padding-base: 16px;
    --padding-mid: 17px;
    --padding-7xl: 26px;
    --padding-3xl: 22px;
    --padding-mini: 15px;
    --padding-27xl: 46px;
    --padding-21xl: 40px;
    --padding-82xl: 101px;
    --padding-8xl: 27px;
    --padding-20xl: 39px;
    --padding-47xl: 66px;
    --padding-8xs-1: 4.1px;
    --padding-9xl-6: 28.6px;
  
    /* Border radiuses */
    --br-xl: 20px;
    --br-4xs: 9px;
    --br-xs: 12px;
    --br-3xs: 10px;
    --br-9xs: 4px;
  }
  .frame-parent113{
    background: linear-gradient(180deg, #efcd69, #d5a74f);
  }
  .about-us-privacy-container7 a{
    color: white;
    text-decoration: none;
  }
  .home7,
  .about7,
  .recipes8 {
    color: grey;
    text-decoration: none; /* Remove underline */
  }
  .frame-child29 {
    width: 12.563rem;
    height: 14rem;
    position: relative;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    display: none;
  }
  .vector-icon {
    height: 0.55rem;
    width: 0.55rem;
    position: relative;
    z-index: 1;
  }
  .vector-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .edit-profile,
  .my-recipes,
  .upload {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.938rem;
    z-index: 1;
    columns: grey;
  }
  .my-recipes,
  .upload {
    min-width: 4.25rem;
    cursor: pointer;
    color: grey;
  }
  .upload {
    min-width: 2.75rem;
    z-index: 2;
  }
  .my-recipes-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
  }
  .frame-child30 {
    height: 2.188rem;
    width: 9.938rem;
    position: relative;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: none;
  }
  .logout {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 2.688rem;
    z-index: 1;
  }
  .group-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) 3.625rem 0.5rem;
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    flex-direction: row;
    z-index: 1;
  }
  .frame-parent11,
  .group-button,
  .group-section,
  .options {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent11 {
    align-self: stretch;
    flex-direction: column;
    padding: 0 var(--padding-4xs) 0 0;
    gap: var(--gap-xl);
  }
  .group-section,
  .options {
    background-color: var(--color-white);
  }
  .group-section {
    flex: 1;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    flex-direction: column;
    padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
    gap: 0.612rem;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .options {
    width: 12.563rem;
    height: 10.313rem;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
    max-width: 90%;
    max-height: 90%;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-smi: 0.813rem;
    --font-size-sm: 0.875rem;
    --font-size-7xs: 0.375rem;
    --font-size-3xs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.188rem;
    --font-size-base: 1rem;
    --font-size-xl: 1.25rem;
    --font-size-5xs: 0.5rem;
    --font-size-mini: 0.938rem;
  
    /* Colors */
    --color-white: #fff;
    --color-powderblue: #b7d9c4;
    --color-gray-100: #898989;
    --color-gray-200: #848484;
    --color-gray-300: #777;
    --color-black: #000;
    --color-darkseagreen: #6fb088;
    --color-darkslategray: #3c3c3c;
    --color-khaki: #ffe495;
  
    /* Gaps */
    --gap-mini: 0.937rem;
    --gap-xl: 1.25rem;
    --gap-12xs: 0.062rem;
    --gap-10xl: 1.812rem;
    --gap-lg: 1.125rem;
    --gap-lgi-9: 1.243rem;
    --gap-2xs: 0.687rem;
    --gap-4xs: 0.562rem;
    --gap-3xs: 0.625rem;
  
    /* Paddings */
    --padding-17xl: 2.25rem;
    --padding-103xl: 7.625rem;
    --padding-12xl: 1.937rem;
    --padding-105xl: 7.75rem;
    --padding-xl: 1.25rem;
    --padding-43xl: 3.875rem;
    --padding-42xl: 3.812rem;
    --padding-12xs: 0.062rem;
    --padding-lg-9: 1.181rem;
    --padding-11xs: 0.125rem;
    --padding-10xs-1: 0.131rem;
    --padding-2xl: 1.312rem;
    --padding-23xl: 2.625rem;
    --padding-6xs: 0.437rem;
    --padding-9xs: 0.25rem;
    --padding-7xs: 0.375rem;
    --padding-mini: 0.937rem;
    --padding-sm: 0.875rem;
    --padding-5xl: 1.5rem;
    --padding-base: 1rem;
    --padding-3xs: 0.625rem;
    --padding-7xl: 1.625rem;
    --padding-smi: 0.812rem;
    --padding-4xs: 0.562rem;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-4xs: 9px;
  }
  .about-us-privacy-container a {
    color: white;
    text-decoration: none;
  }