.image-5-icon,
.new-recipes {
  margin: 0 !important;
  position: absolute;
  z-index: 1;
}
.image-5-icon {
  width: 28.313rem;
  height: 29.125rem;
  top: 5.625rem;
  right: 33rem;
  object-fit: contain;
}
.new-recipes {
  bottom: 47.5rem;
  left: 12.813rem;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.exciting-new-recipes {
  width: 13.375rem;
  height: 4.5rem;
  bottom: 42.063rem;
  left: 12.813rem;
  font-size: var(--font-size-xs);
  font-weight: 400;
  color: var(--color-gray-200);
}
.exciting-new-recipes,
.healthy-options-nutrient-rich,
.see-more {
  margin: 0 !important;
  position: absolute;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.healthy-options-nutrient-rich {
  width: 13.375rem;
  bottom: 27rem;
  left: 12.813rem;
  font-size: var(--font-size-xs);
  font-weight: 400;
  color: var(--color-gray-200);
}
.edit-profile{
  color:grey
}
.see-more {
  right: 12.813rem;
  bottom: 21.688rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  min-width: 4.188rem;
  cursor: pointer;
}
.phheart-fill {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 5;
}
.healthy-options {
  margin: 0 !important;
  position: absolute;
  bottom: 32.438rem;
  left: 12.813rem;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.image-6-icon {
  height: 4.625rem;
  width: 4.625rem;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.realm,
.recipe {
  margin: 0;
}
.recipe-realm1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 1.438rem;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #d5a74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.recipe-realm {
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
}
.image,
.image-wrapper,
.recipe-realm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.image-wrapper {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.frame-child {
  width: calc(100% - 27px);
  height: 35.938rem;
  position: absolute;
  margin: 0 !important;
  top: -17.937rem;
  right: 1.688rem;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 228, 149, 0.4)
  );
  border: 0 solid var(--color-khaki);
  box-sizing: border-box;
}
.home,
.recipes {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 2.938rem;
  cursor: pointer;
  z-index: 1;
}
.recipes {
  min-width: 3.938rem;
}
.recipes-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 1.687rem;
  margin-top: -1.5rem;
}
.about {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 3.375rem;
  cursor: pointer;
  z-index: 1;
}
.about-wrapper,
.ellipse-parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.about-wrapper {
  width: 18.875rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  margin-top: -1.5rem;
}
.ellipse-parent {
  height: 18rem;
  width: 37.625rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xl) 7.5rem var(--padding-7xl) 8.562rem;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.hi-yeenphen {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 6.563rem;
}
.hi-yeenphen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.frame-item {
  height: 2.75rem;
  width: 2.75rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.frame-container {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frame-container,
.frame-group,
.search-recipe {
  display: flex;
  align-items: flex-start;
}
.search-recipe {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  font-size: var(--font-size-base);
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-inner {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.aloo-samosa,
.rectangle-icon {
  flex: 1;
  position: relative;
  z-index: 1;
}
.rectangle-icon {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.aloo-samosa {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.aloo-samosa-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.zucchini-pasta-child {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.zucchini-pasta {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.rectangle-div,
.rectangle-parent {
  width: 12.625rem;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
}
.rectangle-parent {
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 22.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.rectangle-div {
  position: relative;
  display: none;
}
.frame-child1,
.zucchini-pasta1 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child1 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.zucchini-pasta1 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.zucchini-pasta-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.group-icon {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef1 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent1 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.rectangle-group,
.search-recipe1 {
  position: absolute;
  margin: 0 !important;
  right: 0;
  box-sizing: border-box;
}
.rectangle-group {
  width: 12.625rem;
  height: 11.188rem;
  bottom: 6rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.search-recipe1 {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(183, 217, 196, 0.4),
    rgba(131, 173, 147, 0)
  );
  border: 0 solid var(--color-powderblue);
}
.search-recipe2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
  z-index: 1;
}
.beefstew-child {
  height: 3.125rem;
  width: 33.688rem;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.example-salad {
  width: 5.938rem;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 1.125rem;
  position: relative;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  z-index: 2;
}
.beefstew,
.beefstew-item {
  border-radius: var(--br-4xs);
  z-index: 1;
}
.beefstew {
  flex: 1;
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-5xl);
  max-width: 100%;
}
.beefstew-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 3.125rem;
  right: -9rem;
  bottom: -3.125rem;
  left: 9rem;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.search {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 3.125rem;
  z-index: 2;
}
.beefstew-parent,
.beefstew1,
.search-recipe-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.beefstew1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) 2.875rem var(--padding-sm);
  background-color: transparent;
  flex-direction: row;
  position: relative;
}
.beefstew-parent,
.search-recipe-group {
  align-self: stretch;
  max-width: 100%;
}
.beefstew-parent {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.search-recipe-group {
  flex-direction: column;
  gap: 0.5rem;
}
.frame-child2 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.beef-stew,
.frame-child3 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child3 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.beef-stew {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.beef-stew-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child4 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef2 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent3 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.phheart-fill1 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.rectangle-container {
  height: 11.188rem;
  width: 12.625rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  cursor: pointer;
  z-index: 1;
}
.phheart-fill-icon {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame-child5,
.frame-child6,
.frame-child7 {
  position: relative;
  border-radius: var(--br-xs);
}
.frame-child5 {
  width: 12.625rem;
  height: 11.188rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.frame-child6,
.frame-child7 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child6 {
  height: 7.063rem;
  flex-shrink: 0;
  display: none;
}
.frame-child7 {
  flex: 1;
  max-height: 100%;
  z-index: 2;
}
.korean-fried-chicken {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.korean-fried-chicken-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child8,
.frame-child9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frame-child9 {
  z-index: 2;
}
.frame-parent5 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.313rem;
  height: 1.063rem;
  z-index: 3;
}
.frame-parent4 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-child10,
.phheart-fill-parent {
  width: 12.625rem;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
}
.phheart-fill-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 2;
}
.frame-child10 {
  position: relative;
  display: none;
}
.chicken-salad,
.frame-child11 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child11 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chicken-salad {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.chicken-salad-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child12 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef3 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent6 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-child13,
.group-div {
  width: 12.625rem;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
}
.group-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.frame-child13 {
  position: relative;
  display: none;
}
.cobb-salad,
.frame-child14 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child14 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cobb-salad {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.cobb-salad-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child15 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.lorem-ipsum-dolor1 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.313rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent7 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.phheart-fill2 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.rectangle-parent1 {
  height: 11.188rem;
  width: 12.625rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.phheart-fill-icon1 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame-child16 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.frame-child17,
.frame-child18 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child17 {
  height: 7.063rem;
  flex-shrink: 0;
  display: none;
}
.frame-child18 {
  flex: 1;
  max-height: 100%;
  z-index: 2;
}
.honey-garlic-shrimp {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.honey-garlic-shrimp-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child19,
.frame-child20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frame-child20 {
  z-index: 2;
}
.frame-parent9 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
}
.lorem-ipsum-dolor2 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.313rem;
  height: 1.063rem;
  z-index: 3;
}
.frame-parent8 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-child21,
.phheart-fill-group {
  width: 12.625rem;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
}
.phheart-fill-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 2;
}
.frame-child21 {
  position: relative;
  display: none;
}
.frame-child22,
.teriyaki-chicken {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child22 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.teriyaki-chicken {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.teriyaki-chicken-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child23 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef4 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent10 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-parent2,
.rectangle-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent2 {
  height: 11.188rem;
  width: 12.625rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.frame-parent2 {
  width: 39.563rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5.562rem 0.718rem;
  min-height: 27.938rem;
  max-width: 100%;
}
.frame-wrapper1,
.search-recipe-parent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs);
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.search-recipe-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 17.5rem 11rem 6.25rem 10.187rem;
  position: relative;
  gap: 7rem;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
.see-more2,
.see-more3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 4.188rem;
  z-index: 1;
}
.see-more3 {
  cursor: pointer;
  z-index: 2;
  margin-left: -4.188rem;
}
.about-us {
  margin: 0 !important;
  position: absolute;
  right: 0.313rem;
  bottom: 21.188rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  font-size: var(--font-size-sm);
}
.frame-div,
.frame-wrapper {
  align-items: flex-start;
  box-sizing: border-box;
}
.frame-div {
  width: 67rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2.437rem 0 0;
  position: relative;
  max-width: 100%;
}
.frame-wrapper {
  width: 79.5rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-3xs);
}
.frame-parent,
.frame-wrapper,
.see-more1 {
  display: flex;
  max-width: 100%;
}
.frame-parent {
  width: 81.938rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.see-more1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.frame-child24 {
  height: 16.313rem;
  width: 94.563rem;
  position: relative;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  display: none;
  max-width: 100%;
}
.youtube-icon1 {
  height: 1.5rem;
  width: 1.5rem;
}
.follow-us,
.image-7-icon,
.youtube-icon1 {
  position: relative;
  z-index: 1;
}
.image-7-icon {
  width: 6.688rem;
  height: 6.688rem;
  object-fit: contain;
}
.follow-us {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 4.063rem;
}
.follow-us-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
}
.facebook-icon,
.instagram-instagram-icon,
.tiktok-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  min-height: 1.5rem;
  z-index: 1;
}
.facebook-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lgi-9);
}
.facebook-parent,
.follow-button,
.follow-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.follow-button {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.follow-button-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-lg-9);
}
.image-placeholder {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xl);
}
.facebook-instagram,
.image-placeholder,
.youtube-icon {
  display: flex;
  justify-content: flex-start;
}
.facebook-instagram {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-12xs);
}
.youtube-icon {
  width: 9.731rem;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.about-us1,
.all-rights-reserved,
.blank-line,
.blank-line1,
.blank-line2,
.blank-line3,
.blank-line4,
.community-guidelines,
.contact-us,
.privacy-policy {
  margin: 0;
}
.about-us-privacy-container {
  margin: 0;
  width: 17.375rem;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child25,
.frame-child26,
.frame-child27,
.frame-child28 {
  height: 1.875rem;
  width: 6.688rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  cursor: pointer;
}
.frame-child26,
.frame-child27,
.frame-child28 {
  height: 1.688rem;
  width: 7.188rem;
}
.frame-child27,
.frame-child28 {
  height: 1.625rem;
  width: 10.875rem;
}
.frame-child28 {
  height: 2.313rem;
  width: 6.688rem;
}
.group-footer {
  align-self: stretch;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
    var(--padding-105xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.homeloggedin {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #fefefe, #eff3f2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1025px) {
  .frame-group {
    flex-wrap: wrap;
  }
  .search-recipe-parent {
    gap: 3.5rem;
    padding: 11.375rem 5.5rem 4.063rem 5.063rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .group-footer {
    padding-left: var(--padding-43xl);
    padding-right: var(--padding-42xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .ellipse-parent {
    padding-left: 4.25rem;
    padding-right: 3.75rem;
    box-sizing: border-box;
  }
  .beefstew-parent {
    display: none;
  }
  .search-recipe-parent {
    gap: 1.75rem;
    padding: 7.375rem 2.75rem var(--padding-23xl) 2.5rem;
    box-sizing: border-box;
  }
  .group-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .healthy-options,
  .new-recipes {
    font-size: var(--font-size-lgi);
  }
  .ellipse-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .search-recipe2 {
    font-size: var(--font-size-lgi);
  }
  .group-footer,
  .search-recipe-parent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .group-footer {
    padding-left: var(--padding-xl);
  }
}
.frame-child29 {
  width: 12.563rem;
  height: 14rem;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: none;
}
.vector-icon {
  height: 0.55rem;
  width: 0.55rem;
  position: relative;
  z-index: 1;
}
.vector-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.edit-profile,
.my-recipes,
.upload {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 3.938rem;
  z-index: 1;
  columns: grey;
}
.my-recipes,
.upload {
  min-width: 4.25rem;
  cursor: pointer;
  color: grey;
}
.upload {
  min-width: 2.75rem;
  z-index: 2;
}
.my-recipes-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frame-child30 {
  height: 2.188rem;
  width: 9.938rem;
  position: relative;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  display: none;
}
.logout {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 2.688rem;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 3.625rem 0.5rem;
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  flex-direction: row;
  z-index: 1;
}
.frame-parent11,
.group-button,
.group-section,
.options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent11 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-xl);
}
.group-section,
.options {
  background-color: var(--color-white);
}
.group-section {
  flex: 1;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  flex-direction: column;
  padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
  gap: 0.612rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.options {
  width: 12.563rem;
  height: 10.313rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
}
body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 0.813rem;
  --font-size-sm: 0.875rem;
  --font-size-7xs: 0.375rem;
  --font-size-3xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.188rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-5xs: 0.5rem;
  --font-size-mini: 0.938rem;

  /* Colors */
  --color-white: #fff;
  --color-powderblue: #b7d9c4;
  --color-gray-100: #898989;
  --color-gray-200: #848484;
  --color-gray-300: #777;
  --color-black: #000;
  --color-darkseagreen: #6fb088;
  --color-darkslategray: #3c3c3c;
  --color-khaki: #ffe495;

  /* Gaps */
  --gap-mini: 0.937rem;
  --gap-xl: 1.25rem;
  --gap-12xs: 0.062rem;
  --gap-10xl: 1.812rem;
  --gap-lg: 1.125rem;
  --gap-lgi-9: 1.243rem;
  --gap-2xs: 0.687rem;
  --gap-4xs: 0.562rem;
  --gap-3xs: 0.625rem;

  /* Paddings */
  --padding-17xl: 2.25rem;
  --padding-103xl: 7.625rem;
  --padding-12xl: 1.937rem;
  --padding-105xl: 7.75rem;
  --padding-xl: 1.25rem;
  --padding-43xl: 3.875rem;
  --padding-42xl: 3.812rem;
  --padding-12xs: 0.062rem;
  --padding-lg-9: 1.181rem;
  --padding-11xs: 0.125rem;
  --padding-10xs-1: 0.131rem;
  --padding-2xl: 1.312rem;
  --padding-23xl: 2.625rem;
  --padding-6xs: 0.437rem;
  --padding-9xs: 0.25rem;
  --padding-7xs: 0.375rem;
  --padding-mini: 0.937rem;
  --padding-sm: 0.875rem;
  --padding-5xl: 1.5rem;
  --padding-base: 1rem;
  --padding-3xs: 0.625rem;
  --padding-7xl: 1.625rem;
  --padding-smi: 0.812rem;
  --padding-4xs: 0.562rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-4xs: 9px;
}
.about-us-privacy-container a {
  color: white;
  text-decoration: none;
}

