.my-recipes-child {
  width: 1033px;
  height: 1033px;
  position: absolute;
  margin: 0 !important;
  bottom: 91px;
  left: -676px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(183, 217, 196, 0.4),
    rgba(131, 173, 147, 0)
  );
  border: 0 solid var(--color-powderblue-100);
  box-sizing: border-box;
}
.image-6-icon7 {
  height: 74px;
  width: 74px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.realm7,
.recipe7 {
  margin: 0;
}

.recipe-realm7 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 23px;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #d5a74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.edit-profile{
  color:grey
}
.recipe-realm-wrapper3 {
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
}
.frame-wrapper74,
.image-6-parent4,
.recipe-realm-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-6-parent4 {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
}
.frame-wrapper74 {
  width: 289px;
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.about7,
.home7,
.recipes8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 47px;
  cursor: pointer;
}
.about7,
.recipes8 {
  min-width: 54px;
}
.recipes8 {
  min-width: 63px;
}
.home-about-recipes2,
.home-parent3 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.home-parent3 {
  width: 318px;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.home-about-recipes2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.search-recipe3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.frame-child226 {
  height: 50px;
  width: 539px;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.example-salad3 {
  width: 95px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.rectangle-parent65 {
  flex: 1;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-5xl);
  min-width: 95px;
  max-width: 100%;
}
.frame-child227 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 50px;
  right: -144px;
  bottom: -50px;
  left: 144px;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.search3 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 50px;
  z-index: 1;
}
.frame-parent107,
.rectangle-parent66 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent66 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-27xl) var(--padding-sm);
  background-color: transparent;
  position: relative;
}
.frame-parent107 {
  align-self: stretch;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.search-recipe-container {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.figma-layout,
.figma-layout-wrapper,
.search-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.figma-layout {
  align-self: stretch;
  gap: 68px;
}
.figma-layout-wrapper {
  flex: 1;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
  min-width: 451px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
.frame-child228 {
  position: absolute;
  top: -300px;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 228, 149, 0.4)
  );
  border: 0 solid var(--color-khaki);
  box-sizing: border-box;
  width: 575px;
  height: 575px;
}
.hi-yeenphen5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 105px;
}
.image-placeholder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.about-us-links {
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.image-placeholder-parent {
  position: absolute;
  top: 16px;
  left: 144px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  z-index: 1;
}
.ellipse-parent7 {
  height: 275px;
  width: 402px;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-base);
}
.frame-parent106 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
}
.my-recipes1 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.my-recipes-wrapper {
  width: 346px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.frame-child229 {
  width: 202px;
  height: 179px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue-100);
  box-sizing: border-box;
  display: none;
}
.beef-stew6,
.frame-child230 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child230 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.beef-stew6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.beef-stew-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child230{
  height:110px;
  width:190px;
}
.frame-child231 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 82px;
  height: 23px;
  z-index: 1;
}
.this-guinness-beef30 {
  position: absolute;
  top: 0;
  left: 6px;
  font-weight: 300;
  display: inline-block;
  width: 185px;
  height: 17px;
  z-index: 2;
}
.frame-parent109 {
  align-self: stretch;
  height:50px;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-wrapper76,
.rectangle-parent67 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent67 {
  align-self: stretch;
  height: 179px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue-100);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  cursor: pointer;
  z-index: 1;
}
.frame-wrapper76 {
  flex: 0.9806;
  padding: 0 var(--padding-9xs) 0 0;
  min-width: 203px;
  max-width: 206px;
}
.frame-child232 {
  width: 202px;
  height: 179px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue-100);
  box-sizing: border-box;
  display: none;
}
.frame-child233,
.frame-child234 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child233 {
  height: 113px;
  flex-shrink: 0;
  display: none;
}
.frame-child234 {
  flex: 1;
  max-height: 100%;
  z-index: 2;
}
.korean-fried-chicken5 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.korean-fried-chicken-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child235,
.frame-child236 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frame-child236 {
  z-index: 2;
}
.frame-parent111 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 82px;
  height: 23px;
}
.lorem-ipsum-dolor22 {
  position: absolute;
  top: 0;
  left: 6px;
  font-weight: 300;
  display: inline-block;
  width: 181px;
  height: 17px;
  z-index: 3;
}
.frame-parent110 {
  align-self: stretch;
  height: 38px;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-wrapper77,
.rectangle-parent68 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent68 {
  align-self: stretch;
  height: 179px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue-100);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.frame-wrapper77 {
  flex: 0.9758;
  padding: 0 var(--padding-8xs) 0 0;
  min-width: 203px;
  max-width: 207px;
}
.frame-child237 {
  width: 202px;
  height: 179px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue-100);
  box-sizing: border-box;
  display: none;
}
.chicken-salad5,
.frame-child238 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child238 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chicken-salad5 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.chicken-salad-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child239 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 82px;
  height: 23px;
  z-index: 1;
}
.this-guinness-beef31 {
  position: absolute;
  top: 0;
  left: 6px;
  font-weight: 300;
  display: inline-block;
  width: 185px;
  height: 17px;
  z-index: 2;
}
.frame-parent112 {
  align-self: stretch;
  height: 38px;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-wrapper78,
.rectangle-parent69 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent69 {
  align-self: stretch;
  height: 179px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue-100);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.frame-wrapper78 {
  flex: 0.9484;
  padding: 0 var(--padding-2xs) 0 0;
  min-width: 209px;
  max-width: 213px;
}
.frame-child240 {
  width: 202px;
  height: 179px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue-100);
  box-sizing: border-box;
  display: none;
}
.aloo-samosa5,
.frame-child241 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child241 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.aloo-samosa5 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.aloo-samosa-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child242 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 82px;
  height: 23px;
  z-index: 1;
}
.this-guinness-beef32 {
  position: absolute;
  top: 0;
  left: 6px;
  font-weight: 300;
  display: inline-block;
  width: 185px;
  height: 17px;
  z-index: 2;
}
.frame-parent113 {
  align-self: stretch;
  height: 38px;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.phheart-fill16 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame-wrapper79,
.rectangle-parent70 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent70 {
  align-self: stretch;
  height: 179px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue-100);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.frame-wrapper79 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  min-width: 198px;
  max-width: 202px;
}
.frame-child243,
.frame-child244 {
  position: relative;
  border-radius: var(--br-xs);
}
.frame-child243 {
  width: 202px;
  height: 179px;
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue-100);
  box-sizing: border-box;
  display: none;
}
.frame-child244 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.chicken-stir-fry5 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.chicken-stir-fry-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child245 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 82px;
  height: 23px;
  z-index: 1;
}
.this-guinness-beef33 {
  position: absolute;
  top: 0;
  left: 6px;
  font-weight: 300;
  display: inline-block;
  width: 185px;
  height: 17px;
  z-index: 2;
}
.frame-parent114 {
  align-self: stretch;
  height: 38px;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-wrapper80,
.rectangle-parent71 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent71 {
  align-self: stretch;
  height: 179px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue-100);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.frame-wrapper80 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  min-width: 198px;
  max-width: 202px;
}
.frame-parent105,
.frame-parent108,
.frame-wrapper75 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.frame-parent108 {
  width: 100%;
  gap: var(--gap-4xs);
}
.frame-parent105,
.frame-wrapper75 {
  width: 100%;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.frame-parent105 {
  width: 1431px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: 31.5px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
.frame-child246 {
  height: 261px;
  width: 1513px;
  position: relative;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  display: none;
  max-width: 100%;
}
.image-7-icon7,
.youtube-icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 1;
}
.image-7-icon7 {
  width: 107px;
  height: 107px;
  object-fit: cover;
}
.follow-us7 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 65px;
  z-index: 1;
}
.follow-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
}
.facebook-icon7,
.instagram-instagram-icon7,
.tiktok-icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.social-media-links2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lgi-9);
}
.recipe-card,
.recipe-list,
.social-media-links2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.recipe-card {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.recipe-list {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-lg-9);
}
.search-icon {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xl);
}
.frame-wrapper81,
.search-icon,
.youtube-parent3 {
  display: flex;
  justify-content: flex-start;
}
.youtube-parent3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-12xs);
}
.frame-wrapper81 {
  width: 155.7px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.about-us8,
.all-rights-reserved7,
.blank-line41,
.blank-line42,
.blank-line43,
.blank-line44,
.blank-line45,
.community-guidelines8,
.contact-us9,
.privacy-policy9 {
  margin: 0;
}
.about-us-privacy-container7 {
  margin: 0;
  width: 278px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child247,
.frame-child248,
.frame-child249,
.frame-child250 {
  height: 30px;
  width: 107px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  cursor: pointer;
}
.frame-child248,
.frame-child249,
.frame-child250 {
  height: 27px;
  width: 115px;
}
.frame-child249,
.frame-child250 {
  height: 26px;
  width: 174px;
}
.frame-child250 {
  height: 37px;
  width: 107px;
}
.rectangle-parent72 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
    var(--padding-105xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.my-recipes {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #fefefe, #eff3f2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 779px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 925px) {
  .frame-parent108 {
    flex-wrap: wrap;
  }
  .rectangle-parent72 {
    flex-wrap: wrap;
    padding-left: var(--padding-43xl);
    padding-right: var(--padding-42xl);
    box-sizing: border-box;
  }
  .my-recipes {
    gap: 389px;
  }
}
@media screen and (max-width: 700px) {
  .frame-parent107 {
    flex-wrap: wrap;
  }
  .figma-layout {
    gap: 34px;
  }
  .figma-layout-wrapper {
    min-width: 100%;
  }
  .frame-parent105 {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .search-recipe3 {
    font-size: var(--font-size-lgi);
  }
  .figma-layout {
    gap: var(--gap-mid);
  }
  .my-recipes1 {
    font-size: var(--font-size-lgi);
  }
  .frame-wrapper76,
  .frame-wrapper77,
  .frame-wrapper78 {
    flex: 1;
  }
  .rectangle-parent72 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .my-recipes {
    gap: 195px;
  }
}
body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-smi: 13px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-sm: 14px;
  --font-size-7xs: 6px;
  --font-size-3xs: 10px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-45xl: 64px;
  --font-size-7xl: 26px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;

  /* Colors */
  --color-white: #fff;
  --color-darkseagreen: #6fb088;
  --color-gray-100: #898989;
  --color-gray-200: #848484;
  --color-gray-300: #777;
  --color-sandybrown: #d5a74f;
  --color-black: #000;
  --color-powderblue-100: #b7d9c4;
  --color-powderblue-200: rgba(183, 217, 196, 0.4);
  --color-khaki: #ffe495;
  --color-darkslategray: #3c3c3c;

  /* Gaps */
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-2xs: 11px;
  --gap-6xs: 7px;
  --gap-4xs: 9px;
  --gap-9xs: 4px;
  --gap-3xl: 22px;
  --gap-73xl: 92px;
  --gap-4xl: 23px;
  --gap-27xl: 46px;
  --gap-12xs: 1px;
  --gap-10xl: 29px;
  --gap-lg: 18px;
  --gap-lgi-9: 19.9px;
  --gap-lgi: 19px;
  --gap-7xs: 6px;
  --gap-25xl: 44px;
  --gap-3xs: 10px;
  --gap-6xl: 25px;
  --gap-xs: 12px;
  --gap-smi: 13px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-19xl: 38px;
  --gap-12xl: 31px;
  --gap-mid: 17px;
  --gap-77xl: 96px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-21xl: 40px;
  --gap-11xs-1: 1.1px;

  /* Paddings */
  --padding-2xs: 11px;
  --padding-sm: 14px;
  --padding-15xl: 34px;
  --padding-6xs: 7px;
  --padding-4xs: 9px;
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-smi: 13px;
  --padding-3xs: 10px;
  --padding-6xl: 25px;
  --padding-4xl: 23px;
  --padding-lg: 18px;
  --padding-31xl: 50px;
  --padding-9xs: 4px;
  --padding-14xl: 33px;
  --padding-17xl: 36px;
  --padding-103xl: 122px;
  --padding-12xl: 31px;
  --padding-105xl: 124px;
  --padding-43xl: 62px;
  --padding-42xl: 61px;
  --padding-12xs: 1px;
  --padding-lg-9: 18.9px;
  --padding-11xs: 2px;
  --padding-10xs-1: 2.1px;
  --padding-10xs: 3px;
  --padding-75xl: 94px;
  --padding-5xl: 24px;
  --padding-8xs: 5px;
  --padding-7xs: 6px;
  --padding-81xl: 100px;
  --padding-95xl: 114px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-7xl: 26px;
  --padding-3xl: 22px;
  --padding-mini: 15px;
  --padding-27xl: 46px;
  --padding-21xl: 40px;
  --padding-82xl: 101px;
  --padding-8xl: 27px;
  --padding-20xl: 39px;
  --padding-47xl: 66px;
  --padding-8xs-1: 4.1px;
  --padding-9xl-6: 28.6px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-4xs: 9px;
  --br-xs: 12px;
  --br-3xs: 10px;
  --br-9xs: 4px;
}
.rectangle-parent72{
  background: linear-gradient(180deg, #efcd69, #d5a74f);
}
.about-us-privacy-container7 a{
  color: white;
  text-decoration: none;
}
.frame-child29 {
  width: 12.563rem;
  height: 14rem;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: none;
}
.vector-icon {
  height: 0.55rem;
  width: 0.55rem;
  position: relative;
  z-index: 1;
}
.vector-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.edit-profile,
.my-recipes1,
.upload {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 3.938rem;
  z-index: 1;
  columns: grey;
}
.my-recipes1,
.upload {
  min-width: 4.25rem;
  cursor: pointer;
  color: grey;
}
.upload {
  min-width: 2.75rem;
  z-index: 2;
}
.my-recipes-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frame-child30 {
  height: 2.188rem;
  width: 9.938rem;
  position: relative;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  display: none;
}
.logout {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 2.688rem;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 3.625rem 0.5rem;
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  flex-direction: row;
  z-index: 1;
}
.frame-parent11,
.group-button,
.group-section,
.options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent11 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-xl);
}
.group-section,
.options {
  background-color: var(--color-white);
}
.group-section {
  flex: 1;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  flex-direction: column;
  padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
  gap: 0.612rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.options {
  width: 12.563rem;
  height: 10.313rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
}
body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}