body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 0.813rem;
  --font-size-sm: 0.875rem;
  --font-size-7xs: 0.375rem;
  --font-size-3xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.188rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-5xs: 0.5rem;
  --font-size-mini: 0.938rem;

  /* Colors */
  --color-white: #fff;
  --color-powderblue: #b7d9c4;
  --color-gray-100: #898989;
  --color-gray-200: #848484;
  --color-gray-300: #777;
  --color-black: #000;
  --color-darkseagreen: #6fb088;
  --color-darkslategray: #3c3c3c;
  --color-khaki: #ffe495;

  /* Gaps */
  --gap-mini: 0.937rem;
  --gap-xl: 1.25rem;
  --gap-12xs: 0.062rem;
  --gap-10xl: 1.812rem;
  --gap-lg: 1.125rem;
  --gap-lgi-9: 1.243rem;
  --gap-5xs: 0.5rem;
  --gap-2xs: 0.687rem;
  --gap-4xs: 0.562rem;
  --gap-3xs: 0.625rem;
  --gap-3xl: 1.375rem;

  /* Paddings */
  --padding-17xl: 2.25rem;
  --padding-103xl: 7.625rem;
  --padding-12xl: 1.937rem;
  --padding-105xl: 7.75rem;
  --padding-xl: 1.25rem;
  --padding-43xl: 3.875rem;
  --padding-42xl: 3.812rem;
  --padding-12xs: 0.062rem;
  --padding-lg-9: 1.181rem;
  --padding-11xs: 0.125rem;
  --padding-10xs-1: 0.131rem;
  --padding-2xl: 1.312rem;
  --padding-23xl: 2.625rem;
  --padding-6xs: 0.437rem;
  --padding-9xs: 0.25rem;
  --padding-7xs: 0.375rem;
  --padding-mini: 0.937rem;
  --padding-27xl: 2.875rem;
  --padding-sm: 0.875rem;
  --padding-5xl: 1.5rem;
  --padding-base: 1rem;
  --padding-3xs: 0.625rem;
  --padding-7xl: 1.625rem;
  --padding-smi: 0.812rem;
  --padding-4xs: 0.562rem;
  --padding-2xs: 0.687rem;
  --padding-8xs: 0.312rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-4xs: 9px;
}
.recipeslogged-in-child,
.tree-view {
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
}
.recipeslogged-in-child {
  width: 64.563rem;
  height: 64.563rem;
  margin: 0 !important;
  bottom: 5.688rem;
  left: -42.25rem;
  background: linear-gradient(
    180deg,
    rgba(183, 217, 196, 0.4),
    rgba(131, 173, 147, 0)
  );
  border: 0 solid var(--color-powderblue);
}
.tree-view {
  top: -18.75rem;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 228, 149, 0.4)
  );
  border: 0 solid var(--color-khaki);
  width: 35.938rem;
  height: 35.938rem;
}
.hi-yeenphen3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 6.563rem;
}
.data-rerouter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.progress-bar-icon {
  height: 2.75rem;
  width: 2.75rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.data-rerouter-parent {
  position: absolute;
  top: 1rem;
  left: 9rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  z-index: 1;
}
.slider {
  height: 17.188rem;
  width: 25.125rem;
  position: absolute;
  margin: 0 !important;
  right: -14.437rem;
  bottom: -3.25rem;
}
.image-6-icon3 {
  height: 4.625rem;
  width: 4.625rem;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.realm3,
.recipe3 {
  margin: 0;
}
.recipe-realm4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 1.438rem;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #d5a74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.parent-linker,
.sibling-combiner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sibling-combiner {
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
}
.parent-linker {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.about3,
.home3,
.recipes3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 2.938rem;
  cursor: pointer;
}
.about3,
.recipes3 {
  min-width: 3.375rem;
}
.recipes3 {
  min-width: 3.938rem;
}
.function-caller,
.value-holder {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.function-caller {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.value-holder {
  width: 19.875rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.output-handler,
.parent-linker-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.parent-linker-parent {
  width: 50.438rem;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.output-handler {
  align-self: stretch;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.search-recipe4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.descendant-sub-trees-child {
  height: 3.125rem;
  width: 33.688rem;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.example-salad2 {
  width: 5.938rem;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 1.125rem;
  position: relative;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.descendant-sub-trees {
  flex: 1;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-5xl);
  min-width: 5.938rem;
  max-width: 100%;
}
.descendant-sub-trees-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 3.125rem;
  right: -9rem;
  bottom: -3.125rem;
  left: 9rem;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.search2 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 3.125rem;
  z-index: 1;
}
.ancestor-sub-trees,
.descendant-sub-trees1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.descendant-sub-trees1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-27xl) var(--padding-sm);
  background-color: transparent;
  position: relative;
}
.ancestor-sub-trees {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.search-recipe-container {
  width: 43.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.input-processor,
.input-processor-wrapper,
.search-recipe-container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input-processor {
  width: 62.25rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.937rem;
}
.input-processor-wrapper {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.frame-child47,
.input-collector {
  position: relative;
  box-sizing: border-box;
}
.input-collector {
  width: 75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
.frame-child47 {
  width: 12.625rem;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  display: none;
}
.beef-stew2,
.frame-child48 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child48 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.beef-stew2 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.control-flow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.signal-receiver-child {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef5 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.signal-receiver {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-child49,
.rectangle-parent13 {
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
}
.rectangle-parent13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  cursor: pointer;
}
.frame-child49 {
  width: 12.625rem;
  position: relative;
  display: none;
}
.beef-stew3,
.frame-child50 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child50 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.beef-stew3 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.beef-stew-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child51 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef6 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent18 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.output-formatter{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
  box-sizing: border-box;
}
.rectangle-parent14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent14 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.output-formatter {
  flex: 0.9806;
  padding: 0 var(--padding-9xs) 0 0;
  gap: var(--gap-lg);
  min-width: 12.688rem;
  max-width: 12.875rem;
}
.phheart-fill-icon2,
.phheart-fill-icon3 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame-child52 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.frame-child53,
.frame-child54 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child53 {
  height: 7.063rem;
  flex-shrink: 0;
  display: none;
}
.frame-child54 {
  flex: 1;
  max-height: 100%;
  z-index: 2;
}
.korean-fried-chicken1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.prioritizer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.uncle-roots-child,
.uncle-roots-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.uncle-roots-item {
  z-index: 2;
}
.uncle-roots {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
}
.lorem-ipsum-dolor3 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.313rem;
  height: 1.063rem;
  z-index: 3;
}
.uncle-roots-parent {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-child55,
.phheart-fill-container {
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
}
.phheart-fill-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 2;
}
.frame-child55 {
  width: 12.625rem;
  position: relative;
  display: none;
}
.frame-child56,
.frame-child57 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child56 {
  height: 7.063rem;
  flex-shrink: 0;
  display: none;
}
.frame-child57 {
  flex: 1;
  max-height: 100%;
  z-index: 2;
}
.korean-fried-chicken2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.korean-fried-chicken-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child58,
.frame-child59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frame-child59 {
  z-index: 2;
}
.frame-parent21 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
}
.lorem-ipsum-dolor4 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.313rem;
  height: 1.063rem;
  z-index: 3;
}
.frame-parent20 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-parent19,
.rectangle-parent15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent15 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.frame-parent19 {
  flex: 0.9758;
  padding: 0 var(--padding-8xs) 0 0;
  gap: var(--gap-lg);
  min-width: 12.688rem;
  max-width: 12.938rem;
}
.frame-child60 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.chicken-salad1,
.frame-child61 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child61 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chicken-salad1 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.value-checker {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.control-transfer-child {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef7 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.control-transfer {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.phheart-fill3 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame-child62,
.rectangle-parent16 {
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
}
.rectangle-parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.frame-child62 {
  width: 12.625rem;
  position: relative;
  display: none;
}
.chicken-salad2,
.frame-child63 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child63 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chicken-salad2 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.chicken-salad-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child64 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef8 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent22 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.parallel-processor,
.rectangle-parent17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent17 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.parallel-processor {
  flex: 0.9573;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-lg);
  min-width: 12.938rem;
  max-width: 13.188rem;
}
.frame-child65 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.aloo-samosa1,
.frame-child66 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child66 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.aloo-samosa1 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.data-transformer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child67 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef9 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent23 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.frame-child68,
.rectangle-parent18 {
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
}
.rectangle-parent18 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.frame-child68 {
  width: 12.625rem;
  position: relative;
  display: none;
}
.aloo-samosa2,
.frame-child69 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child69 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.aloo-samosa2 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.aloo-samosa-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child70 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef10 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent24 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.rectangle-parent19 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.function-composer,
.output-display,
.rectangle-parent19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.output-display {
  align-self: stretch;
  height: 11.188rem;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.function-composer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xl);
  min-width: 12.5rem;
  max-width: 12.75rem;
}
.frame-child71 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.chicken-stir-fry,
.frame-child72 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child72 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chicken-stir-fry {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.flow-controller {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.output-sorter-child {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef11 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.output-sorter {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.data-transformer-inner,
.rectangle-parent20 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent20 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.data-transformer-inner {
  height: 11.188rem;
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
}
.frame-child73,
.frame-child74 {
  position: relative;
  border-radius: var(--br-xs);
}
.frame-child73 {
  width: 12.625rem;
  height: 11.188rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.frame-child74 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.chicken-stir-fry1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.chicken-stir-fry-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child75 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef12 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent25 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.rectangle-parent21 {
  width: 12.625rem;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.data-transformer1,
.input-filter,
.rectangle-parent21 {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.about-us-privacy-container7 a{
  color: white; 
  text-decoration: none;
}
.data-transformer1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  min-width: 12.813rem;
  max-width: 13.063rem;
}
.input-filter {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-4xs);
}
.frame-child76 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.beef-stew4,
.frame-child77 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child77 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.beef-stew4 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.beef-stew-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child78 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef13 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent26 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.phheart-fill4 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.cousin-twice-remove-inner,
.rectangle-parent22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent22 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.cousin-twice-remove-inner {
  flex: 0.9806;
  padding: 0 var(--padding-9xs) 0 0;
  min-width: 12.688rem;
  max-width: 12.875rem;
}
.frame-child79 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.frame-child80,
.frame-child81 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child80 {
  height: 7.063rem;
  flex-shrink: 0;
  display: none;
}
.frame-child81 {
  flex: 1;
  max-height: 100%;
  z-index: 2;
}
.korean-fried-chicken3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.value-processor {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child82,
.frame-child83 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frame-child83 {
  z-index: 2;
}
.frame-parent27 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
}
.lorem-ipsum-dolor5 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.313rem;
  height: 1.063rem;
  z-index: 3;
}
.data-collector {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.input-filter1,
.rectangle-parent23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent23 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.input-filter1 {
  flex: 0.9758;
  padding: 0 var(--padding-8xs) 0 0;
  min-width: 12.688rem;
  max-width: 12.938rem;
}
.frame-child84 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.chicken-salad3,
.frame-child85 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child85 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chicken-salad3 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.clusterer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.merger-child {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef14 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.merger {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.phheart-fill5 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.feature-extractor,
.rectangle-parent24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent24 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.feature-extractor {
  flex: 0.9484;
  padding: 0 var(--padding-2xs) 0 0;
  min-width: 13.063rem;
  max-width: 13.313rem;
}
.frame-child86 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.aloo-samosa3,
.frame-child87 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child87 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.aloo-samosa3 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.enhancer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.indexer-child {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef15 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.indexer {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.aggregator,
.rectangle-parent25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent25 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.aggregator {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  min-width: 12.375rem;
  max-width: 12.625rem;
}
.frame-child88,
.frame-child89 {
  position: relative;
  border-radius: var(--br-xs);
}
.frame-child88 {
  width: 12.625rem;
  height: 11.188rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.frame-child89 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.chicken-stir-fry2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.decoder {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.validator-child {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef16 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.validator {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.rectangle-parent26 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.cousin-twice-remove,
.rectangle-parent26,
.serializer {
  display: flex;
  align-items: flex-start;
}
.serializer {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 12.375rem;
  max-width: 12.625rem;
}
.cousin-twice-remove {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-4xs);
}
.frame-child90 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.beef-stew5,
.frame-child91 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child91 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.beef-stew5 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.beef-stew-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child92 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef17 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent28 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.phheart-fill6 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.cousin-twice-remove-child,
.rectangle-parent27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent27 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.cousin-twice-remove-child {
  flex: 0.9806;
  padding: 0 var(--padding-9xs) 0 0;
  min-width: 12.688rem;
  max-width: 12.875rem;
}
.frame-child93 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.frame-child94,
.frame-child95 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child94 {
  height: 7.063rem;
  flex-shrink: 0;
  display: none;
}
.frame-child95 {
  flex: 1;
  max-height: 100%;
  z-index: 2;
}
.korean-fried-chicken4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.korean-fried-chicken-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child96,
.frame-child97 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frame-child97 {
  z-index: 2;
}
.frame-parent30 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
}
.lorem-ipsum-dolor6 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.313rem;
  height: 1.063rem;
  z-index: 3;
}
.frame-parent29 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.cousin-twice-remove-inner1,
.rectangle-parent28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent28 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.cousin-twice-remove-inner1 {
  flex: 0.9758;
  padding: 0 var(--padding-8xs) 0 0;
  min-width: 12.688rem;
  max-width: 12.938rem;
}
.frame-child98 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.chicken-salad4,
.frame-child99 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child99 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chicken-salad4 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.chicken-salad-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child100 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef18 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent31 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.cousin-twice-remove-inner2,
.rectangle-parent29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent29 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.cousin-twice-remove-inner2 {
  flex: 0.9484;
  padding: 0 var(--padding-2xs) 0 0;
  min-width: 13.063rem;
  max-width: 13.313rem;
}
.frame-child101 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.aloo-samosa4,
.frame-child102 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child102 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.aloo-samosa4 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.aloo-samosa-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child103 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef19 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent32 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.cousin-twice-remove-inner3,
.rectangle-parent30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent30 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.cousin-twice-remove-inner3 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  min-width: 12.375rem;
  max-width: 12.625rem;
}
.frame-child104,
.frame-child105 {
  position: relative;
  border-radius: var(--br-xs);
}
.frame-child104 {
  width: 12.625rem;
  height: 11.188rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.frame-child105 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.chicken-stir-fry3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.chicken-stir-fry-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child106 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef20 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent33 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.cousin-twice-remove-inner4,
.rectangle-parent31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent31 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.cousin-twice-remove-inner4 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  min-width: 12.375rem;
  max-width: 12.625rem;
}
.cousin-twice-remove1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xs);
}
.frame-child107 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.beef-stew6,
.frame-child108 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child108 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.beef-stew6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.beef-stew-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child109 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef21 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent34 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.cousin-twice-remove-inner5,
.rectangle-parent32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent32 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.cousin-twice-remove-inner5 {
  flex: 0.9806;
  padding: 0 var(--padding-9xs) 0 0;
  min-width: 12.688rem;
  max-width: 12.875rem;
}
.frame-child110 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.frame-child111,
.frame-child112 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child111 {
  height: 7.063rem;
  flex-shrink: 0;
  display: none;
}
.frame-child112 {
  flex: 1;
  max-height: 100%;
  z-index: 2;
}
.korean-fried-chicken5 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.korean-fried-chicken-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child113,
.frame-child114 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frame-child114 {
  z-index: 2;
}
.frame-parent36 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
}
.lorem-ipsum-dolor7 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.313rem;
  height: 1.063rem;
  z-index: 3;
}
.frame-parent35 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.cousin-twice-remove-inner6,
.rectangle-parent33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent33 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.cousin-twice-remove-inner6 {
  flex: 0.9758;
  padding: 0 var(--padding-8xs) 0 0;
  min-width: 12.688rem;
  max-width: 12.938rem;
}
.frame-child115 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.chicken-salad5,
.frame-child116 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child116 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chicken-salad5 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.chicken-salad-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child117 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef22 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent37 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.cousin-twice-remove-inner7,
.rectangle-parent34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent34 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.cousin-twice-remove-inner7 {
  flex: 0.9484;
  padding: 0 var(--padding-2xs) 0 0;
  min-width: 13.063rem;
  max-width: 13.313rem;
}
.frame-child118 {
  width: 12.625rem;
  height: 11.188rem;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.aloo-samosa5,
.frame-child119 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child119 {
  align-self: stretch;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.aloo-samosa5 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.aloo-samosa-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child120 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef23 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent38 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.cousin-twice-remove-inner8,
.rectangle-parent35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent35 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.cousin-twice-remove-inner8 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  min-width: 12.375rem;
  max-width: 12.625rem;
}
.frame-child121,
.frame-child122 {
  position: relative;
  border-radius: var(--br-xs);
}
.frame-child121 {
  width: 12.625rem;
  height: 11.188rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  box-sizing: border-box;
  display: none;
}
.frame-child122 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.chicken-stir-fry4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.chicken-stir-fry-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child123 {
  position: absolute;
  top: 0.938rem;
  left: 0;
  width: 5.125rem;
  height: 1.438rem;
  z-index: 1;
}
.this-guinness-beef24 {
  position: absolute;
  top: 0;
  left: 0.375rem;
  font-weight: 300;
  display: inline-block;
  width: 11.563rem;
  height: 1.063rem;
  z-index: 2;
}
.frame-parent39 {
  align-self: stretch;
  height: 2.375rem;
  position: relative;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.cousin-twice-remove-inner9,
.rectangle-parent36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent36 {
  align-self: stretch;
  height: 11.188rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-powderblue);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-12xs);
}
.cousin-twice-remove-inner9 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  min-width: 12.375rem;
  max-width: 12.625rem;
}
.cousin-twice-remove2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xs);
}
.cousin-twice-remove-parent,
.error-handler {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.cousin-twice-remove-parent {
  align-self: stretch;
}
.error-handler {
  width: 68.313rem;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.load-more {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(180deg, #b7d9c4, #83ad93);
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 4.75rem;
}
.compressor {
  width: 67.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-2xs);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-child124 {
  height: 16.313rem;
  width: 94.563rem;
  position: relative;
  background: linear-gradient(180deg, #efcd69, #d5a74f);
  display: none;
  max-width: 100%;
}
.image-7-icon3,
.youtube-icon4 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  z-index: 1;
}
.image-7-icon3 {
  width: 6.688rem;
  height: 6.688rem;
  object-fit: contain;
}
.follow-us3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 4.063rem;
  z-index: 1;
}
.labeler {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
}
.facebook-icon3,
.instagram-instagram-icon3,
.tiktok-icon3 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  min-height: 1.5rem;
  z-index: 1;
}
.quaternion-transform {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lgi-9);
}
.quaternion-transform,
.tagger,
.tokenizer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tagger {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.tokenizer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-lg-9);
}
.formatter {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xl);
}
.decryptor,
.formatter,
.hasher {
  display: flex;
  justify-content: flex-start;
}
.hasher {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-12xs);
}
.decryptor {
  width: 9.731rem;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.about-us4,
.all-rights-reserved3,
.blank-line20,
.blank-line21,
.blank-line22,
.blank-line23,
.blank-line24,
.community-guidelines3,
.contact-us3,
.privacy-policy3 {
  margin: 0;
}
.about-us-privacy-container3 {
  margin: 0;
  width: 17.375rem;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child125,
.frame-child126,
.frame-child127,
.frame-child128 {
  height: 1.875rem;
  width: 6.688rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  cursor: pointer;
}
.frame-child126,
.frame-child127,
.frame-child128 {
  height: 1.688rem;
  width: 7.188rem;
}
.frame-child127,
.frame-child128 {
  height: 1.625rem;
  width: 10.875rem;
}
.frame-child128 {
  height: 2.313rem;
  width: 6.688rem;
}
.rectangle-parent37 {
  margin-right: -14.5rem;
  width: 94.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
    var(--padding-105xl);
  box-sizing: border-box;
  max-width: 119%;
  flex-shrink: 0;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.recipeslogged-in {
  width: 100%;
  height: 99.813rem;
  position: relative;
  background: linear-gradient(180deg, #fefefe, #eff3f2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-smi) 14.437rem 18.937rem 0;
  box-sizing: border-box;
  gap: 2.375rem;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .recipeslogged-in {
    padding-right: 7.188rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .cousin-twice-remove,
  .cousin-twice-remove1,
  .cousin-twice-remove2 {
    flex-wrap: wrap;
  }
  .rectangle-parent37 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .value-holder {
    display: none;
  }
  .parent-linker-parent {
    width: 30.563rem;
  }
  .input-processor {
    gap: var(--gap-mini);
  }
  .rectangle-parent37 {
    padding-left: var(--padding-43xl);
    padding-right: var(--padding-42xl);
    box-sizing: border-box;
  }
  .recipeslogged-in {
    height: auto;
    gap: 1.188rem;
    padding-right: 3.563rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .search-recipe4 {
    font-size: var(--font-size-lgi);
  }
  .cousin-twice-remove-child,
  .cousin-twice-remove-inner,
  .cousin-twice-remove-inner1,
  .cousin-twice-remove-inner2,
  .cousin-twice-remove-inner5,
  .cousin-twice-remove-inner6,
  .cousin-twice-remove-inner7,
  .feature-extractor,
  .frame-parent19,
  .input-filter1,
  .output-formatter,
  .parallel-processor {
    flex: 1;
  }
  .rectangle-parent37 {
    padding-left: var(--padding-xl);
  }
  .recipeslogged-in,
  .rectangle-parent37 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
.frame-child29 {
  width: 12.563rem;
  height: 14rem;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: none;
}
.vector-icon {
  height: 0.55rem;
  width: 0.55rem;
  position: relative;
  z-index: 1;
}
.vector-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.edit-profile,
.my-recipes,
.upload {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 3.938rem;
  z-index: 1;
}
.my-recipes,
.upload {
  min-width: 4.25rem;
  cursor: pointer;
}
.upload {
  min-width: 2.75rem;
  z-index: 2;
}
.my-recipes-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frame-child30 {
  height: 2.188rem;
  width: 9.938rem;
  position: relative;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  display: none;
}
.logout {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 2.688rem;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 3.625rem 0.5rem;
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  flex-direction: row;
  z-index: 1;
}
.frame-parent11,
.group-button,
.group-section,
.options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent11 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-xl);
}
.group-section,
.options {
  background-color: var(--color-white);
}
.group-section {
  flex: 1;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  flex-direction: column;
  padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
  gap: 0.612rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.options {
  width: 12.563rem;
  height: 10.313rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
}
.rectangle-parent37{
  background: linear-gradient(180deg, #efcd69, #d5a74f);
}
.about-us-privacy-container3 a{
  color:white;
  text-decoration: none;
}
.load-more{
  -webkit-background-clip: text;
}
.edit-profile{
  color: grey;
}