body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  .edit-profile{
    color:grey
  }
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-base: 16px;
    --font-size-smi: 13px;
    --font-size-xl: 20px;
    --font-size-mini: 15px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-sm: 14px;
    --font-size-7xs: 6px;
    --font-size-3xs: 10px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
    --font-size-45xl: 64px;
    --font-size-7xl: 26px;
    --font-size-19xl: 38px;
    --font-size-32xl: 51px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkseagreen: #6fb088;
    --color-gray-100: #898989;
    --color-gray-200: #848484;
    --color-gray-300: #777;
    --color-sandybrown: #d5a74f;
    --color-black: #000;
    --color-powderblue-100: #b7d9c4;
    --color-powderblue-200: rgba(183, 217, 196, 0.4);
    --color-khaki: #ffe495;
    --color-darkslategray: #3c3c3c;
  
    /* Gaps */
    --gap-mini: 15px;
    --gap-xl: 20px;
    --gap-2xs: 11px;
    --gap-6xs: 7px;
    --gap-4xs: 9px;
    --gap-9xs: 4px;
    --gap-3xl: 22px;
    --gap-73xl: 92px;
    --gap-4xl: 23px;
    --gap-27xl: 46px;
    --gap-12xs: 1px;
    --gap-10xl: 29px;
    --gap-lg: 18px;
    --gap-lgi-9: 19.9px;
    --gap-lgi: 19px;
    --gap-25xl: 44px;
    --gap-3xs: 10px;
    --gap-xs: 12px;
    --gap-5xs: 8px;
    --gap-12xl: 31px;
    --gap-77xl: 96px;
    --gap-29xl: 48px;
    --gap-5xl: 24px;
  
    /* Paddings */
    --padding-2xs: 11px;
    --padding-sm: 14px;
    --padding-15xl: 34px;
    --padding-6xs: 7px;
    --padding-4xs: 9px;
    --padding-xl: 20px;
    --padding-5xs: 8px;
    --padding-smi: 13px;
    --padding-3xs: 10px;
    --padding-6xl: 25px;
    --padding-4xl: 23px;
    --padding-lg: 18px;
    --padding-31xl: 50px;
    --padding-9xs: 4px;
    --padding-14xl: 33px;
    --padding-17xl: 36px;
    --padding-103xl: 122px;
    --padding-12xl: 31px;
    --padding-105xl: 124px;
    --padding-43xl: 62px;
    --padding-42xl: 61px;
    --padding-12xs: 1px;
    --padding-lg-9: 18.9px;
    --padding-11xs: 2px;
    --padding-10xs-1: 2.1px;
    --padding-10xs: 3px;
    --padding-75xl: 94px;
    --padding-5xl: 24px;
    --padding-8xs: 5px;
    --padding-7xs: 6px;
    --padding-81xl: 100px;
    --padding-95xl: 114px;
    --padding-base: 16px;
    --padding-mid: 17px;
    --padding-7xl: 26px;
    --padding-mini: 15px;
    --padding-27xl: 46px;
    --padding-21xl: 40px;
    --padding-20xl: 39px;
    --padding-47xl: 66px;
  
    /* Border radiuses */
    --br-xl: 20px;
    --br-4xs: 9px;
    --br-xs: 12px;
    --br-3xs: 10px;
    --br-9xs: 4px;
  }
  .privacy-policy-child {
    width: 100%;
    height: 241px;
    position: absolute;
    margin: 0 !important;
    top: 95px;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .image-6-icon4 {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm4,
  .recipe4 {
    margin: 0;
  }
  .recipe-realm4 {
    position: relative;
    line-height: 23px;
    font-weight: 600;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .image-6-parent1,
  .recipe-realm-wrapper1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .recipe-realm-wrapper1 {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .image-6-parent1 {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .about4,
  .home4,
  .recipes5 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .about4,
  .recipes5 {
    min-width: 54px;
  }
  .recipes5 {
    min-width: 63px;
  }
  .frame-wrapper32,
  .home-container {
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  .home-container {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .frame-wrapper32 {
    width: 318px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
  }
  .content-container,
  .frame-parent50 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent50 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .content-container {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-20xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-xl);
    font-family: var(--font-poppins);
  }
  .privacy-policy5 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    z-index: 2;
  }
  .content-container-parent {
    width: 846px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-77xl);
    min-width: 846px;
    max-width: 100%;
  }
  .frame-child122 {
    position: absolute;
    top: -300px;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid var(--color-khaki);
    box-sizing: border-box;
    width: 575px;
    height: 575px;
  }
  .hi-yeenphen2 {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 105px;
  }
  .hi-yeenphen-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child123 {
    height: 44px;
    width: 44px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
  }
  .frame-parent51 {
    position: absolute;
    top: 16px;
    left: 144px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
    z-index: 1;
  }
  .ellipse-parent3 {
    align-self: stretch;
    height: 275px;
    position: relative;
  }
  .frame-parent49,
  .frame-wrapper33 {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-wrapper33 {
    width: 402px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-9xs);
    min-width: 402px;
    font-size: var(--font-size-base);
  }
  .frame-parent49 {
    width: 1470px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 0 19px var(--padding-xl);
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-45xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .we-do-not,
  .your-uploaded-recipes {
    margin: 0;
  }
  .we-take-steps,
  .your-uploaded-recipes-container {
    position: absolute;
    margin: 0 !important;
    left: 66px;
    display: inline-block;
    z-index: 1;
  }
  .your-uploaded-recipes-container {
    width: 1311px;
    height: 78px;
    top: 764px;
  }
  .we-take-steps {
    width: 1268px;
    bottom: 847px;
  }
  .any-changes-to,
  .the-updated-policy {
    margin: 0;
  }
  .any-changes-to-container {
    width: 1268px;
    position: absolute;
    margin: 0 !important;
    bottom: 291px;
    left: 66px;
    display: inline-block;
    z-index: 1;
  }
  .welcome-to-our {
    align-self: stretch;
    position: relative;
  }
  .how-information-is {
    margin: 0;
    width: 494px;
    position: relative;
    font-size: var(--font-size-11xl);
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .frame-wrapper34,
  .welcome-to-our-recipe-uploadin-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .welcome-to-our-recipe-uploadin-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-mini);
  }
  .frame-wrapper34 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-10xs);
    box-sizing: border-box;
  }
  .we-collect-information {
    align-self: stretch;
    position: relative;
  }
  .purpose-of-collection {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .purpose-of-collection-wrapper,
  .we-collect-information-through-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .purpose-of-collection-wrapper {
    width: 491px;
    flex-direction: row;
    padding: 0 var(--padding-10xs);
    box-sizing: border-box;
    font-size: var(--font-size-11xl);
  }
  .we-collect-information-through-parent {
    align-self: stretch;
    flex-direction: column;
    gap: 19.6px;
  }
  .blank-line24 {
    margin: 0;
  }
  .we-collect-data {
    margin: 0;
    font-size: var(--font-size-lgi);
  }
  .we-collect-data-container {
    height: 19.4px;
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .frame-parent53,
  .we-collect-data-to-allow-you-t-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .we-collect-data-to-allow-you-t-wrapper {
    width: 1038px;
    flex-direction: row;
    padding: 0 var(--padding-10xs);
    font-size: var(--font-size-7xl);
  }
  .frame-parent53 {
    width: 1314px;
    flex-direction: column;
    padding: 0 0 20.1px;
    gap: 23.1px;
  }
  .data-usage1 {
    margin: 0;
  }
  .data-usage {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .data-usage-wrapper {
    width: 266px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs);
    box-sizing: border-box;
    font-size: var(--font-size-11xl);
  }
  .frame-parent52,
  .privacy-policy-inner {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent52 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-lgi);
  }
  .privacy-policy-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 var(--padding-47xl) 0 63px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-lgi);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .frame-child124 {
    width: 1033px;
    height: 1033px;
    position: absolute;
    margin: 0 !important;
    bottom: -58px;
    left: -454px;
    border-radius: 50%;
    background-color: var(--color-powderblue-200);
    border: 0 solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .data-security1 {
    margin: 0;
  }
  .data-security {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .data-security-wrapper {
    width: 339px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .please-contact-us,
  .you-have-the {
    margin: 0;
  }
  .you-have-the-container {
    width: 1291px;
    position: absolute;
    margin: 0 !important;
    top: 60px;
    right: -875px;
    display: inline-block;
    z-index: 1;
  }
  .please-contact-us1,
  .you-have-the1 {
    margin: 0;
  }
  .you-have-the-container1 {
    width: 1291px;
    position: absolute;
    margin: 0 !important;
    right: -875px;
    bottom: 57px;
    display: inline-block;
    z-index: 1;
  }
  .be-mindful-of1 {
    margin: 0;
  }
  .be-mindful-of-container1 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
  }
  .user-rights1 {
    margin: 0;
  }
  .cookies-and-tracking,
  .user-rights {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
  }
  .user-rights-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 81px;
    max-width: 100%;
  }
  .frame-wrapper35 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-9xs);
    box-sizing: border-box;
  }
  .be-mindful-of-copyright-parent,
  .frame-wrapper35,
  .you-have-the-right-to-edit-or-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .be-mindful-of-copyright-parent {
    flex: 1;
    flex-direction: column;
    gap: 85px;
    font-size: var(--font-size-11xl);
  }
  .you-have-the-right-to-edit-or-parent {
    width: 420px;
    flex-direction: row;
    position: relative;
  }
  .policy-changes {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .policy-changes-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-9xs);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-11xl);
  }
  .blank-line25,
  .we-use-cookies {
    margin: 0;
  }
  .we-use-cookies-container {
    width: 1291px;
    position: absolute;
    margin: 0 !important;
    right: -751px;
    bottom: 64px;
    display: inline-block;
    z-index: 1;
  }
  .ellipse-parent4,
  .frame-parent55 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
  }
  .frame-parent55 {
    align-self: stretch;
    gap: var(--gap-73xl);
    font-size: var(--font-size-lgi);
  }
  .ellipse-parent4 {
    width: 664px;
    padding: var(--padding-20xl) var(--padding-43xl) 364px;
    box-sizing: border-box;
    gap: 89px;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .frame-child125,
  .frame-child126,
  .frame-child127,
  .frame-child128 {
    height: 30px;
    width: 107px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child126,
  .frame-child127,
  .frame-child128 {
    height: 27px;
    width: 115px;
  }
  .frame-child127,
  .frame-child128 {
    height: 26px;
    width: 174px;
  }
  .frame-child128 {
    height: 37px;
    width: 107px;
  }
  .frame-child129 {
    height: 261px;
    width: 1513px;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .image-7-icon4,
  .youtube-icon5 {
    height: 24px;
    width: 24px;
    position: relative;
    z-index: 1;
  }
  .image-7-icon4 {
    width: 107px;
    height: 107px;
    object-fit: cover;
  }
  .follow-us4 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 65px;
    z-index: 1;
  }
  .upload-recipe-instructions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
  }
  .facebook-icon4,
  .instagram-instagram-icon4,
  .tiktok-icon4 {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .facebook-group,
  .upload-recipe-instructions-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .facebook-group {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-lgi-9);
  }
  .upload-recipe-instructions-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .frame-wrapper36 {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 var(--padding-lg-9);
  }
  .frame-wrapper36,
  .image-7-parent1,
  .social-media-logos {
    display: flex;
    justify-content: flex-start;
  }
  .image-7-parent1 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-10xl);
  }
  .social-media-logos {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-12xs);
  }
  .social-media-logos-wrapper {
    width: 155.7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us5,
  .all-rights-reserved4,
  .blank-line26,
  .blank-line27,
  .blank-line28,
  .blank-line29,
  .blank-line30,
  .community-guidelines5,
  .contact-us4,
  .privacy-policy6 {
    margin: 0;
  }
  .about-us-privacy-container4 {
    width: 278px;
    position: relative;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent56 {
    margin-left: -1px;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
      var(--padding-105xl);
    box-sizing: border-box;
    flex-shrink: 0;
    debug_commit: 1de1738;
    max-width: 100%;
    gap: var(--gap-xl);
    z-index: 1;
    margin-top: -256px;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .frame-parent54,
  .privacy-policy4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .frame-parent54 {
    align-self: stretch;
    align-items: flex-start;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-11xl);
  }
  .privacy-policy4 {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    align-items: flex-end;
    gap: 61px;
    line-height: normal;
    letter-spacing: normal;
    font-size: var(--font-size-lgi);
  }
  @media screen and (max-width: 1300px) {
    .content-container-parent,
    .frame-parent50,
    .frame-wrapper33 {
      flex: 1;
    }
    .frame-parent49 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1100px) {
    .content-container-parent {
      gap: var(--gap-29xl);
      min-width: 100%;
    }
    .ellipse-parent4 {
      padding-top: var(--padding-6xl);
      padding-bottom: 237px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 800px) {
    .frame-wrapper32 {
      display: none;
    }
    .privacy-policy5 {
      font-size: var(--font-size-32xl);
    }
    .data-usage,
    .how-information-is,
    .purpose-of-collection {
      font-size: var(--font-size-5xl);
    }
    .privacy-policy-inner {
      padding-left: var(--padding-12xl);
      padding-right: var(--padding-14xl);
      box-sizing: border-box;
    }
    .be-mindful-of-container1,
    .cookies-and-tracking,
    .data-security,
    .policy-changes,
    .user-rights {
      font-size: var(--font-size-5xl);
    }
    .frame-parent55 {
      gap: var(--gap-27xl);
    }
    .ellipse-parent4 {
      gap: var(--gap-25xl);
      padding: var(--padding-xl) var(--padding-12xl) 154px;
      box-sizing: border-box;
    }
    .frame-parent56 {
      flex-wrap: wrap;
      padding-left: var(--padding-43xl);
      padding-right: var(--padding-42xl);
      box-sizing: border-box;
    }
    .privacy-policy4 {
      gap: 30px;
    }
  }
  @media screen and (max-width: 450px) {
    .privacy-policy5 {
      font-size: var(--font-size-19xl);
    }
    .content-container-parent {
      gap: var(--gap-5xl);
    }
    .frame-wrapper33 {
      min-width: 100%;
    }
    .be-mindful-of-container1,
    .cookies-and-tracking,
    .data-security,
    .data-usage,
    .how-information-is,
    .purpose-of-collection,
    .user-rights {
      font-size: var(--font-size-lg);
    }
    .user-rights-parent {
      gap: 40px;
    }
    .be-mindful-of-copyright-parent {
      gap: 42px;
    }
    .policy-changes {
      font-size: var(--font-size-lg);
    }
    .frame-parent55 {
      gap: var(--gap-4xl);
    }
    .ellipse-parent4 {
      gap: var(--gap-3xl);
    }
    .frame-parent56 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .privacy-policy4 {
      gap: var(--gap-mini);
    }
  }
     /*footer*/
  .group-footer {
    align-self: stretch;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
      var(--padding-105xl);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .frame-child24 {
    height: 16.313rem;
    width: 94.563rem;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .youtube-icon1 {
    height: 1.5rem;
    width: 1.5rem;
  }
  .follow-us,
  .image-7-icon,
  .youtube-icon1 {
    position: relative;
    z-index: 1;
  }
  .image-7-icon {
    width: 6.688rem;
    height: 6.688rem;
    object-fit: contain;
  }
  .follow-us {
    margin: 0;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 4.063rem;
  }
  .follow-us-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 var(--padding-10xs-1);
  }
  .facebook-icon,
  .instagram-instagram-icon,
  .tiktok-icon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    min-height: 1.5rem;
    z-index: 1;
  }
  .facebook-parent {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-lgi-9);
  }
  .facebook-parent,
  .follow-button,
  .follow-button-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .follow-button {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .follow-button-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-lg-9);
  }
  .image-placeholder {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-10xl);
  }
  .facebook-instagram,
  .image-placeholder,
  .youtube-icon {
    display: flex;
    justify-content: flex-start;
  }
  .facebook-instagram {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-12xs);
  }
  .youtube-icon {
    width: 9.731rem;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us1,
  .all-rights-reserved,
  .blank-line,
  .blank-line1,
  .blank-line2,
  .blank-line3,
  .blank-line4,
  .community-guidelines,
  .contact-us,
  .privacy-policy {
    margin: 0;
  }
  .about-us-privacy-container {
    margin: 0;
    width: 17.375rem;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child25,
  .frame-child26,
  .frame-child27,
  .frame-child28 {
    height: 1.875rem;
    width: 6.688rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child26,
  .frame-child27,
  .frame-child28 {
    height: 1.688rem;
    width: 7.188rem;
  }
  .frame-child27,
  .frame-child28 {
    height: 1.625rem;
    width: 10.875rem;
  }
  .frame-child28 {
    height: 2.313rem;
    width: 6.688rem;
  }
  .about-us-privacy-container a {
    color: white;
    text-decoration: none;
  }
  /*popup*/
  .frame-child29 {
    width: 12.563rem;
    height: 14rem;
    position: relative;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    display: none;
  }
  .vector-icon {
    height: 0.55rem;
    width: 0.55rem;
    position: relative;
    z-index: 1;
  }
  .vector-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .edit-profile,
  .my-recipes,
  .upload {
    
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.938rem;
    z-index: 1;
    columns: grey;
  }
  .my-recipes,
  .upload {
    min-width: 4.25rem;
    cursor: pointer;
    color: grey;
  }
  .upload {
    min-width: 2.75rem;
    z-index: 2;
  }
  .my-recipes-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
  }
  .frame-child30 {
    height: 2.188rem;
    width: 9.938rem;
    position: relative;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: none;
  }
  .logout {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 2.688rem;
    z-index: 1;
  }
  .group-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) 3.625rem 0.5rem;
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    flex-direction: row;
    z-index: 1;
  }
  .frame-parent11,
  .group-button,
  .group-section,
  .options {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent11 {
    align-self: stretch;
    flex-direction: column;
    padding: 0 var(--padding-4xs) 0 0;
    gap: var(--gap-xl);
  }
  .group-section,
  .options {
    background-color: var(--color-white);
  }
  .group-section {
    flex: 1;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    flex-direction: column;
    padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
    gap: 0.612rem;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .options {
    width: 12.563rem;
    height: 10.313rem;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
    max-width: 90%;
    max-height: 90%;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  