.image-5-icon1 {
    width: 28.313rem;
    height: 29.125rem;
    position: absolute;
    margin: 0 !important;
    top: 5.625rem;
    right: 33rem;
    object-fit: contain;
    z-index: 1;
  }
  .image-6-icon6 {
    height: 4.625rem;
    width: 4.625rem;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm7,
  .recipe7 {
    margin: 0;
  }
  .recipe-realm7 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.438rem;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .slide-caption {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .inner-content,
  .slide-caption,
  .slide-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .inner-content {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .slide-content {
    flex-direction: column;
    padding: var(--padding-smi) 0 0;
    font-size: var(--font-size-xl);
  }
  .navigation-child {
    width: calc(100% - 27px);
    height: 35.938rem;
    position: absolute;
    margin: 0 !important;
    top: -17.937rem;
    right: 1.688rem;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid var(--color-khaki);
    box-sizing: border-box;
  }
  .home7,
  .recipes7 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 2.938rem;
    cursor: pointer;
    z-index: 1;
  }
  .recipes7 {
    min-width: 3.938rem;
  }
  .menu-links {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-8xl);
    margin-top: -1.5rem;
  }
  .about7 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 3.375rem;
    cursor: pointer;
    z-index: 1;
  }
  .menu-links1,
  .navigation {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .menu-links1 {
    width: 18.875rem;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    margin-top: -1.5rem;
  }
  .navigation {
    height: 18rem;
    width: 37.625rem;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-7xl) var(--padding-101xl) var(--padding-7xl)
      var(--padding-118xl);
    position: relative;
    max-width: 100%;
  }
  .hi-yeenphen1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 6.563rem;
  }
  .group-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) 3.625rem 0.5rem;
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    flex-direction: row;
    z-index: 1;
  }
  .greeting-bubble {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child147 {
    height: 2.75rem;
    width: 2.75rem;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
  }
  .greeting-bubble-parent {
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-4xs);
  }
  .carousel-slide,
  .greeting-bubble-parent,
  .user-greeting {
    display: flex;
    align-items: flex-start;
  }
  .user-greeting {
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-base) 0 0;
  }
  .carousel-slide {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .search-recipe3 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.4),
      rgba(131, 173, 147, 0)
    );
    border: 0 solid var(--color-powderblue-100);
    box-sizing: border-box;
  }
  .search-recipe4 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    z-index: 1;
  }
  .frame-child148 {
    height: 3.125rem;
    width: 33.688rem;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .example-salad3 {
    width: 5.938rem;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    background-color: transparent;
    height: 1.125rem;
    position: relative;
    color: var(--color-gray-200);
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    z-index: 2;
  }
  .frame-child149,
  .rectangle-parent45 {
    border-radius: var(--br-4xs);
    z-index: 1;
  }
  .rectangle-parent45 {
    flex: 1;
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-5xl);
    max-width: 100%;
  }
  .frame-child149 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 3.125rem;
    right: -9rem;
    bottom: -3.125rem;
    left: 9rem;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .search3 {
    position: relative;
    font-weight: 600;
    display: inline-block;
    z-index: 2;
  }
  .rectangle-parent46,
  .search-input2,
  .search-suggestions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent46 {
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-27xl) var(--padding-sm);
    position: relative;
  }
  .search-input2,
  .search-suggestions {
    max-width: 100%;
  }
  .search-suggestions {
    width: 43.375rem;
    flex-direction: row;
    gap: var(--gap-2xs);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-white);
  }
  .search-input2 {
    width: 64.563rem;
    flex-direction: column;
    padding: var(--padding-261xl) var(--padding-144xl) 41.187rem;
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-5xs);
  }
  .search-bar {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    font-size: var(--font-size-5xl);
    color: var(--color-darkslategray);
  }
  .image-carousel,
  .image-carousel-wrapper,
  .search-bar {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .image-carousel {
    width: 81.938rem;
    flex-direction: column;
    justify-content: flex-start;
  }
  .image-carousel-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .frame-child150 {
    height: 16.313rem;
    width: 94.563rem;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .image-7-icon8,
  .youtube-icon7 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    z-index: 1;
  }
  .image-7-icon8 {
    width: 6.688rem;
    height: 6.688rem;
    object-fit: cover;
  }
  .follow-us8 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 4.063rem;
    z-index: 1;
  }
  .follow-us-wrapper3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs);
  }
  .facebook-icon7,
  .instagram-instagram-icon7,
  .tiktok-icon7 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    min-height: 1.5rem;
    z-index: 1;
  }
  .social-links {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-lgi-9);
  }
  .frame-parent52,
  .social-links,
  .youtube-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent52 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .youtube-details {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-lg);
  }
  .youtube-content {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-10xl);
  }
  .social-media,
  .youtube-content,
  .youtube-parent1 {
    display: flex;
    justify-content: flex-start;
  }
  .youtube-parent1 {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-12xs);
  }
  .social-media {
    width: 9.731rem;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us8,
  .all-rights-reserved7,
  .blank-line41,
  .blank-line42,
  .blank-line43,
  .blank-line44,
  .blank-line45,
  .community-guidelines9,
  .contact-us7,
  .privacy-policy9 {
    margin: 0;
  }
  .about-us-privacy-container7 {
    margin: 0;
    width: 17.375rem;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child151,
  .frame-child152,
  .frame-child153,
  .frame-child154 {
    height: 1.875rem;
    width: 6.688rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    cursor: pointer;
  }
  .frame-child29 {
    border: 1px solid white;
    width: 12.563rem;
    height: 14rem;
    position: relative;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    display: none;
  }
  .frame-child152,
  .frame-child153,
  .frame-child154 {
    height: 1.688rem;
    width: 7.188rem;
  }
  .frame-child153,
  .frame-child154 {
    height: 1.625rem;
    width: 10.875rem;
  }
  .frame-child154 {
    height: 2.313rem;
    width: 6.688rem;
  }
  .rectangle-parent47 {
    align-self: stretch;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-17xl) var(--padding-103xl) var(--padding-12xl)
      var(--padding-105xl);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .homeloggedin {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-mini);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1025px) {
    .carousel-slide {
      flex-wrap: wrap;
    }
    .search-input2 {
      padding: var(--padding-163xl) var(--padding-62xl) 26.75rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 975px) {
    .rectangle-parent47 {
      padding-left: var(--padding-43xl);
      padding-right: var(--padding-42xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 725px) {
    .navigation {
      padding-left: var(--padding-49xl);
      padding-right: var(--padding-41xl);
      box-sizing: border-box;
    }
    .search-suggestions {
      display: none;
    }
    .search-input2 {
      padding: var(--padding-99xl) var(--padding-21xl) 17.375rem;
      box-sizing: border-box;
    }
    .rectangle-parent47 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media screen and (max-width: 450px) {
    .recipe-realm7 {
      font-size: var(--font-size-base);
      line-height: 1.125rem;
    }
    .navigation {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .search-recipe4 {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent47 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}
.options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 0.75rem;
  --font-size-base: 1rem;
  --font-size-smi: 0.813rem;
  --font-size-lgi: 1.188rem;
  --font-size-11xl: 1.875rem;
  --font-size-lg: 1.125rem;
  --font-size-5xl: 1.5rem;
  --font-size-45xl: 4rem;
  --font-size-xl: 1.25rem;
  --font-size-7xl: 1.625rem;
  --font-size-19xl: 2.375rem;
  --font-size-32xl: 3.188rem;
  --font-size-sm: 0.875rem;
  --font-size-7xs: 0.375rem;
  --font-size-3xs: 0.625rem;
  --font-size-mini: 0.938rem;

  /* Colors */
  --color-white: #fff;
  --color-sandybrown: #d5a74f;
  --color-gray-100: #898989;
  --color-gray-200: #848484;
  --color-gray-300: #777;
  --color-black: #000;
  --color-powderblue-100: #b7d9c4;
  --color-powderblue-200: rgba(183, 217, 196, 0.4);
  --color-khaki: #ffe495;
  --color-darkseagreen: #6fb088;
  --color-darkslategray: #3c3c3c;

  /* Gaps */
  --gap-3xl: 1.375rem;
  --gap-6xs: 0.437rem;
  --gap-xl: 1.25rem;
  --gap-9xs: 0.25rem;
  --gap-12xs: 0.062rem;
  --gap-10xl: 1.812rem;
  --gap-lg: 1.125rem;
  --gap-lgi-9: 1.243rem;
  --gap-lgi: 1.187rem;
  --gap-19xl: 2.375rem;
  --gap-4xs: 0.562rem;
  --gap-29xl: 3rem;
  --gap-3xs: 0.625rem;
  --gap-smi: 0.812rem;
  --gap-77xl: 6rem;
  --gap-5xl: 1.5rem;
  --gap-mini: 0.937rem;
  --gap-5xs: 0.5rem;
  --gap-2xs: 0.687rem;
  --gap-6xl: 1.562rem;
  --gap-12xl: 1.937rem;

  /* Paddings */
  --padding-3xs: 0.625rem;
  --padding-14xl: 2.062rem;
  --padding-15xl: 2.125rem;
  --padding-4xs: 0.562rem;
  --padding-xl: 1.25rem;
  --padding-5xs: 0.5rem;
  --padding-4xl: 1.437rem;
  --padding-6xs: 0.437rem;
  --padding-7xs: 0.375rem;
  --padding-17xl: 2.25rem;
  --padding-103xl: 7.625rem;
  --padding-12xl: 1.937rem;
  --padding-105xl: 7.75rem;
  --padding-43xl: 3.875rem;
  --padding-42xl: 3.812rem;
  --padding-12xs: 0.062rem;
  --padding-lg-9: 1.181rem;
  --padding-11xs: 0.125rem;
  --padding-10xs-1: 0.131rem;
  --padding-8xl: 1.687rem;
  --padding-11xl: 1.875rem;
  --padding-2xl: 1.312rem;
  --padding-xs: 0.75rem;
  --padding-7xl: 1.625rem;
  --padding-smi: 0.812rem;
  --padding-20xl: 2.437rem;
  --padding-sm: 0.875rem;
  --padding-99xl: 7.375rem;
  --padding-5xl: 1.5rem;
  --padding-6xl: 1.562rem;
  --padding-9xs: 0.25rem;
  --padding-47xl: 4.125rem;
  --padding-10xs: 0.187rem;
  --padding-8xs: 0.312rem;
  --padding-81xl: 6.25rem;
  --padding-95xl: 7.125rem;
  --padding-base: 1rem;
  --padding-mid: 1.062rem;
  --padding-261xl: 17.5rem;
  --padding-144xl: 10.187rem;
  --padding-21xl: 2.5rem;
  --padding-163xl: 11.375rem;
  --padding-62xl: 5.062rem;
  --padding-mini: 0.937rem;
  --padding-27xl: 2.875rem;
  --padding-101xl: 7.5rem;
  --padding-118xl: 8.562rem;
  --padding-49xl: 4.25rem;
  --padding-41xl: 3.75rem;
  --padding-31xl: 3.125rem;
  --padding-8xs-1: 0.256rem;
  --padding-9xl-6: 1.787rem;
  --padding-75xl: 5.875rem;
  --padding-lg: 1.125rem;

  /* Border radiuses */
  --br-xl: 20px;
  --br-xs: 12px;
  --br-4xs: 9px;
  --br-9xs: 4px;
  --br-3xs: 10px;
}

.recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -40rem;
}

.new_recipes{
    display: flex;
    
    width: 100%;
}

.new_recipes h2{
    margin: 0;
    font-size: 15px;
}

.new_recipes h1{
    color: #3C3C3C;
    font-size: 20px;
}

.new_recipes p{
    font-size: 10px;
    margin: 0;
}

.new_recipes img:nth-child(1){
    width: 170px;
}

.new_recipes div{
    margin: 5px;
    width: 175px;
}

.new_recipes div:nth-child(1){
    width: 200px;
}

.actualrecipes{
    border: 1px solid #B7D9C4;
    border-radius: 14px;
    padding: 10px;
    background-color: white;
    z-index: 99;
    cursor: pointer;
}

.new_recipes:nth-child(1){
    margin-bottom: 5rem;
}
a{
  text-decoration: none;
}
.edit-profile,.my-recipes1,.upload{
 
  color: grey;
}
