.image-6-icon {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm,
  .recipe {
    margin: 0;
  }
  .recipe-realm {
    position: relative;
    line-height: 23px;
    font-weight: 600;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .recipe-realm-wrapper {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .edit-profile{
    color:grey
  }
  .rating-area,
  .rating-area-wrapper,
  .recipe-realm-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rating-area {
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 0;
    gap: var(--gap-3xs);
  }
  .rating-area-wrapper {
    width: 267px;
    flex-direction: column;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
  }
  .about,
  .home,
  .recipes {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .about,
  .recipes {
    min-width: 54px;
  }
  .recipes {
    min-width: 63px;
  }
  .facebook-icon,
  .recipe-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .facebook-icon {
    width: 318px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .recipe-title {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-4xl) 40px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
    font-family: var(--font-poppins);
  }
  .search-recipe {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .beef-stew-card-child {
    height: 50px;
    width: 539px;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .example-salad {
    width: 95px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: 12px;
    background-color: transparent;
    height: 18px;
    position: relative;
    color: #848484;
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 1;
  }
  .beef-stew-card {
    flex: 1;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 24px;
    min-width: 95px;
    max-width: 100%;
  }
  .beef-stew-card-item {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    right: -144px;
    bottom: -50px;
    left: 144px;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .search {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 50px;
    z-index: 1;
  }
  .beef-stew-card1 {
    cursor: pointer;
    border: 0;
    padding: 15px 46px var(--padding-sm);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .comment-input {
    align-self: stretch;
    flex-direction: row;
    gap: 11px;
  }
  .comment-input,
  .frame-wrapper,
  .search-recipe-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .search-recipe-parent {
    flex: 1;
    flex-direction: column;
    gap: 8px;
  }
  .frame-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 22px;
    box-sizing: border-box;
  }
  .beef-stew {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    min-width: 119px;
  }
  .vegetable-oil-child {
    align-self: stretch;
    height: 28px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .vegetable-oil {
    width: 100px;
    flex-direction: column;
    padding: 4px 0 0;
    box-sizing: border-box;
  }
  .background,
  .recipe-title-parent,
  .vegetable-oil,
  .youtube-instance {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .youtube-instance {
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 0;
    gap: 16px;
  }
  .background,
  .recipe-title-parent {
    flex-direction: column;
    max-width: 100%;
  }
  .recipe-title-parent {
    align-self: stretch;
    gap: 45px;
  }
  .background {
    flex: 1;
    padding: 26px 0 0;
    box-sizing: border-box;
    min-width: 465px;
    font-size: var(--font-size-5xl);
  }
  .frame-child {
    position: absolute;
    top: -300px;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid #ffe495;
    box-sizing: border-box;
    width: 575px;
    height: 575px;
  }
  .hi-yeenphen {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 105px;
  }
  .rate-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0 0;
  }
  .upload-button-icon {
    height: 55px;
    width: 55px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
  }
  .rate-me-parent {
    position: absolute;
    top: 16px;
    left: 144px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
    z-index: 1;
  }
  .ellipse-parent {
    height: 275px;
    width: 402px;
    position: relative;
    max-width: 100%;
    font-size: var(--font-size-base);
  }
  .recipe-box,
  .recipe-box-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .recipe-box {
    width: 1431px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-xl);
    box-sizing: border-box;
    gap: 13px;
  }
  .recipe-box-wrapper {
    align-self: stretch;
    justify-content: flex-end;
  }
  .youtube-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.4),
      rgba(131, 173, 147, 0)
    );
    border: 0 solid #b7d9c4;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .youtube-icon-wrapper {
    margin-left: -1057px;
    height: 1052px;
    width: 1033px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-lgi);
    box-sizing: border-box;
    min-width: 1033px;
    max-width: 138%;
    flex-shrink: 0;
  }
  .you-tube-optou-child {
    height: 454px;
    flex: 1;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .you-tube-optou {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-8xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .this-classic-french {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .ingredients {
    margin: 0;
  }
  .cup-cold-water,
  .cups-water,
  .dried-bay-leaf,
  .large-unpeeled-potato,
  .lb-boneless-beef,
  .medium-carrots-cut,
  .medium-green-bell,
  .medium-stalk-celery,
  .small-onion-chopped,
  .tablespoon-vegetable-oil,
  .teaspoon-pepper,
  .teaspoon-salt,
  .teaspoon-salt1 {
    margin-bottom: 0;
  }
  .tablespoon-vegetable-oil-or-sh {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-xl);
  }
  .ingredients-1tablespoon-vegeta-container {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .this-classic-french-beef-stew-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }
  .stepsmethods {
    margin: 0;
  }
  .add-water-12,
  .blank-line,
  .blank-line1,
  .blank-line2,
  .in-12-inch-skillet {
    margin: 0;
    line-height: 150.1%;
  }
  .stir-in-remaining {
    white-space: pre-wrap;
  }
  .blank-line3,
  .in-tightly-covered,
  .stir-in-remaining {
    margin: 0;
    line-height: 150.1%;
  }
  .stepsmethods-1in-12-inch-container {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .you-tube-optou-parent {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    min-width: 750px;
    flex-shrink: 0;
    debug_commit: 1de1738;
    max-width: 100%;
  }
  .frame-parent,
  .privacy-policy-link {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .privacy-policy-link {
    flex-direction: row;
    align-items: flex-end;
    padding: 0 381px;
    box-sizing: border-box;
    gap: 24px;
    font-size: var(--font-size-mini);
    color: var(--color-black);
  }
  .frame-parent {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xl);
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-darkslategray);
    font-family: var(--font-poppins);
  }
  .quart-dutch-oven-child {
    width: 807px;
    height: 348px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 0.5px solid var(--color-black);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .give-your-rating {
    position: relative;
    line-height: 153.6%;
    font-weight: 500;
    display: inline-block;
    min-width: 125px;
    z-index: 3;
  }
  .give-your-rating-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-6xs);
  }
  .frame-inner,
  .frame-item {
    width: 31.9px;
    height: 29.1px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .frame-item {
    min-height: 29px;
    z-index: 7;
  }
  .frame-inner {
    margin-left: -10.099999999998545px;
    z-index: 6;
  }
  .star-wrapper {
    width: 21.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .star-icon {
    margin-left: -10.200000000004366px;
    width: 31.9px;
    height: 29.1px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 5;
  }
  .star-container {
    width: 21.7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .frame-child1 {
    margin-left: -10.099999999998545px;
    width: 31.9px;
    height: 29.1px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 4;
  }
  .star-frame {
    width: 21.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .frame-child2 {
    margin-left: -10.10000000000582px;
    width: 31.9px;
    height: 29.1px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 3;
  }
  .frame-div,
  .reviewer-name,
  .star-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-div {
    width: 21.8px;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
  }
  .reviewer-name,
  .star-parent {
    flex-direction: row;
  }
  .reviewer-name {
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .author-name,
  .author-name-child,
  .reviewer-name-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .author-name-child {
    border: 0.5px solid var(--color-black);
    background-color: var(--color-white);
    height: 140px;
    width: auto;
    outline: 0;
    flex: 1;
    border-radius: var(--br-xs);
    box-sizing: border-box;
    flex-direction: row;
    padding: var(--padding-smi) 18px;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: var(--font-size-mini);
    color: #898989;
    z-index: 3;
  }
  .author-name,
  .reviewer-name-parent {
    align-self: stretch;
  }
  .author-name {
    flex-direction: row;
    padding: 0 0 0 var(--padding-6xs);
    box-sizing: border-box;
  }
  .reviewer-name-parent {
    flex-direction: column;
    gap: 23.9px;
  }
  .rectangle-div {
    height: 31px;
    width: 88px;
    position: relative;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: none;
  }
  .upload {
    position: relative;
    font-size: var(--font-size-smi);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: white;
    text-align: center;
    display: inline-block;
    min-width: 70px;
    z-index: 1;
  }
  .quart-dutch-oven,
  .rectangle-parent {
    display: flex;
    justify-content: flex-start;
  }
  .rectangle-parent {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-xl) 6px;
    color: white;
    border-radius: 5px;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    flex-direction: row;
    align-items: flex-start;
    z-index: 3;
  }
  .quart-dutch-oven {
    align-self: stretch;
    border-radius: var(--br-xs);
    background-color: white;
    border: 0.5px solid var(--color-black);
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--padding-lgi) 35px var(--padding-4xl) var(--padding-15xl);
    gap: 47px;
    max-width: 100%;
    z-index: 2;
    font-size: var(--font-size-mini);
  }
  .reviews-and-rating {
    width: 230px;
    position: relative;
    line-height: 31px;
    font-weight: 500;
    display: inline-block;
  }
  .reviews-list-icon {
    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: contain;
    z-index: 5;
  }
  .john-doe {
    flex: 1;
    position: relative;
    line-height: 31px;
    font-weight: 500;
  }
  .john-doe-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 3px;
  }
  .frame-child3,
  .search-bar-child {
    width: 26.8px;
    height: 28px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .search-bar-child {
    min-height: 28px;
    z-index: 4;
  }
  .frame-child3 {
    margin-left: -8.5px;
    z-index: 3;
  }
  .search-bar-inner {
    width: 18.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .frame-child4 {
    margin-left: -8.500000000007276px;
    width: 26.8px;
    height: 28px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 2;
  }
  .search-bar-inner1 {
    width: 18.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .frame-child5 {
    margin-left: -8.5px;
    width: 26.8px;
    height: 28px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 1;
  }
  .search-bar-inner2 {
    width: 18.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .frame-child6 {
    margin-left: -8.500000000007276px;
    width: 26.8px;
    height: 28px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .search-bar-inner3 {
    width: 18.3px;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
  }
  .frame-group,
  .search-bar,
  .search-bar-inner3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .search-bar {
    margin: 0;
    flex-direction: row;
  }
  .frame-group {
    position: absolute;
    top: 0;
    left: 58px;
    width: 125px;
    flex-direction: column;
    gap: var(--gap-4xs);
  }
  .youtube-icon1 {
    width: 183px;
    height: 70px;
    position: relative;
  }
  .lorem-ipsum-dolor {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-base);
    line-height: 153.6%;
    font-weight: 500;
  }
  .instagram-logo,
  .instagram-logo-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .instagram-logo {
    flex: 1;
    flex-direction: column;
    gap: 30.5px;
  }
  .instagram-logo-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 79px 0 73px;
    box-sizing: border-box;
  }
  .follow-us-button {
    height: 60px;
    width: 60px;
    position: relative;
    border-radius: 50%;
    object-fit: contain;
  }
  .kamaria {
    flex: 1;
    position: relative;
    line-height: 31px;
    font-weight: 500;
  }
  .kamaria-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-12xs);
  }
  .frame-child7,
  .star-icon1 {
    width: 26.8px;
    height: 28px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .star-icon1 {
    min-height: 28px;
    z-index: 4;
  }
  .frame-child7 {
    margin-left: -8.5px;
    z-index: 3;
  }
  .star-wrapper1 {
    width: 18.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .frame-child8 {
    margin-left: -8.500000000007276px;
    width: 26.8px;
    height: 28px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 2;
  }
  .star-wrapper2 {
    width: 18.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .frame-child9 {
    margin-left: -8.5px;
    width: 26.8px;
    height: 28px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 1;
  }
  .star-wrapper3 {
    width: 18.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .frame-child10 {
    margin-left: -8.500000000007276px;
    width: 26.8px;
    height: 28px;
    position: relative;
    border-radius: var(--br-11xs);
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .star-icon-parent,
  .star-wrapper4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .star-wrapper4 {
    width: 18.3px;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
  }
  .star-icon-parent {
    flex-direction: row;
  }
  .recipe-card,
  .recipe-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .recipe-card {
    align-self: stretch;
    justify-content: flex-start;
    gap: 2px;
  }
  .recipe-card-wrapper {
    flex: 1;
    justify-content: flex-end;
    padding: 0 0 var(--padding-11xs);
  }
  .follow-us-button-parent {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-mini);
  }
  .lorem-ipsum-dolor1 {
    flex: 1;
    position: relative;
    line-height: 153.6%;
    font-weight: 500;
    display: inline-block;
    max-width: 100%;
  }
  .frame-parent1,
  .lorem-ipsum-dolor-sit-amet-co-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .lorem-ipsum-dolor-sit-amet-co-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-8xs);
    box-sizing: border-box;
    font-size: var(--font-size-base);
  }
  .frame-parent1 {
    flex: 1;
    flex-direction: column;
    gap: 31px;
  }
  .frame-container {
    width: 796px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 68px;
    box-sizing: border-box;
  }
  .frame-container,
  .quart-dutch-oven-parent,
  .uploaded-recipe-inner {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .quart-dutch-oven-parent {
    width: 807px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 58px;
  }
  .uploaded-recipe-inner {
    width: 1475px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 131px;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .frame-child11 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    width: 100%;
    height: 100%;
  }
  .login {
    position: absolute;
    top: 5px;
    left: 26px;
    font-weight: 600;
    display: inline-block;
    min-width: 36px;
  }
  .frame-child12,
  .rectangle-group {
    width: 88px;
    height: 31px;
    position: relative;
    display: none;
  }
  .frame-child12 {
    height: 261px;
    width: 1513px;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    max-width: 100%;
  }
  .youtube-icon2 {
    height: 24px;
    width: 24px;
  }
  .follow-us,
  .image-7-icon,
  .youtube-icon2 {
    position: relative;
    z-index: 1;
  }
  .image-7-icon {
    width: 107px;
    height: 107px;
    object-fit: contain;
  }
  .follow-us {
    font-weight: 500;
    display: inline-block;
    min-width: 65px;
  }
  .follow-us-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 2.1px;
  }
  .facebook-icon1,
  .instagram-instagram-icon,
  .tiktok-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .facebook-parent {
    align-self: stretch;
    flex-direction: row;
    gap: 19.9px;
  }
  .facebook-parent,
  .frame-parent2,
  .frame-wrapper1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent2 {
    flex: 1;
    flex-direction: column;
    gap: 18px;
  }
  .frame-wrapper1 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 18.9px;
  }
  .image-7-parent {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-10xl);
  }
  .image-7-parent,
  .youtou-logo,
  .youtou-logo-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .youtou-logo {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: 1px;
  }
  .youtou-logo-wrapper {
    width: 155.7px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .about-us,
  .all-rights-reserved,
  .blank-line4,
  .blank-line5,
  .blank-line6,
  .blank-line7,
  .blank-line8,
  .community-guidelines,
  .contact-us,
  .privacy-policy {
    margin: 0;
  }
  .about-us-privacy-container {
    width: 278px;
    position: relative;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .rectangle-container,
  .uploaded-recipe {
    display: flex;
    box-sizing: border-box;
    font-size: var(--font-size-smi);
    color: var(--color-white);
  }
  .rectangle-container {
    align-self: stretch;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-17xl) 122px 31px 124px;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-family: var(--font-inter);
  }
  .uploaded-recipe {
    width: 100%;
    height: 2894px;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 444px;
    gap: 57px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 1500px) {
    .you-tube-optou-parent,
    .youtube-icon-wrapper {
      flex: 1;
      min-width: 100%;
    }
    .privacy-policy-link {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1225px) {
    .you-tube-optou-parent,
    .youtube-icon-wrapper {
      min-width: 100%;
    }
    .privacy-policy-link {
      padding-left: var(--padding-171xl);
      padding-right: var(--padding-171xl);
      box-sizing: border-box;
    }
    .uploaded-recipe-inner {
      padding-bottom: 85px;
      box-sizing: border-box;
    }
    .uploaded-recipe {
      height: auto;
    }
  }
  @media screen and (max-width: 850px) {
    .comment-input {
      flex-wrap: wrap;
    }
    .recipe-title-parent {
      gap: var(--gap-3xl);
    }
    .background,
    .you-tube-optou-parent,
    .youtube-icon-wrapper {
      min-width: 100%;
    }
    .privacy-policy-link {
      padding-left: var(--padding-76xl);
      padding-right: var(--padding-76xl);
      box-sizing: border-box;
    }
    .instagram-logo {
      gap: var(--gap-mini);
    }
    .instagram-logo-wrapper {
      padding-left: var(--padding-17xl);
      padding-right: 39px;
      box-sizing: border-box;
    }
    .frame-parent1 {
      gap: var(--gap-mini);
    }
    .frame-container {
      padding-left: var(--padding-15xl);
      padding-right: var(--padding-15xl);
      box-sizing: border-box;
    }
    .uploaded-recipe-inner {
      padding-bottom: 55px;
      box-sizing: border-box;
    }
    .rectangle-container {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 62px;
      padding-right: 61px;
      box-sizing: border-box;
    }
    .uploaded-recipe {
      gap: 28px;
    }
  }
  @media screen and (max-width: 450px) {
    .recipe-realm {
      font-size: var(--font-size-base);
      line-height: 18px;
    }
    .beef-stew,
    .search-recipe {
      font-size: var(--font-size-lgi);
    }
    .you-tube-optou-parent,
    .youtube-icon-wrapper {
      min-width: 100%;
    }
    .privacy-policy-link {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .quart-dutch-oven {
      gap: 23px;
    }
    .john-doe,
    .kamaria,
    .reviews-and-rating {
      font-size: var(--font-size-base);
      line-height: 25px;
    }
    .quart-dutch-oven-parent {
      gap: var(--gap-10xl);
    }
    .rectangle-container {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  .frame-item{
    width:100%
  }
  .search-bar-child,
  .star-icon1{
    width:80%
  }
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  .frame-child29 {
    width: 12.563rem;
    height: 14rem;
    position: relative;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    display: none;
  }
  .vector-icon {
    height: 0.55rem;
    width: 0.55rem;
    position: relative;
    z-index: 1;
  }
  .vector-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .edit-profile,
  .my-recipes,
  .upload {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.938rem;
    z-index: 1;
    columns: grey;
  }
  .my-recipes,
  .upload {
    min-width: 4.25rem;
    cursor: pointer;
    color: grey;
  }
  .upload {
    min-width: 2.75rem;
    z-index: 2;
  }
  .my-recipes-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
  }
  .frame-child30 {
    height: 2.188rem;
    width: 9.938rem;
    position: relative;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: none;
  }
  .logout {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 2.688rem;
    z-index: 1;
  }
  .group-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) 3.625rem 0.5rem;
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    flex-direction: row;
    z-index: 1;
  }
  .frame-parent11,
  .group-button,
  .group-section,
  .options {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent11 {
    align-self: stretch;
    flex-direction: column;
    padding: 0 var(--padding-4xs) 0 0;
    gap: var(--gap-xl);
  }
  .group-section,
  .options {
    background-color: var(--color-white);
  }
  .group-section {
    flex: 1;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    flex-direction: column;
    padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
    gap: 0.612rem;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
  }
  .options {
    width: 12.563rem;
    height: 10.313rem;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
    max-width: 90%;
    max-height: 90%;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-smi: 0.813rem;
    --font-size-sm: 0.875rem;
    --font-size-7xs: 0.375rem;
    --font-size-3xs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.188rem;
    --font-size-base: 1rem;
    --font-size-xl: 1.25rem;
    --font-size-5xs: 0.5rem;
    --font-size-mini: 0.938rem;
  
    /* Colors */
    --color-white: #fff;
    --color-powderblue: #b7d9c4;
    --color-gray-100: #898989;
    --color-gray-200: #848484;
    --color-gray-300: #777;
    --color-black: #000;
    --color-darkseagreen: #6fb088;
    --color-darkslategray: #3c3c3c;
    --color-khaki: #ffe495;
  
    /* Gaps */
    --gap-mini: 0.937rem;
    --gap-xl: 1.25rem;
    --gap-12xs: 0.062rem;
    --gap-10xl: 1.812rem;
    --gap-lg: 1.125rem;
    --gap-lgi-9: 1.243rem;
    --gap-2xs: 0.687rem;
    --gap-4xs: 0.562rem;
    --gap-3xs: 0.625rem;
  
    /* Paddings */
    --padding-17xl: 2.25rem;
    --padding-103xl: 7.625rem;
    --padding-12xl: 1.937rem;
    --padding-105xl: 7.75rem;
    --padding-xl: 1.25rem;
    --padding-43xl: 3.875rem;
    --padding-42xl: 3.812rem;
    --padding-12xs: 0.062rem;
    --padding-lg-9: 1.181rem;
    --padding-11xs: 0.125rem;
    --padding-10xs-1: 0.131rem;
    --padding-2xl: 1.312rem;
    --padding-23xl: 2.625rem;
    --padding-6xs: 0.437rem;
    --padding-9xs: 0.25rem;
    --padding-7xs: 0.375rem;
    --padding-mini: 0.937rem;
    --padding-sm: 0.875rem;
    --padding-5xl: 1.5rem;
    --padding-base: 1rem;
    --padding-3xs: 0.625rem;
    --padding-7xl: 1.625rem;
    --padding-smi: 0.812rem;
    --padding-4xs: 0.562rem;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-4xs: 9px;
  }
  .about-us-privacy-container a {
    color: white;
    text-decoration: none;
  }
  .frame-parent62{
      min-height:800px;
  }
  .about-us-privacy-container6 a{
      color: white;
      text-decoration: none;
  }
 
.rectangle-container{
  margin-top: 8%;
}
  