.image-6-icon {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm,
  .recipe {
    margin: 0;
  }
  .recipe-realm {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 23px;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .edit-profile{
    color:grey
  }
  .image-6-parent,
  .recipe-realm-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .recipe-realm-wrapper {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .image-6-parent {
    flex-direction: row;
    gap: 10px;
  }
  .about,
  .home,
  .recipes {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .about,
  .recipes {
    min-width: 54px;
  }
  .recipes {
    min-width: 63px;
  }
  .f-r-a-m-e-h-o-m-e-a-b-o-u-t-r {
    margin: 0;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-200);
    font-family: var(--font-poppins);
  }
  .f-r-a-m-e-h-o-m-e-a-b-o-u-t-r-wrapper {
    margin: 0;
    width: 328px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) var(--padding-3xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .hi-yeenphen {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 105px;
    white-space: nowrap;
  }
  .hi-yeenphen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child {
    height: 44px;
    width: 44px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
  }
  .frame-parent {
    flex-direction: row;
    justify-content: flex-start;
    gap: 9px;
  }
  .f-r-a-m-e-inner,
  .f-r-a-m-e1,
  .frame-parent {
    display: flex;
    align-items: flex-start;
  }
  .f-r-a-m-e-inner {
    flex-direction: column;
    justify-content: flex-start;
    padding: 3px 0 0;
    font-size: var(--font-size-base);
  }
  .f-r-a-m-e1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: 20px;
    font-family: var(--font-poppins);
  }
  .upload-a-recipe {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .upload-a-recipe-wrapper {
    width: 964px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-item {
    height: 50px;
    width: 539px;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .recipe-name {
    width: 81px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    background-color: transparent;
    height: 18px;
    position: relative;
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 1;
  }
  .frame-inner,
  .rectangle-parent {
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-5xl);
  }
  .frame-inner {
    height: 50px;
    width: 380px;
    position: relative;
    display: none;
  }
  .choose-image {
    position: relative;
    font-size: var(--font-size-xs);
    font-family: var(--font-poppins);
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    min-width: 89px;
    z-index: 1;
  }
  .rectangle-group {
    flex: 1;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-5xl);
    min-width: 89px;
    white-space: nowrap;
    max-width: 100%;
  }
  .rectangle-div {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    right: -144px;
    bottom: -50px;
    left: 144px;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .browse {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 52px;
    z-index: 1;
  }
  .rectangle-container {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mini) 45px var(--padding-sm);
    background-color: transparent;
    position: relative;
  }
  .frame-child1,
  .frame-container,
  .frame-wrapper,
  .group-textarea,
  .rectangle-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-container {
    align-self: stretch;
    flex-wrap: wrap;
    gap: var(--gap-mini);
    max-width: 100%;
  }
  .frame-child1,
  .frame-wrapper,
  .group-textarea {
    box-sizing: border-box;
  }
  .group-textarea {
    border: 1px solid var(--color-darkseagreen);
    background-color: var(--color-white);
    height: 118px;
    width: auto;
    outline: 0;
    align-self: stretch;
    border-radius: var(--br-4xs);
    padding: var(--padding-base) var(--padding-5xl);
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
  }
  .frame-child1,
  .frame-wrapper {
    max-width: 100%;
  }
  .frame-child1 {
    border: 1px solid var(--color-darkseagreen);
    background-color: var(--color-white);
    height: 118px;
    width: auto;
    outline: 0;
    flex: 1;
    border-radius: var(--br-4xs);
    padding: var(--padding-base) var(--padding-5xl);
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
  }
  .frame-wrapper {
    align-self: stretch;
    padding: 0 0 6px;
  }
  .add-the-steps {
    position: relative;
    font-size: var(--font-size-smi);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-darkslategray);
    text-align: left;
    display: inline-block;
    min-width: 124px;
  }
  .frame-child2 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
  }
  .step-1 {
    width: 38px;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    background-color: transparent;
    height: 18px;
    position: relative;
    color: #000;
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 1;
  }
  .group-div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-5xl);
    position: relative;
  }
  .frame-child3 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    right: -144px;
    bottom: -50px;
    left: 144px;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .add-a-step {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 77px;
    z-index: 1;
  }
  .group-button,
  .recipe-name-instance {
    display: flex;
    justify-content: flex-start;
  }
  .group-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mini) 33px var(--padding-sm);
    background-color: transparent;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    white-space: nowrap;
  }
  .recipe-name-instance {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-mini);
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .frame-child4 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    right: -539px;
    bottom: -50px;
    left: 539px;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .upload-recipe {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 104px;
    z-index: 1;
  }
  .rectangle-parent1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mini) var(--padding-xl) var(--padding-sm);
    background-color: transparent;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .component-1 {
    align-self: stretch;
    height: 115px;
    padding: 0;
    box-sizing: border-box;
    gap: 40px;
  }
  .add-the-steps-here-parent,
  .component-1,
  .frame-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .add-the-steps-here-parent {
    align-self: stretch;
    gap: 8px;
  }
  .frame-group {
    margin: 0;
    width: 539px;
    gap: var(--gap-mini);
    max-width: 100%;
  }
  .f-r-a-m-e-child {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .f-r-a-m-e,
  .f-r-a-m-e-child,
  .figma-design {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .f-r-a-m-e {
    width: 1311px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 28.5px;
  }
  .figma-design {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 21px;
    box-sizing: border-box;
    text-align: left;
    font-size: 24px;
    color: var(--color-darkslategray);
    font-family: var(--font-poppins);
  }
  .frame-div {
    height: 30px;
    width: 107px;
    position: relative;
    display: none;
  }
  .frame-child5,
  .frame-child6,
  .frame-div {
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .frame-child5 {
    height: 27px;
    width: 115px;
    position: relative;
    display: none;
  }
  .frame-child6 {
    height: 26px;
    width: 174px;
  }
  .frame-child6,
  .frame-child7,
  .frame-child8 {
    position: relative;
    display: none;
  }
  .frame-child7 {
    height: 37px;
    width: 107px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .frame-child8 {
    height: 261px;
    width: 1513px;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    max-width: 100%;
  }
  .youtube-icon {
    height: 24px;
    width: 24px;
  }
  .follow-us,
  .image-7-icon,
  .youtube-icon {
    position: relative;
    z-index: 1;
  }
  .image-7-icon {
    width: 107px;
    height: 107px;
    object-fit: contain;
  }
  .follow-us {
    font-weight: 500;
    display: inline-block;
    min-width: 65px;
  }
  .nav-links-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 2px 0 2.1px;
  }
  .facebook-icon,
  .instagram-instagram-icon,
  .tiktok-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .facebook-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19.9px;
  }
  .nav-links-container-parent {
    flex: 1;
    flex-direction: column;
    gap: 18px;
  }
  .input-fields-container,
  .input-fields-container-inner,
  .nav-links-container-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .input-fields-container-inner {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 18.9px;
  }
  .input-fields-container {
    flex: 1;
    flex-direction: column;
    gap: 29px;
  }
  .branding-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1px;
  }
  .branding-container-wrapper {
    width: 155.7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1px 0 0;
    box-sizing: border-box;
  }
  .about-us,
  .all-rights-reserved,
  .blank-line,
  .blank-line1,
  .blank-line2,
  .blank-line3,
  .blank-line4,
  .community-guidelines,
  .contact-us,
  .privacy-policy {
    margin: 0;
  }
  .about-us-privacy-container {
    width: 278px;
    position: relative;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .group-footer {
    align-self: stretch;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 36px 122px 31px 124px;
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .upload-recipe-logged-in {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
    gap: 611px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 750px) {
    .group-footer {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 62px;
      padding-right: 61px;
      box-sizing: border-box;
    }
    .upload-recipe-logged-in {
      gap: 305px;
    }
  }
  @media screen and (max-width: 675px) {
    .f-r-a-m-e-h-o-m-e-a-b-o-u-t-r-wrapper {
      display: none;
    }
    .component-1 {
      gap: var(--gap-xl);
    }
  }
  @media screen and (max-width: 450px) {
    .upload-a-recipe {
      font-size: 19px;
    }
    .group-footer {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .upload-recipe-logged-in {
      gap: 153px;
    }
  }
  .popup-content,
  .group-section{
    width:200px;
    height: 200px;
    border-radius: 20px;

  }
  .group-button1{
    margin-left: 20px;
    width:150px;
  }
  .edit-profile{
    color:grey;
  }
  .vector-icon {
    height: 0.55rem;
    width: 0.55rem;
    position: relative;
    z-index: 1;
  }
  .vector-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .my-recipes-parent{
     margin-left: 20px;
  }
  .edit-profile,
  .my-recipes,
  .upload {
    margin: 0 auto;
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 3.938rem;
    z-index: 1;
    columns: grey;
  }
  .my-recipes,
  .upload {
    min-width: 4.25rem;
    cursor: pointer;
    color: grey;
  }
  .upload {
    min-width: 2.75rem;
    z-index: 2;
  }
  .my-recipes-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
  }
  .frame-child30 {
    height: 2.188rem;
    width: 9.938rem;
    position: relative;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    display: none;
  }
  .logout {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 2.688rem;
    z-index: 1;
  }
  .group-button1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) 3.625rem 0.5rem;
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    flex-direction: row;
    z-index: 1;
  }
  .frame-parent11,
  .group-button,
  .group-section,
  .options {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent11 {
    align-self: stretch;
    flex-direction: column;
    padding: 0 var(--padding-4xs) 0 0;
    gap: var(--gap-xl);
  }
  .group-section,
  .options {
    background-color: var(--color-white);
  }
  .group-section {
    flex: 1;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-xs);
    flex-direction: column;
    padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
    gap: 0.612rem;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-gray-300);
    font-family: var(--font-poppins);
    border-radius: 30px;
  }
  .options {
    width: 12.563rem;
    height: 10.313rem;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
    max-width: 90%;
    max-height: 90%;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: none;
    flex-direction: column;
    position: fixed;
    inset: 0;
    border-radius: 30px;
  }
  .about-us-privacy-container a {
    color: white;
    text-decoration: none;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-smi: 13px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-base: 16px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkseagreen: #6fb088;
    --color-darkslategray: #3c3c3c;
    --color-gray-100: #848484;
    --color-gray-200: #777;
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-mini: 15px;
  
    /* Paddings */
    --padding-smi: 13px;
    --padding-xl: 20px;
    --padding-mini: 15px;
    --padding-sm: 14px;
    --padding-base: 16px;
    --padding-5xl: 24px;
    --padding-3xs: 10px;
  
    /* Border radiuses */
    --br-4xs: 9px;
  }
  
  