.image-6-icon {
    height: 74px;
    width: 74px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .realm,
  .recipe {
    margin: 0;
  }
  .recipe-realm {
    position: relative;
    line-height: 23px;
    font-weight: 600;
    background: linear-gradient(180deg, #b7d9c4, #d5a74f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .recipe-realm-wrapper {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
  }
  .image,
  .image-wrapper,
  .recipe-realm-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .image {
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 0;
    gap: 10px;
  }
  .image-wrapper {
    width: 267px;
    flex-direction: column;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
  }
  .about,
  .home,
  .recipes {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .about,
  .recipes {
    min-width: 54px;
  }
  .recipes {
    min-width: 63px;
  }
  .frame-header,
  .home-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .home-parent {
    margin: 0;
    width: 318px;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
    font-family: var(--font-poppins);
  }
  .frame-header {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) 23px 40px;
  }
  .search-recipe {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .frame-child {
    height: 50px;
    width: 539px;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .example-salad {
    width: 95px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: 12px;
    background-color: transparent;
    height: 18px;
    position: relative;
    color: #848484;
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 1;
  }
  .rectangle-parent {
    flex: 1;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 24px;
    min-width: 95px;
    max-width: 100%;
  }
  .frame-item {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    right: -144px;
    bottom: -50px;
    left: 144px;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .search {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 50px;
    z-index: 1;
  }
  .rectangle-group {
    cursor: pointer;
    border: 0;
    padding: 15px 46px var(--padding-sm);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .frame-parent1 {
    align-self: stretch;
    flex-direction: row;
    gap: 11px;
  }
  .frame-parent1,
  .frame-wrapper1,
  .search-recipe-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .search-recipe-parent {
    flex: 1;
    flex-direction: column;
    gap: 8px;
  }
  .frame-wrapper1 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 22px;
    box-sizing: border-box;
  }
  .beef-stew {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    min-width: 119px;
  }
  .instance-child {
    align-self: stretch;
    height: 28px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .instance {
    width: 100px;
    flex-direction: column;
    padding: 4px 0 0;
    box-sizing: border-box;
  }
  .beef-stew-parent,
  .frame-container,
  .frame-div,
  .instance {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .beef-stew-parent {
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 0;
    gap: var(--gap-base);
  }
  .frame-container,
  .frame-div {
    flex-direction: column;
    max-width: 100%;
  }
  .frame-div {
    align-self: stretch;
    gap: 45px;
  }
  .frame-container {
    flex: 1;
    padding: 26px 0 0;
    box-sizing: border-box;
    min-width: 465px;
    font-size: var(--font-size-5xl);
  }
  .frame-inner {
    position: absolute;
    top: -300px;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 228, 149, 0.4)
    );
    border: 0 solid #ffe495;
    box-sizing: border-box;
    width: 575px;
    height: 575px;
  }
  .hi-yeenphen {
    position: relative;
    font-weight: 500;
    background: linear-gradient(180deg, #b7d9c4, #83ad93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 105px;
  }
  .hi-yeenphen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0 0;
  }
  .ellipse-icon {
    height: 44px;
    width: 44px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
  }
  .group-div {
    position: absolute;
    top: 16px;
    left: 144px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9px;
    z-index: 1;
  }
  .ellipse-parent {
    height: 275px;
    width: 402px;
    position: relative;
    max-width: 100%;
    font-size: var(--font-size-base);
  }
  .frame-group,
  .frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-group {
    width: 1431px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-xl);
    box-sizing: border-box;
    gap: 13px;
  }
  .frame-wrapper {
    align-self: stretch;
    justify-content: flex-end;
  }
  .ellipse-div {
    align-self: stretch;
    height: 1033px;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(183, 217, 196, 0.4),
      rgba(131, 173, 147, 0)
    );
    border: 0 solid #b7d9c4;
    box-sizing: border-box;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .ellipse-wrapper {
    margin-left: -1057px;
    height: 1075px;
    width: 1033px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 1033px;
    max-width: 138%;
    flex-shrink: 0;
  }
  .rectangle-icon {
    height: 454px;
    flex: 1;
    position: relative;
    border-radius: 12px;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .vector-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 5px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .this-classic-french {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .ingredients {
    margin: 0;
  }
  .cup-cold-water,
  .cups-water,
  .dried-bay-leaf,
  .large-unpeeled-potato,
  .lb-boneless-beef,
  .medium-carrots-cut,
  .medium-green-bell,
  .medium-stalk-celery,
  .small-onion-chopped,
  .tablespoon-vegetable-oil,
  .teaspoon-pepper,
  .teaspoon-salt,
  .teaspoon-salt1 {
    margin-bottom: 0;
  }
  .tablespoon-vegetable-oil-or-sh {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-xl);
  }
  .ingredients-1tablespoon-vegeta-container {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .this-classic-french-beef-stew-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }
  .stepsmethods {
    margin: 0;
  }
  .blank-line {
    margin: 0;
    line-height: 153.6%;
  }
  .add-water-12,
  .blank-line1,
  .in-12-inch-skillet {
    margin: 0;
    line-height: 150.1%;
  }
  .hours-to-2 {
    white-space: pre-wrap;
  }
  .blank-line2,
  .hours-to-2,
  .stir-in-remaining {
    margin: 0;
    line-height: 150.1%;
  }
  .vegetables-are-tender {
    white-space: pre-wrap;
  }
  .blank-line3,
  .blank-line4,
  .heat-to-boiling,
  .in-tightly-covered,
  .vegetables-are-tender {
    margin: 0;
    line-height: 150.1%;
  }
  .stepsmethods-1in-12-inch-container {
    position: relative;
    font-weight: 500;
  }
  .frame-parent,
  .frame-parent2,
  .frame-section {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent2 {
    width: 750px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    min-width: 750px;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .frame-parent,
  .frame-section {
    align-self: stretch;
    text-align: left;
    font-family: var(--font-poppins);
  }
  .frame-section {
    flex-direction: row;
    align-items: flex-end;
    padding: 0 381px;
    box-sizing: border-box;
    gap: 24px;
    font-size: var(--font-size-mini);
    color: var(--color-black);
  }
  .frame-parent {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xl);
    font-size: 20px;
    color: var(--color-darkslategray);
  }
  .rectangle-div {
    height: 21px;
    width: 52px;
    position: relative;
    border-radius: var(--br-4xs);
    border: 1px solid var(--color-darkseagreen);
    box-sizing: border-box;
    display: none;
  }
  .delete {
    position: relative;
    font-size: var(--font-size-5xs);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-darkseagreen);
    text-align: center;
    display: inline-block;
    min-width: 26px;
    z-index: 1;
  }
  .frame-child1,
  .rectangle-container {
    border-radius: var(--br-4xs);
    border: 1px solid var(--color-darkseagreen);
  }
  .rectangle-container {
    cursor: pointer;
    padding: var(--padding-10xs) var(--padding-smi) var(--padding-11xs);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .group-button:hover,
  .rectangle-container:hover {
    background-color: var(--color-seagreen-200);
    border: 1px solid var(--color-seagreen-100);
    box-sizing: border-box;
  }
  .frame-child1 {
    height: 21px;
    width: 52px;
    position: relative;
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    box-sizing: border-box;
    display: none;
  }
  .update {
    position: relative;
    font-size: var(--font-size-5xs);
    font-weight: 300;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 30px;
    z-index: 1;
  }
  .group-button {
    cursor: pointer;
    border: 1px solid var(--color-darkseagreen);
    padding: var(--padding-10xs) 11px var(--padding-11xs);
    background-color: transparent;
    border-radius: var(--br-4xs);
    background: linear-gradient(180deg, #b7d9c4, #6fb088);
    justify-content: flex-start;
  }
  .frame-parent3,
  .group-button,
  .view-recipes-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .frame-parent3 {
    justify-content: flex-start;
    gap: 27px;
  }
  .view-recipes-inner {
    width: 905px;
    justify-content: center;
    padding: 0 var(--padding-xl) 16px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child2 {
    height: 261px;
    width: 1513px;
    position: relative;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: none;
    max-width: 100%;
  }
  .youtube-icon {
    height: 24px;
    width: 24px;
  }
  .follow-us,
  .image-7-icon,
  .youtube-icon {
    position: relative;
    z-index: 1;
  }
  .image-7-icon {
    width: 107px;
    height: 107px;
    object-fit: contain;
  }
  .follow-us {
    font-weight: 500;
    display: inline-block;
    min-width: 65px;
  }
  .recipe-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 2.1px;
  }
  .facebook-icon,
  .instagram-instagram-icon,
  .tiktok-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
  }
  .recipe-steps {
    align-self: stretch;
    flex-direction: row;
    gap: 19.9px;
  }
  .recipe-steps,
  .search-input,
  .search-input-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .search-input {
    flex: 1;
    flex-direction: column;
    gap: 18px;
  }
  .search-input-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 18.9px;
  }
  .image-7-parent {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
  }
  .frame-wrapper2,
  .image-7-parent,
  .youtube-parent {
    display: flex;
    justify-content: flex-start;
  }
  .youtube-parent {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: 1px;
  }
  .frame-wrapper2 {
    width: 155.7px;
    flex-direction: column;
    align-items: flex-start;
    padding: 1px 0 0;
    box-sizing: border-box;
  }
  .about-us,
  .all-rights-reserved,
  .blank-line5,
  .blank-line6,
  .blank-line7,
  .blank-line8,
  .blank-line9,
  .community-guidelines,
  .contact-us,
  .privacy-policy {
    margin: 0;
  }
  .about-us-privacy-container {
    width: 278px;
    position: relative;
    font-weight: 500;
    font-family: var(--font-poppins);
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .group-footer {
    align-self: stretch;
    background: linear-gradient(180deg, #efcd69, #d5a74f);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 36px 122px 31px 124px;
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .view-recipes {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fefefe, #eff3f2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 66px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1500px) {
    .ellipse-wrapper,
    .frame-parent2 {
      flex: 1;
      min-width: 100%;
    }
    .frame-section {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1225px) {
    .ellipse-wrapper,
    .frame-parent2 {
      min-width: 100%;
    }
    .frame-section {
      padding-left: var(--padding-171xl);
      padding-right: var(--padding-171xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 850px) {
    .frame-parent1 {
      flex-wrap: wrap;
    }
    .frame-div {
      gap: var(--gap-3xl);
    }
    .ellipse-wrapper,
    .frame-container,
    .frame-parent2 {
      min-width: 100%;
    }
    .frame-section {
      padding-left: var(--padding-76xl);
      padding-right: var(--padding-76xl);
      box-sizing: border-box;
    }
    .group-footer {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 62px;
      padding-right: 61px;
      box-sizing: border-box;
    }
    .view-recipes {
      gap: 33px;
    }
  }
  @media screen and (max-width: 450px) {
    .beef-stew,
    .search-recipe {
      font-size: var(--font-size-lgi);
    }
    .ellipse-wrapper,
    .frame-parent2 {
      min-width: 100%;
    }
    .frame-section,
    .group-footer {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .view-recipes {
      gap: var(--gap-base);
    }
  }
.about-us-privacy-container a{
  color: white;
  text-decoration: none;
}
.frame-child29 {
  width: 12.563rem;
  height: 14rem;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: none;
}
.vector-icon {
  height: 0.55rem;
  width: 0.55rem;
  position: relative;
  z-index: 1;
}
.vector-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.edit-profile,
.my-recipes,
.upload {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 3.938rem;
  z-index: 1;
  columns: grey;
}
.my-recipes,
.upload {
  min-width: 4.25rem;
  cursor: pointer;
  color: grey;
}
.upload {
  min-width: 2.75rem;
  z-index: 2;
}
.my-recipes-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frame-child30 {
  height: 2.188rem;
  width: 9.938rem;
  position: relative;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  display: none;
}
.logout {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 2.688rem;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 3.625rem 0.5rem;
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-4xs);
  background: linear-gradient(180deg, #b7d9c4, #6fb088);
  flex-direction: row;
  z-index: 1;
}
.frame-parent11,
.group-button,
.group-section,
.options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent11 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-xl);
}
.group-section,
.options {
  background-color: var(--color-white);
}
.group-section {
  flex: 1;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xs);
  flex-direction: column;
  padding: 0.412rem 0.762rem 4.312rem var(--padding-2xl);
  gap: 0.612rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.options {
  width: 12.563rem;
  height: 10.313rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
}
body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 0.813rem;
  --font-size-sm: 0.875rem;
  --font-size-7xs: 0.375rem;
  --font-size-3xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.188rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-5xs: 0.5rem;
  --font-size-mini: 0.938rem;

  /* Colors */
  --color-white: #fff;
  --color-powderblue: #b7d9c4;
  --color-gray-100: #898989;
  --color-gray-200: #848484;
  --color-gray-300: #777;
  --color-black: #000;
  --color-darkseagreen: #6fb088;
  --color-darkslategray: #3c3c3c;
  --color-khaki: #ffe495;

  /* Gaps */
  --gap-mini: 0.937rem;
  --gap-xl: 1.25rem;
  --gap-12xs: 0.062rem;
  --gap-10xl: 1.812rem;
  --gap-lg: 1.125rem;
  --gap-lgi-9: 1.243rem;
  --gap-2xs: 0.687rem;
  --gap-4xs: 0.562rem;
  --gap-3xs: 0.625rem;

  /* Paddings */
  --padding-17xl: 2.25rem;
  --padding-103xl: 7.625rem;
  --padding-12xl: 1.937rem;
  --padding-105xl: 7.75rem;
  --padding-xl: 1.25rem;
  --padding-43xl: 3.875rem;
  --padding-42xl: 3.812rem;
  --padding-12xs: 0.062rem;
  --padding-lg-9: 1.181rem;
  --padding-11xs: 0.125rem;
  --padding-10xs-1: 0.131rem;
  --padding-2xl: 1.312rem;
  --padding-23xl: 2.625rem;
  --padding-6xs: 0.437rem;
  --padding-9xs: 0.25rem;
  --padding-7xs: 0.375rem;
  --padding-mini: 0.937rem;
  --padding-sm: 0.875rem;
  --padding-5xl: 1.5rem;
  --padding-base: 1rem;
  --padding-3xs: 0.625rem;
  --padding-7xl: 1.625rem;
  --padding-smi: 0.812rem;
  --padding-4xs: 0.562rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-4xs: 9px;
}
.about-us-privacy-container a {
  color: white;
  text-decoration: none;
}
.rectangle-container {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-profile{
  color:grey
}